[2020-01-06 22:21] mithro opened #11 "Why is step 2 not just `make openroad_app`?"
Why is step 2 not just `make openroad_app`?
[code]

[2020-01-06 22:28] mithro opened #12 "Issue building OpenROAD/Dockerfile"
I think there is an issue with network, but it is unclear to me what exactly is going wrong?
[code]

Are there prebuilt Docker container that I can pull instead?

[2020-01-06 22:33] mithro opened #13 "Missing `make clean` target"
All makefiles should have a `make clean` target which removes anything the makefile installed.

[2020-01-06 22:46] mithro opened #15 "Current instructions make submodules dirty"
[code]
This is because you clone Yosys and TritonRoute into the `OpenROAD/src` directory. To fix this the OpenROAD repository needs a `.gitignore` to ignore these projects.

[2020-01-07 21:59] stdavids opened #16 "Docker build errors in Cmake"
When attempting to build the tools with docker by running `$ docker build -t openroad -f ./OpenROAD/Dockerfile ./OpenROAD` the build errors out during the `cmake` process. Attached is the output log.

Appears to be different than #12

[build.log](https://github.com/The-OpenROAD-Project/OpenROAD-flow/files/4032643/build.log)

[2020-01-07 22:49] rovinski commented on #16
Hi @stdavids,

Was this issue encountered when using the latest version of the build Makefile? If not, try re-cloning using the build makefile.

This issue is caused because `git clone --recursive` for some reason does not seem to recurse more than 1 level deep in the submodule hierarchy. You need to `cd` into each of the directories that cause errors and do `git submodule update --init --recursiv

[2020-01-07 22:49] #16 closed

[2020-01-08 00:39] rovinski commented on #11
The readme was a bit stale. It has been updated in 20e31d1.

[2020-01-08 00:39] #11 closed

[2020-01-08 17:53] stdavids opened #18 "Add officially supported operating system"
I tried getting the tools running on CentOS 7 and 8 both of which had some issues with software dependencies with the base upstream software repositories.

Cent OS 7 issues
------------------
1. Glibc was too old (had to compile a newer version of glibc)
2. Libffi was too new (fixed by renaming libffi.so.6 to libffi.so.5 using a symlink and adding that path to the LD_LIBRARY_PATH)

CentOS 8 issues

[2020-01-08 17:58] rovinski commented on #17
I noticed the magic files missing this morning and committed edf7173. Try pulling and see if the issue is fixed.

[2020-01-08 18:11] rovinski commented on #17
This was just fixed in

[2020-01-08 18:14] rovinski commented on #18
Thanks for the heads-up. This was probably a mistake on my part in building the release binaries using a  local modules instead of inside Docker (such that the lib versions are tied to CentOS7). I will try to fix and re-release.

[2020-01-09 17:17] tajayi commented on #18
Detailed instructions have been setup to build/install all binaries on CentOS 6/7 here: bit.ly/openroadJan2020

[2020-01-09 17:40] rovinski commented on #18
The prebuilt binaries have been updated such that everything was built in a CentOS 7 container. Hopefully this should alleviate the issue.

[2020-01-09 17:40] #18 closed

[2020-01-09 18:18] stdavids commented on #18
New uploaded binaries are working out of the box on CentOS7.

[2020-01-09 18:21] stdavids opened #19 "README instructions -- Build option 1 git clone command missing flag"
For setting up the flow with `Option 1: Installing build exports`, you still need the --recursive flag when cloning the repo for access to the *.dat files (ie. PORT9.dat, POST9.dat and POWV9.dat).

[2020-01-09 18:25] rovinski commented on #19
Good catch. Fixed in 02c01cd.

[2020-01-09 18:25] #19 closed

[2020-01-10 06:11] jsn1993 opened #20 "[RePlAce] global_placement does not converge"
Today I somewhat confirmed with @tajayi that there is a bug in global_placement. Basically the Nesterov algorithm execution gets stuck in a deadloop. Tutu suggested me run Innovus and it finished.

[code]

I observed the bug when I was trying to push a single butterfly network router generated from PyOCN (our on-chip network generator that is able to generate/simulate/test butterfly, ring, mesh, c

[2020-01-22 22:50] tunghoang290780 opened #21 "Missing PORT9.dat file"
This PORT9.dat file must be copied into OpenROAD-flow/OpenROAD/etc similar to other POWV9.dat, POST9.dat. The PORT9.dat belongs to the yosys package

[2020-01-22 22:53] tajayi commented on #21
I am aware that the  PORT9.dat file is not included in the OpenROAD build. I believe it only requires FluteLUT files: POWV9.dat and POST9.dat.

Can you please elaborate on any specific issue you are experiencing? Did you get an error while performing some operation?

[2020-01-22 22:56] tunghoang290780 commented on #21
So far, I do not see the problem with the missing file PORT9.dat. If that file is no longer use, it is possible to clean up Makefile or script that refer to the PORT9 file

[2020-01-22 23:01] tajayi commented on #21
I assume you are referring to https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/master/flow/Makefile#L126?

It was used once upon a time ago but didn't get cleaned up. I have deleted references to that file in a local commit. It'll take some time before being pushed.

Thanks

[2020-01-22 23:02] tunghoang290780 commented on #21
Hi @tajayi

That is correct! Thanks

[2020-01-22 23:10] tunghoang290780 opened #22 "How to create modified macro LEF file?"
Hi,

I am trying to build a platform for specific in-house standard cell libraries using OpenROAD. One of requirement is to generate merged.lef from NangateOpenCellLibrary.tech.lef and modified macro NangateOpenCellLibrary.macro.mod.lef file. I observe there are differences between the original file ./platforms/nangate45/NangateOpenCellLibrary.macro.lef and the modified NangateOpenCellLibrary.macr

[2020-01-23 02:27] tajayi commented on #22
The primary reason for modifying the NangateOpenCellLibrary.macro.mod.lef is because some tools we used early on during development did not support "POLYGON" pin shapes in the macros. I am uncertain if this is still the case. Note that we have been able to add several other kits without modifications.

NangateOpenCellLibrary.macro.mod.lef was generated using from the gds using commercial tools to

[2020-02-06 21:58] rovinski commented on #15
This should be resolved by af1d4a01.

[2020-02-06 21:58] #15 closed

[2020-02-06 22:01] rovinski commented on #13
As of d588af8 we have moved from a makefile to a bash script. If at some point we move back to a makefile, we will be sure to have a clean target. Right now, cleaning is the same as running `rm -rf tools/build`

[2020-02-06 22:01] #13 closed

[2020-02-06 22:02] rovinski commented on #12
Is this issue still active?

[2020-02-06 22:04] rovinski commented on #21
*.dat files are no longer required as of 048a503. This issue should be resolved now.

[2020-02-06 22:04] #21 closed

[2020-02-06 23:16] rovinski commented on #22
This is still the case at the moment. TritonRoute does not appear to support `POLYGON` pins.
[code]
`RECT` pins are supported.

`ANTENNA*` constructs will not cause issues and do not need to be removed. The fact that `NangateOpenCellLibrary.macro.mod.lef` has those statements removed is just a byproduct of re-abstracting the cells without calculating antenna area.

[2020-02-07 15:59] tunghoang290780 commented on #22
@tajayi @rovinski    I am guessing that to generate NangateOpenCellLibrary.macro.mod.lef, I need to import NangateOpenCellLibrary.gds into commercial tool (i.e. IC Virtuoso) then export another abstract LEF (e.g. NangateOpenCellLibrary.macro.mod.lef)

[2020-02-07 17:53] tajayi commented on #22
That's one way. It's also theoretically possible to write-up some sort of python (or language of choice) script to convert polygon shapes in the lef to a series of rectangles

[2020-02-14 00:36] #12 closed

[2020-02-25 09:16] tunghoang290780 opened #32 "GCD failed with OpenROAD-flow"
I have pulled the latest code for OpenROAD (commit c89bf32) flow and re-run GCD (my sanity test). Apparently, the flow failed with the GCD design and below error appeared

[code]

I keep running flow and it achieves further step, till to another error
[code]

I am wondering have the script and the released package of OpenRoad been updated with the latest OpenROAD-flow?

Thanks

[2020-02-25 19:15] rovinski commented on #32
Hi @tunghoang290780,

We now have an issue template for reporting bugs. If it did not show up as an option when filing the issue, please let me know.

This is one of the designs we use for our regression tests. I have to imagine that this is an issue of an old tool installation.

Was this build from a fresh clone of OpenROAD-flow? If not, you may want to first try

1. `git submodule update --init

[2020-02-27 00:01] tunghoang290780 commented on #32
@rovinski I can build docker successfully but the docker is not run. Do you have any idea?

[code]

[2020-02-27 01:35] rovinski commented on #32
That is a bug in the README. You need to use the `-it` flag to run docker interactively:
[code]
Otherwise, docker will simply create a container and exit.

I will fix the README for the next update to master.

[2020-02-27 01:40] rovinski commented on #32
README fixed in f23aee8.

[2020-02-27 05:46] tunghoang290780 commented on #32
@rovinski thanks for fixes. Meanwhile, I have successfully built the OpenROAD flow from the source (local build) and it works very well.

[2020-02-27 05:47] #32 closed

[2020-03-15 19:53] RTimothyEdwards opened #33 "Update to magic needed"
This is possibly off-topic, because I think that magic is not currently part of the OpenROAD flow integration.  However, I could not find an issue tracker on the magic fork, so I'm posting it here.

A couple of days ago I found a problem in one of the original algorithms in magic for ext2spice extraction, which was particularly badly suited to standard cell layouts and caused an exponentially risi

[2020-03-21 19:03] rbarzic commented on #22
Has anybody started writing such a script ? I may consider writing one myself but if someone has already started I'll likely help

[2020-03-21 19:22] tajayi commented on #22
I'm not aware of any script and/or efforts to write one.
I have also been lucky enough to work with several kits and this is the first one I'm seeing that uses polygons instead of rectangles.

[2020-03-26 18:25] VictorySpecificationII opened #35 "Docker container won't run"
Hi,

Thank you for these tools.

I have a problem; typing

sudo docker run -u $(id -u ${USER}):$(id -g ${USER}) openroad/flow bash

does not open a shell for me; What am I missing?

Many thanks

[2020-03-26 20:05] rovinski commented on #35
Hi @VictorySpecificationII,
Please see https://github.com/The-OpenROAD-Project/OpenROAD-flow/issues/32#issuecomment-591732171. It has not made its way to master yet.

[2020-03-26 20:05] #35 closed

[2020-03-26 22:26] VictorySpecificationII commented on #35
Hi again,

The container is working fine now. CD'ing into the flow directory within openroad/flow and executing make outputs:

Writing replaced file: objects/nangate45/gcd/merged.lib
mkdir -p ./results/nangate45/gcd ./logs/nangate45/gcd ./reports/nangate45/gcd
yosys -l ./logs/nangate45/gcd/1_1_yosys.log -c scripts/synth.tcl
/bin/bash: yosys: command not found
make: *** [results/nangate45/gcd/1_1_y

[2020-03-27 01:46] rovinski commented on #35
Hi @VictorySpecificationII,

Once you start the shell inside docker, you need to make sure that your environment is set up. This can be done with:

[code]

[2020-03-30 20:52] rovinski commented on #20
Hi @jsn1993,

Sorry for taking so long to finally resolve this issue. The author of RePlAce performed a complete rewrite of the tool and it took a while to get the rewrite validated to replace (pun intended) the version of RePlAce in OpenROAD-flow.

I can confirm as of 0dcccdd that all versions of the design pass through RePlAce successfully. However, we have performed an update to our version of

[2020-03-30 20:52] #20 closed

[2020-03-30 21:00] rovinski commented on #33
Hi @RTimothyEdwards,

Thanks for the heads-up. Our flow no longer depends on Magic on the stable or development branches, so we should be unaffected.

[2020-03-30 21:00] #33 closed

[2020-04-04 06:43] oharboe opened #39 "Sharpen the top level README file for first impression"
I propose that the top level readme file should focus on how to take OpenROAD for a spin and that other concerns should be be broken out into another page. There's a lot of confusing information here for someone who sees OpenROAD for the firs time.

Probably the only realistics way to take OpenROAD for a quick spin is to use the pre-built docker images...

[2020-04-04 06:52] oharboe opened #40 "Automate regular releases or retire the releases from this project"
For an open source project like this, Jan 18. is an eon ago.

Either the releases should be published regularly(at least once per month) or releases should not be published and users should be required to build locally.

[2020-04-04 08:18] oharboe opened #41 "Various minor problems when trying to take OpenROAD-flow for a spin"
I had to change the launch command from: ```docker run -u $(id -u ${USER}):$(id -g ${USER}) openroad/flow bash``` to ```docker run -ti -u $(id -u ${USER}):$(id -g ${USER}) openroad/flow bash```, i.e. add the ```-ti``` option

The ```. setup_env.sh``` is missing from the instructions.

Below is how I ran a quick test on a small module. Initially I picked a module without a clock, which didn't work,

[2020-04-04 08:19] oharboe commented on #41
[RotateLeft.zip](https://github.com/The-OpenROAD-Project/OpenROAD-flow/files/4430946/RotateLeft.zip)

[2020-04-04 08:20] oharboe commented on #41
Is there an automated pre-merge test the designs/src/harness?

[2020-04-07 10:37] oharboe opened #44 "LRU.v takes a very long time to go through the OpenROAD-flow"
**Describe the bug**

The tiny LRU.v should go through the OpenROAD-flow in a reasonable amount of time, say 15 minutes.

To reproduce:

1. Check out #43
2. Run ```./build_openroad.sh```
2. Extract "LRU.v", attached to a folder.
3. Run the openroad smoketest. I don't know how long it takes to complete. I stopped it after ca. 1 hr.

[code]

**Expected behavior**

The flow should complete in less th

[2020-04-07 21:02] RatkoFri opened #45 "Small circuits"
Greetings,

I am trying to synthesize small circuits like multipliers. In one tool (QFLOW) my designs exhibit really small energy consumption. On the other hand OpenROAD, I get totally different results. Can you give some tips on how to efficiently synthesize small designs?

Ratko

[2020-04-08 06:01] rovinski commented on #45
Hi @RatkoFri,

Can you please be more specific about the behavior you are seeing? Can you provide us with the verilog and design configuration inputs? Does the difference show up when targeting the nangate45 library, and if so, can you provide the specific numbers you are seeing?

[2020-04-08 07:34] RatkoFri commented on #45
Yeah sure. You will find everything you need in an attachment. Concerning results, I think that tool gives a bigger delay than actual. During development, I especially focused on optimizing the design.
[mult.zip](https://github.com/The-OpenROAD-Project/OpenROAD-flow/files/4448932/mult.zip)

[2020-04-09 11:39] RatkoFri commented on #45
I figured the problem. In one part of my design, I tried to implement the NOR gate with this construction:

assign tmp50 = ~ (data_i[5:4] | data_i[7:6]);

I presume that flow does not recognize that I want to use the NOR gate. Instead, it probably uses an OR gate and inverter to synthesize the NOR operation.

[2020-04-09 11:39] #45 closed

[2020-04-09 17:25] rovinski commented on #45
@RatkoFri If the statement `assign tmp50 = ~ (data_i[5:4] | data_i[7:6]);` is being synthesized differently than what you are expecting, then that would be a synthesis issue from yosys. Both Qflow and OpenROAD use yosys, so I don't see how that could be the origin of the problem unless they are different versions.

You can check the netlist file `1_1_yosys.v` to see exactly which gates it was synt

[2020-04-11 08:18] rovinski commented on #44
The problem is that the core area is set to an unreasonably large size: https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/229a1f41fc9bae5f5dfd871c799edceb985d4b7e/flow/designs/harness.mk#L14-L15

Many operations are proportional to the core area so this will definitely take a long time. You should reduce the core area to a reasonable size or use automatic sizing based on utilization, e.g.

[2020-04-11 09:06] oharboe commented on #44
@rovinski  Fantastic! :-) Works like a charm. I created #49 to fix this. I'm trying it with the openroad branch and https://github.com/The-OpenROAD-Project/OpenROAD/issues/197

[2020-04-11 10:31] oharboe opened #50 "Add example project that uses fake RAM for attached Verilog used to infer RAM"
**Preamble (delete this section after reading)**

The attached DualPortMaskedWrite.sv file is used to infer BRAM in Quartus.

I'd like to see an example design in OpenROAD-flow/designs on how RAM can be mocked/faked so as to be able to run design throw the OpenROAD-flow.

[DualPortMaskedWrite.zip](https://github.com/The-OpenROAD-Project/OpenROAD-flow/files/4464415/DualPortMaskedWrite.zip)

[2020-04-11 10:42] tajayi commented on #50
This is an example design that uses bsg_fakeram in Nangate45
https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/master/flow/designs/nangate45/bp_fe_top.mk

The config file used to generate those in the bsg_fakerame tool is here
https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/master/flow/designs/src/bp_be_top/fakeram.cfg

[2020-04-11 10:51] oharboe commented on #50
@oharboe Thanks! Dual port SRAM is idiomatic for FPGA, so any designs coming from FPGA are likely to use them. If I have dual port SRAM that's as wide and deep, 32 bit wide and 512 rows deep, then I can easily modify my design to instantiate them. I don't think I can synthesize dual port RAM based on two single port RAM, right?

I don't particularly care about design size at this point, I just wan

[2020-04-11 10:56] oharboe opened #51 "Design get stuck in flow, with no output to indicate what's wrong"
I've have a couple of designs that pass in a few minutes through the "harness" project.

However, when I try a bigger project, the flow gets stuck, without any indication as to whether there's any progress or it's stuck.

The design quickly (10 minutes?) gets to where it's apparently stuck below.

This is using "openroad-smoketest" script from #43

[code]

[2020-04-11 11:12] tajayi commented on #50
Not "true" dual-port (allows for reads/writes on both ports which are on different clock domains) which are common primitives on FPGAs. If you are familiar with how the rams are used, you might be able to get away with a single port ram. e.g.  If you don't need  2 clock domains and familiar with the logic, you might realize that there are no situations where you are doing 2 writes in the same cycl

[2020-04-11 11:24] oharboe commented on #50
Quite.... :-) There are some other problems that have to be solved first, but it looks like dual port RAM might be available by then...

[2020-04-11 11:54] oharboe commented on #51
eventually, the flow went on...

[code]

[2020-04-11 13:54] oharboe commented on #51
After a few hours, the flow seems stuck here. It's literally stuck after writing out the "t" letter...

![image](https://user-images.githubusercontent.com/2798822/79045696-afda6a00-7c0c-11ea-9441-02ebee19d781.png)

[2020-04-12 15:24] oharboe commented on #51
Tried it again, stuck at exactly the same place, "updatet", then nothing more...

[2020-04-12 20:58] oharboe commented on #51
I tried a much scaled down version of this design and it went through in a few minutes, producing a GDS file.

[2020-04-12 21:00] tajayi commented on #51
Sorry, haven't had too much time to look into this issue.

My guess is that there might be too many instances for use to handle. What's the cell count from yosys?

[2020-04-12 21:02] oharboe commented on #51
@tajayi  171301 cells from yosys

[2020-04-12 21:06] oharboe commented on #51
I've got a design that's 130943 cells in Yosys. It completes in 6480 seconds, producing a GDS file. It's 5248 Altera ALMs.

[2020-04-12 21:13] tajayi commented on #51
So the step failing is "global route". For some reason, it's finding it challenging or impossible to create route guides. This could be due to congestion in the design, bad placement or a number of other reasons.

My recommendation is to take a look at `4_1_cts_prefillcell.def` in layout. Try to check for any visible issues (feel free to post the screenshot).

To relieve some congestion issue you

[2020-04-12 21:25] oharboe commented on #51
@tajayi  Thanks! I'll try reducing placement density. Silly question what do you mean by "take a look at  4_1_cts_prefillcell.def in layout"? Is there a tool?

[2020-04-12 21:45] tajayi commented on #51
I meant to say "klayout", but auto-correct...
Yes, klayout (which is used to generate the gds) can be used to inspect the design.

You should be able to run `make klayout_4_1_cts_prefillcell.def` to trigger a recipe that opens it up in the app.

[2020-04-13 06:32] oharboe commented on #51
Reduce placement density and scaled down the design, it still get stuck in the same spot. I'm going to have to wait to arrange for you to get the Verilog here, to make progress, I think.

[2020-04-14 20:37] rovinski commented on #44
@oharboe I merged it into the openroad branch which gets merged into master periodically. We want to keep a linear history so please make all pull requests to the openroad branch, thanks.

[2020-04-14 21:52] oharboe commented on #44
@rovinski Thanks!

Riding my hobbyhorse: we are using Mergify to automatically rebase and merge after successful automatic pull request tests

We use Jenkins as well as Google Cloud Build.

We use a google cloud datatbase to keep track of what parts of the code that need to be retested using a content, not git, hash. This yields pull request build times ranging form minutes to hours.

We use a Mer

[2020-04-14 21:55] oharboe commented on #44
This particular issue is solved for me.

The larger issue of how a user is to guess and learn how to adjust hundreds of options with, effectively, infinitely many combinations and many hours turnaround times remains unsolved....

[2020-04-14 22:22] rovinski commented on #44
@oharboe unfortunately our sponsor has prioritized improving the feature set and quality of results over usability in the short term. We have all of our bandwidth dedicated to supporting a full SoC design in advanced nodes (i.e. 16/14nm). We have a very long wish list of usability and infrastructure improvements, but it doesn't look like anyone is going to be working on them until at least July.

[2020-04-15 03:37] oharboe commented on #44
@rovinski Got it. Thanks for lending an ear.

I don't know what the procedure is w.r.t. closing issues, who does that?

[2020-04-16 07:07] oharboe opened #53 "Allow large number of pins for smoketests"
Internally in a design between modules, there can be a very large number of wires.

It would be helpful for testing purposes if OpenROAD-flow allowed generating GDS files for designs for such internal modules.

Currently such designs will fail:

[code]

[2020-04-16 20:11] rovinski commented on #53
I believe this error means that your die area is too small to accommodate all of the I/O pins. Our I/O placer currently supports placement on just two layers, a horizontal metal for East/West pins and a vertical metal for North/South pins. So this error is saying that with the provided die area, it can fit at most 3502 pins if it allocates every available I/O slot, but you have 4421 I/O pins in yo

[2020-04-16 20:17] #44 closed

[2020-04-28 07:37] oharboe opened #57 ""MAZE RIPUP WRONG in newRipupNet" failure"
@tajayi  This is with the aptos8x8-32-bit-confidential.tar.bz2 design.

[code]

[2020-04-28 19:02] wlneto opened #58 "Problem to build with "Option 1""
Hi,

I have been trying to set up the OpenROAD flow through the 1st option (installing the builds). I'm using CentOS, and after following the steps (recursive cloning, untar the release, and setup_env), I'm not able to go beyond Yosys step.

When running "make" in the flow folder, I get a /usr/bin/time permission error during the "openroad -no_init -exit ./scripts/floorplan.tcl" step.
However, I c

[2020-04-28 20:38] rovinski commented on #58
Option 1 is not really viable right now until OpenROAD gets a more automated release system. It is on our road map, but we have sponsor-mandated goals that we have to meet by July. We don't really have resources to spare until then. Please use option 2 or 3 for now.

[2020-04-28 20:38] #58 closed

[2020-04-30 17:40] psgff opened #63 "Problem with projects in pdn.tcl"
**Describe the bug**
A clear and concise description of what the bug is. Please include any tags that apply to this issue:
* [Toolname] OpenROAD-app
* [Flow] .mk attached
* [Design] verilog code attached

My actions were:

[code]

Part of the output where error occurs:
[code]

**Expected behavior**
Continuation of the flow, as it happens to included benchmarks (i.e. tried swerv.mk)

**Environment

[2020-04-30 20:47] rovinski commented on #63
Hi @psgff,

I agree that the error is a bit esoteric; better message logging is a long term goal.

The problem is that your core area is smaller than the default M4 power rail pitch:

[code]

https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/229a1f41fc9bae5f5dfd871c799edceb985d4b7e/flow/platforms/nangate45/grid_strategy-M1-M4-M7.cfg#L8-L11

Because of this, PDNGen cannot place both VDD an

[2020-04-30 20:47] #63 closed

[2020-05-02 18:23] killruana opened #65 "Very long runtime for the report_checks command"
**Describe the bug**
I try to implement an opensource FPGA with the openroad flow.
The report_checks command of the floorplan step was still not finished after 48 hours of execution.

The design is not so big (120k standard cells) but it contains many combinational feedback loops. Maybe this is what the STA tool doesn't like?

**Expected behavior**
A short runtime :)

**Environment (please complet

[2020-05-06 06:22] oharboe opened #67 "Pathologically large negative slack with small design with RAM block"
@rovinski @tutu I've managed to reduce this pathologically large negative slack down to ca. 100 lines of simple Verilog(aptos2x2/StateColumn.v).

I've uploaded the confidential files as confidential-statecolumn-very-large-negative-slack.tar.bz2 (includes everything all the way to the .gds file).

If this proves to be a useful test-case and we can make it a bit more readable, I think we can upload

[2020-05-06 07:11] tajayi commented on #67
The issue is probably due to the fakerams being a bit too fake. The timing data (*.lib) associated with the fakeram is probably ludicrous or using the wrong units somewhere (eg. ps vs ns).

[2020-05-06 07:22] oharboe commented on #67
@tajayi  If I add a register on the input address, then I get terrible(12ns) but not pathological (thousands ns) negative slack.

[2020-05-06 12:08] tajayi commented on #67
I have validated that the timing reports are sane for real process nodes with real srams.  The issue is probably caused by:

1. Inconsistent units in the *.lib file for the standard cells and srams. (Specifically leakage_power_unit and capacitive_load_unit). The merge process (used for yosys) doesn't attempt to make the units coherent.

2. It's possible that they are wild numbers in the lib files

[2020-05-30 11:57] ilesser opened #79 "[Build] Dockerfile build fails due to legacy ius-release.rpm links"
**Describe the bug**
Following the *Option 2: Building the tools using docker* fails due to `https://centos7.iuscommunity.org/ius-release.rpm` link being broken.

As stated in [this iusrepo issue](https://github.com/iusrepo/announce/issues/18) some links will be decommissioned on 2020-06-01, in particular `https://centos7.iuscommunity.org/ius-release.rpm` which is used in many Dockerfiles.

**Expe

[2020-05-30 12:03] ilesser commented on #79
Changing the links to `https://repo.ius.io/ius-release-el7.rpm` should fix everything.

I can provide a PR during the weekend.

[2020-05-30 13:02] ilesser commented on #79
Updating the links fixed the first error but now there is another error since it can't find `git2u`:
![image](https://user-images.githubusercontent.com/16288620/83328876-a8bef800-a25c-11ea-9758-3b05c1ece82d.png)

[2020-06-02 05:50] zhanghb97 commented on #79
You can find the available git version with `repoquery --whatprovides git`.

As for me, I can find the following versions:
[code]

I solve the problem by using git224 (modify the Dockerfile `./tools/OpenROAD/Dockerfile`).

[2020-06-02 16:03] rovinski commented on #79
Fixed in ed2ecee.

[2020-06-02 16:03] #79 closed

[2020-06-05 06:03] puckbee opened #82 "The output of cmd [write_verilog] lacks wire information"
I tried OpenRoad flow and want to output the netlist in each step. So that I could feed it into commercial tool [ Synopsys Formality ] to verify the correctness.

However, the result I got from the cmd [write_verilog] lacks the [wire] part. I traced the code and found out the implementation of [write_verilog] in `OpenSTA/verilog/VerilogWriter.cc`

Is it a bug in `writeModule()` that someone forget

[2020-06-07 23:57] rovinski commented on #82
Can you provide a simple test case and the actual behavior vs. expected behavior?
Also, we do have bug templates. Please use them to help us resolve the issue more quickly.

[2020-06-08 01:49] puckbee commented on #82
Um, I didn't find the bug template anywhere. But  I can provide more details that may help.

Test Case: https://github.com/cliffordwolf/picorv32/blob/master/picorv32.v
Config file: Tiny-test.mk with minor modification
Behaviors:  After you finished the flow, try the 4_cts.v, no wires exist in this file. However, there should be wires in the design, which you may confirm in the 1_synth.v

[2020-06-08 03:50] rovinski commented on #82
When you click on the "New Issue" button, you should get the following screen. Was that not the case?
![image](https://user-images.githubusercontent.com/3936698/83990919-2d72db80-a919-11ea-8f82-fae82fc631fa.png)

Also can you please be more specific about what you mean by "no wires"? As in, no wire declarations?

[2020-06-08 05:29] puckbee commented on #82
Thank you very much. I will use the template the next time.

yes, correct. There are no wire declarations. Is that a bug or a mis-using of this command?

[2020-06-08 17:57] ahmed-agiza commented on #82
You can rewrite the netlist using Yosys if you need the wire declarations:
`
read_verilog -noopt netlist.v
write_verilog -noattr -noexpr -nohex -nodec netlist_rewrite.v
`

[2020-06-10 06:48] puckbee commented on #82
Actually, Yosys works well to me, and I can find the wire declarations in my 1_synth.v. However, the wire declarations seem missing in other netlist files, like 4_cts.v. So that I'm wondering whether it is a bug that the [write_verilog] command in OpenRoad doesn't output the wire declarations.

[2020-06-16 19:32] rovinski commented on #82
@puckbee Please see previous question. Otherwise, I will go ahead and close the issue as stale.

[2020-06-19 17:18] #82 closed

[2020-06-24 13:59] promach opened #91 "Error: global_placement -timing_driven is not a known keyword or flag"
For [aes.mk](https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/master/flow/designs/nangate45/aes.mk) , why do I have the following error during `make DESIGN_CONFIG=./designs/nangate45/aes.mk ` ?

The full terminal log could be [found here](https://github.com/The-OpenROAD-Project/OpenROAD-flow/files/4825808/error.txt)

[code]

[2020-06-26 06:05] rovinski commented on #91
You have a mismatch between your flow version and tool version. You should run with the version of the tools committed via submodule to the branch of `OpenROAD-flow` you are running.

Also, please use the bug template when filing issues.

[2020-06-26 06:05] #91 closed

[2020-06-26 07:31] promach commented on #91
For those interested in this issue, `./build_openroad.sh -o --or-branch openroad` is the correct installation command to use

Besides, remember to `source setup_env.sh`

Here is [an example](https://github.com/promach/noc/tree/development) with detailed installation and usage instructions

[2020-06-26 17:38] rovinski commented on #91
An explanation: both `OpenROAD-flow` and `OpenROAD` have a branch `openroad`. This is the name of the development branch (don't ask me why). If you are using branch `master` of `OpenROAD-flow`, this will have a submodule tied to the version of `OpenROAD` that is compatible. Branch `openroad` of `OpenROAD-flow` has a much more recent version of the flow which tracks branch `openroad` of `OpenROAD`.

[2020-06-30 15:29] gkamendje opened #97 "ERROR: Can't open ABC output file `/tmp/yosys-abc-qguNOC/output.blif'"
Yosys 0.9+1706 (git sha1 4be891e8, gcc 7.5.0-3ubuntu1~18.04 -fPIC -Os)

I am getting the following error message while trying to synthesize my design.
[code]
The file directory exists and write permissions are OK.  There are no warnings that precede the error message. I get this error only when I  run Yosys in the OpenROAD flow. I do not get the error while running Yosys in standalone mode with th

[2020-07-01 21:51] #97 closed

[2020-07-01 21:53] gkamendje commented on #97
running the command /home/myst/tmp_compile/OpenROAD-flow/tools/build/yosys/bin/yosys-abc -s -f /tmp/yosys-abc-qguNOC/abc.script
without redirecting the error message to the null device, I was able to actually see the error message generated by ABC and fix it. Due to a typo, ABC was not able to read the SDC file.
Closing this issue.

[2020-07-03 19:03] gkamendje opened #104 "Broken HEAD of branch openroad"
**Describe the bug**
The following build sequence
[code]
fails with a misleading error message:

[code]

The problem here is that building of AntennaChecker sources failed upstream but the compilation flow failed to detect it.  As can be seen below, scrolling backwards through the compilation log reveals the following error message that should had force compilation to stop. But instead, the flow g

[2020-07-03 19:29] rovinski commented on #104
@gkamendje The "fail upstream" issue is a side effect of building in parallel. It is expected.

With regards to the issue itself, see https://github.com/The-OpenROAD-Project/OpenROAD/pull/363. The fix will be upstreamed here once it is merged.

[2020-07-04 17:51] #104 closed

[2020-07-04 17:52] gkamendje commented on #104
Closing the issue since there is already a pending solution.

[2020-07-07 21:25] rovinski commented on #41
Fixed in f23aee8

Fixed in 8a1c931

As of f25d8b0 TritonCTS should now gracefully exit if there are no clock trees in the design, which allows the design to continue through the flow. TritonCTS will still report an error about no clock nets detected in the log.

A user is free to do so if they desire. I made a note of it in 7b0a77f.

I believe all points in this issue have been addressed so this i

[2020-07-07 21:25] #41 closed

[2020-07-08 01:11] #39 closed

[2020-07-09 13:47] terrifictardigrade opened #108 "Unable to checkout TritonRoute as of 7/8/2020"
When running "git clone --recursive https://github.com/The-OpenROAD-Project/OpenROAD-flow.git" I am unable to checkout TritonRoute. I was working on an automated local install script for the tools, and noticed the issue started yesterday afternoon. Cloning and building was successful just a few hours before that, so I think commit a8431c7f5bfb43bbbc614b79806f04047d138214 may be the problem, but I

[2020-07-09 19:36] rovinski commented on #108
This is more likely because of some updates to the TritonRoute repo. I haven't seen anything on my end, but I'll check it out.

[2020-07-10 00:26] #108 closed

[2020-07-12 20:27] noytzach opened #113 "missing docker command"
I followed the steps according to [this readthedocs page](https://openroad.readthedocs.io/en/latest/user/getting-started.html#option-2-build-from-sources) (build from sources with docker).

When I got to ```Verify installation```, nothing seemed to work or be installed.

I finally found [this page](https://github.com/The-OpenROAD-Project/OpenROAD-flow/blob/master/README.md) which tells you to

thi

[2020-07-12 20:29] rovinski commented on #113
Documentation being out-of-date is a known issue. We don't have the resources to fix it in the near-term. The in-repo documentation is your best bet.

[2020-07-13 12:08] noytzach commented on #113
OK.

I used the **_User-Guide / Getting Started_** link from the homepage of [The OpenRoad Project](https://theopenroadproject.org/).
Maybe you should update it to point to the in-repo README.md

Regards

[2020-07-19 01:24] gkamendje opened #119 "./build_openroad.sh fails while building with clang on Ubuntu 18.04"
Hello,
I am running on Ubuntu 18.04 with both gcc and clang installed.
[code]

running ./build_openroad.sh with clang as the default compiler fails with the following error.

[code]
I guess it is somehow related to the following config message.
[code]
This is rather surprising given that I do have libpthread-stubs0-dev  (0.3-4) installed on my machine. Anyhow, in order to move forward, I  added th

[2020-07-22 08:12] rovinski commented on #124
Issue confirmed. It is very strange to see that, I haven't seen TritonRoute create overlapping routes before (without at least marking them as DRVs). I also don't see this issue on the head of the `openroad` branch (45a4e73). Once the public_tests_all CI test gets unstuck, it should get merged into master.

[2020-10-20 09:53] quentinw91 opened #2 "Resizer Segfaults if setRC.tcl is not present"
Hi,
Nice to see that the OpenRoad-flow repo has been reopened !
Small bug with ```resize.tcl``` script: If the setRC.tcl is removed from the platform directory, the ```repair_design``` command dumps a segmentation fault.

Can be reproduced with the nangate45 gcd example, with OpenRoad-flow-scripts version 85bc23d5e. (Just remove setRC.tcl from platform directory)

[code]

[2020-10-22 02:44] hongzhi2015 commented on #2
I also encounter a crash at `resize.tcl: repair_design`.
At my site, gcd goes through the flow, ibex example always crash.

How to reproduce

Under OpenROAD-flow-scripts/flow:

[code]

...
Perform port buffering...
Perform buffer insertion...
0:06.55elapsed 49%CPU 205784memKB
make: *** [results/sky130/ibex/3_3_place_resized.def] Error 11

Directory designs and platforms must be mounted, because sk

[2020-10-29 23:59] jjcherry56 commented on #2
fixed in 08365fcd resizer missing set_wire_rc seg fault
hongzhi2015: the sky130 platform is broken because it is missing setRC.tcl.
You can add the following to avoid the bug until it gets pushed to the public repo:
set_wire_rc -layer met2

[2020-10-29 23:59] #2 closed, assigned to jjcherry56

[2020-11-06 13:51] davidmetz opened #4 "nangate45/tinyRocket does not place SRAMs"
**Describe the bug**
 [Design] [Flow]
When generating the tinyRocket sample design (`make DESIGN_CONFIG=./designs/nangate45/tinyRocket/config.mk`) SRAMs are not placed.
[2_2_floorplan_io.log](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/5501545/2_2_floorplan_io.log) includes the following error messages:
[code]
I also checked the final GDS and it does not include the dummy S

[2020-11-09 03:02] rovinski commented on #4
The placement errors are actually false errors. Macros are placed in step 2_4. You should be able to open up any DEF after 2_4 and see the macros placed.

FakeRAM does not have GDS views and is a pitfall of the nangate45 process. You will also see the following error during 6_1 GDS merge:
[code]
LEF & Lib views exist, however, and it is useful to use them up until GDS.

If you are using OpenRAM in

[2020-11-13 20:32] rovinski commented on #4
Is this still an issue? Or can it be closed?

[2020-11-19 11:22] davidmetz commented on #4
Hi - thanks for the reply! You are right - they are placed.

[2020-11-19 11:22] #4 closed, assigned to nobody

[2021-02-20 01:52] Holonium opened #5 "Fails to build on Arch: Could not find lemon"
When attempting to build using `./build_openroad.sh`, it will go through the build until it reaches the build for TritonCTS, where it gives this error.
[code]

[2021-02-20 02:01] #5 closed, assigned to nobody

[2021-03-11 14:37] openpowerwtf commented on #5
```sudo apt install liblemon-dev```

[2021-03-30 15:54] maliberty commented on #12
@tspyrou I don't have much in the way of review comments but I'll leave it to you to decide if we want this dependency/capability.  @vvbandeira is updating the build structure so likely this PR will need to be updated with those changes.

[2021-03-30 15:56] yashton commented on #12
The Jenkins build information isn't available to me, clicking on details takes me to a login page. Let me know when the build structure change is done, I'll update.

[2021-03-30 19:00] vvbandeira commented on #12
Looking at the README file for this plugin I think there are better ways to integrate it with the flow repo.

They already provide a docker image on DockerHub, so we don't need to add as submodule or build. See example bellow (maybe the paths are not correct, did not check).
[code]

[2021-03-30 19:02] maliberty commented on #12
For a non-docker build we would need to install it as a dependency in that
case.

On Tue, Mar 30, 2021 at 12:00 PM Vitor Bandeira ***@***.***>
wrote:

[2021-03-30 19:16] vvbandeira commented on #12
Yes that is true, but from what I saw on the PR although the submodule is added, the plugin is only built if it is using docker, i.e., `./build_openroad.sh --local` will not compile the plugin

[2021-03-30 21:16] yashton commented on #12
@vvbandeira looks like I missed adding the local compilation. I will update the script.

[2021-04-02 17:00] tspyrou commented on #12
I replaced this PR with https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/13 in order to bring it up to date with the latest changes. I fixed a merge conflict in the build script. @yashton fyi.

[2021-04-02 17:04] yashton commented on #12
@tspyrou awesome, let me know if there are anything else we need to do.

[2021-04-02 17:17] vvbandeira commented on #13
The build is now failing due to boost installation on our CI machines. lsoracle requires `./b2 install --with-program_options` while we currently install boost with `./b2 install --with-iostreams --with-test`

[2021-04-02 17:44] tspyrou commented on #13
@yashton can LSOracle build with our version of boost? Could you modify the cmakefile?

[2021-04-02 21:12] yashton commented on #13
LSOracle depends on the program_options boost module. You'll need to update the b2 install to include the `--with-program_options` to install that module in addition to the test and iostreams you currently have.

[2021-04-03 02:47] maliberty commented on #13
What is "Lnis uofu"?

[2021-04-04 17:54] raghu1996 opened #14 "OpenRoad docker build error"
Hi,
I am trying to do the docker build by executing ./build_openroad.sh.
However the build errors out with the following message:

g++: fatal error: Killed signal terminated program cc1plus
compilation terminated.
gmake[2]: *** [sec/OpenDB/src/lefin/CMakeFiles/lefin.dir/build.make:183: src/OpenDB/src/lefin/CMakeFiles/lefin.dir/lefTechLayerCutSpacingParser.cpp.o] Error 1
gmake[2]: *** Waiting for u

[2021-04-05 03:21] vvbandeira commented on #14
Hi, I cannot reproduce the error on master branch.
Can you paste the output of the following commands?
[code]

[2021-04-05 04:57] raghu1996 commented on #14
Hi,
Outputs:

 uname -a
Linux localhost.localdomain 3.10.0-1160.6.1.el7.x86_64 #1 SMP Tue Nov 17 13:59:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

 docker --version
Docker version 20.10.5, build 55c4c88

 git status
# On branch master
nothing to commit, working directory clean

 git show
commit 59ad47a1325239b578bf1c2b3cf6617e44d05d47
Merge: c405b57 fe99622
Author: Vitor Bandeira <vvbandeira@users

[2021-04-05 13:55] vvbandeira commented on #14
On my test machine (also a Centos7) I am using the same docker version and commit sha without issue. The only difference being the kernel version, which should not cause this error.
[code]

Could you run the following commands and upload the `output.txt` file generated into https://pastebin.pl/ or a similar site?

[code]

[2021-04-05 17:29] yashton commented on #13
Laboratory for Nano-Integrated Systems at the University of Utah.

[2021-04-07 16:00] raghu1996 commented on #14
Hi
Output log had error message saying virtual memory is out of space. I am trying to build after increasing the memory. Will keep you posted!

[2021-04-08 21:58] raghu1996 commented on #14
The issue is resolved after increasing the virtual memory. Thanks!

[2021-04-08 21:58] #14 closed, assigned to vvbandeira

[2021-04-13 17:07] yashton commented on #13
@tspyrou Anything I can do to help keep this moving?

[2021-04-13 19:54] tspyrou commented on #13
@yashton if you can get it to compile with our updated version of boost that would be great. I will then work on it promptly.

[2021-04-13 20:08] yashton commented on #13
@tspyrou is the compilation failing on your Jenkins CI instance?

[2021-04-16 14:42] tspyrou commented on #13
Yes you can see the red x's in the PR.
I think the need to install in /usr/local is a showstopper. We don't want end users to need root privs.

[2021-04-16 17:54] yashton commented on #13
It's not required to install the config file in /usr/local, that's just a default location.

For your jenkins build, you will need to update the Boost b2 install command to include the `--with-program_options` argument. We are compatible with the boost version you are using, but you are only installing 2 of the boost submodules, test and iostreams. LSOracle uses the program-options submodule, whic

[2021-04-20 20:27] Raynchowkw opened #17 "Error while loading shared libraries: libtclreadline-2.1.0.so"
I "git pull" openroad-flow-scripts and build it again.
When I "cd flow; make", I got error message in terminal outputs.
It is in "17. Executing Verilog backend." It says
"
openroad: error while loading shared libraries: libtclreadline-2.1.0.so: cannot open shared object file: No such file or directory
make: *** [results/nangate45/gcd/2_1_floorplan.def] Error 127
"

[2021-04-20 20:31] maliberty commented on #17
I think you need to set your LD_LIBRARY_PATH to wherever it is installed.

[2021-04-28 06:28] stevvik commented on #17
Hello! I have the same error running flow in docker container. Docker image was created successfully, but flow fails with the error described above. As I understand the installation of this lib is missed in Dockerfile.

[2021-04-28 14:24] maliberty commented on #17
Are you seeing it as missing when you are inside the docker container or outside?  It will only be visible inside the container.  It can't be both linked successfully and missing.

[2021-04-28 14:45] stevvik commented on #17
Of course it is missimg inside container! The "make" inside flow directory in container returns this error. And it helps to copy this libtclreadline-2.1.0.so in /usr/lib64/ directory inside container and I even checked in this change in image! But it would be better to add it's installation in Dokerfile.

[2021-04-28 16:28] Raynchowkw commented on #17
Hi, How to copy libtclreadline-2.1.0.so in /usr/lib64/ inside container?

[2021-04-28 16:42] maliberty commented on #17
The problem is that there are multiple containers involved.  When openroad builds it is in a container with tclreadline installed.  The build result is then copied to a new container which doesn't have it installed.

Vitor will fix the issue but in the short term you can work around it with:
   docker run -it openroad/flow
    yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-lates

[2021-04-28 17:16] #17 closed, assigned to vvbandeira

[2021-04-28 17:29] stevvik commented on #17
Maliberty, please, can you explain why build results are copied to a new container?

[2021-04-28 17:43] maliberty commented on #17
Each of the individual tools (yosys & openroad) has its own docker file so it can be built standalone.  The flow just invokes them to build the tools and copies the build result out.  It avoids repeating each tool's whole Dockerfile again in the flow's Dockerfile which would inevitably lead to synchronization issues.

[2021-04-28 19:36] stevvik commented on #17
Now I see, thank you, Maliberty.

[2021-04-30 05:02] Raynchowkw commented on #17
I am not familiar with docker. I notice that `docker run -it openroad/flow` is different from the corresponding line in README that is `docker run -it -u $(id -u ${USER}):$(id -g ${USER}) -v $(pwd)/flow/platforms:/OpenROAD-flow/flow/platforms:ro openroad/flow bash`.
Which one I should use?
Additionally, after I ran `docker run -it` once and use `ctrl d` to exit, and then ran it again, I found the

[2021-04-30 05:18] vvbandeira commented on #17
Are you seeing the need to install the package after the commit 7c5cd0f ?

For your reference: https://stackoverflow.com/a/26960888

Also, you could create a persistent container take a look into the following commands:
[code]

[2021-04-30 06:40] Raynchowkw commented on #17
I noticed your new commit. I think the added step of "./DependencyInstaller.sh" is exactly what deals with my original problem of missing libtclreadline-2.1.0.so.

---

I find that if I just run `docker run -it openroad/flow`, /flow is not completed and I cannot run `make`.
![image](https://user-images.githubusercontent.com/57028121/116656074-b0e25480-a951-11eb-9321-e3ecf6cd70d0.png)
After I follo

[2021-05-12 20:41] yashton commented on #13
@tspyrou Hi, I've updated LSOracle to remove the dependency on an external Boost https://github.com/lnis-uofu/OpenROAD-flow-scripts/tree/lnis-uofu-lsoracle-integration

[2021-05-13 22:09] animeshbchowdhury opened #23 "Environment variable ABC_CLOCK_PERIOD_IN_PS in synthesis script"
Setting environment variable ABC_CLOCK_PERIOD_IN_PS

I want to generate variant of synthesized files only (no placement and routing). I use `make synth` to generate the synthesized netlist and change 'clock period' in constraint.sdc file to generate a lot of variants. However, varying the clock period is generating the same synthesized netlist.

After looking into the synth.tcl script, I deduced t

[2021-05-13 23:11] maliberty commented on #23
It is optional but you can see an example at https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/2ab12af6646556fc72bd18e0feb47ac4d61a2aed/flow/platforms/nangate45/config.mk#L40

[2021-05-13 23:27] animeshbchowdhury commented on #23
Thanks, this helps a lot!

[2021-05-18 16:01] Raynchowkw opened #24 "Question in running yosys in the flow"
I run "cd flow", "make".
It says it cannot find yosys,
[code]
but I test yosys under "OpenROAD-flow-scripts/tools/yosys" by `./yosys` and it's fine.
I look at the Makefile under "/flow" and think it is stuck in this step:
[code]
I guess the problem may be due to the path of yosys. Do I need to add yosys to system path? How to do this?

[2021-05-18 16:06] Raynchowkw commented on #24
Oh sorry. It's because I forgot to setup env by `source setup_env.sh`.

[2021-05-18 16:06] #24 closed, assigned to nobody

[2021-05-18 16:20] Raynchowkw opened #25 "Failed to run command 'klayout': No such file or directory"
After running `make`, it meets Error when it run `klayout -zz` I guess.
[code]
How to check: Did I install klayout well? Did I set up environment for klayout correctly?
Thanks.

[2021-05-18 16:44] maliberty commented on #25
It doesn't seem like it.  You can install it with

yum install -y https://www.klayout.org/downloads/CentOS_7/klayout-0.26.4-0.x86_64.rpm

[2021-05-18 16:44] #25 closed, assigned to nobody

[2021-05-18 17:14] Raynchowkw commented on #25
After I install it, how to make it searchable by 'make' in the flow? Do I need to build the flow again by `./build_openroad.sh --local` so that I can integrate it into the flow?

[2021-05-18 17:19] maliberty commented on #25
you just need it in your PATH

[2021-05-18 17:30] Raynchowkw commented on #25
Thanks. Got it!
I just installed it and didn't need to add it to PATH manually because it's already in /bin.
So I can run through the flow now.

[2021-05-25 19:59] rovinski commented on #35
Thanks @tspyrou, I was going to make the same comment.

[2021-05-25 20:16] rovinski commented on #23
Is there anything else to be done here? Or can this issue be closed?

[2021-05-25 20:17] animeshbchowdhury commented on #23
This issue can be closed. Thanks for the help.

Best Regards,
Animesh

On Tue, May 25, 2021 at 4:16 PM Austin Rovinski ***@***.***>
wrote:

[2021-05-25 20:38] maliberty commented on #35
The integration itself look ok but the compile is failing for this PR.

[2021-05-25 20:45] #23 closed, assigned to nobody

[2021-05-25 21:09] ravi-varadarajan commented on #32
Hi Matt  Can you approve this PR.  Once this is merged there are a couple of incremental changes that I want to submit namely for Stephano and the update for multiple clocks.  thanks

[2021-05-25 22:30] rovinski commented on #35
@yashton build failure:
[code]

[2021-05-25 22:42] maliberty commented on #35
You are using the filesystem APIs and they are a pain with older compilers.

GNU implementation prior to 9.1 requires linking with -lstdc++fs and LLVM implementation prior to LLVM 9.0 requires linking with -lc++fs.  [https://en.cppreference.com/w/cpp/filesystem]

I tried this earlier and gave up with various problems with macOS and clang (which we don't have a CI for but various developers do use)

[2021-05-27 16:15] ravi-varadarajan commented on #39
I did one more push to the private area branch for add skew/latency at finish stage and reattached the label "Ready to Sync" there

[2021-05-27 19:57] msaligane commented on #41
@vvbandeira this LGTM to pass this testcase in the CI. But it would be nice to make a script to rename the macros post-synth.

[2021-05-27 20:39] vvbandeira commented on #41
I agree, but if you think this is enough for now let's merge this PR. Synth does not change that often, so the main goal here is make the CI test green while we work on a more permanent solution.

[2021-05-28 11:13] ravi-varadarajan commented on #44
@Stephanommg  @vvbandeira  Coverting "wns" to "ws" in the metrics in this PR -- updates all metadata-base-ok.json to reflect the new name

[2021-06-01 21:04] Raynchowkw opened #49 "locally build issue"
I have successfully built openroad-flow-scripts before. This time, I forked it to my own repo and made some modifications. And I used `git clone --recursive` to download it to another directory than the previous successfully built one.
When I run `./build_openroad.sh --local`, it just reach [89%] and get an error.
[code]
Could anyone help me? Thanks.

[2021-06-01 21:07] maliberty commented on #49
you have to actually include the error ....

[2021-06-01 21:09] Raynchowkw commented on #49
I did `git checkout master` in my tools/Openroad and ran it again. Now it stopped at
[code]

[2021-06-01 21:10] maliberty commented on #49
again no error message....

[2021-06-01 21:12] Raynchowkw commented on #49
OK. I find those by searching in terminal. I think it is because my modifications of TritonRoute src code.
[code]

[2021-06-01 21:15] maliberty commented on #49
There is no such code in the current master branch.  I don't know what you are working on but the problem seems to be local.

[2021-06-01 21:15] #49 closed, assigned to nobody

[2021-06-01 21:17] Raynchowkw commented on #49
Yes I think so. Sorry about that. I made some modification of the code. And I show that in the discussion [#625](https://github.com/The-OpenROAD-Project/OpenROAD/discussions/625). Let's discuss this there. Thanks.

[2021-06-04 22:08] tspyrou commented on #51
@arlpetergadfort this is the first small step in making a hierarchical flow.

[2021-06-13 20:00] peijunh opened #54 "Can't find object for defparam `EnableDataIntgGen`!"
Hello! When I run "make synth" in the OpenROAD-flow-scripts/flow , I have the following error reported:

75.2.59. Executing AST frontend in derive mode using pre-parsed AST for module `\tlul_adapter_reg'.
/home/houpeijun/peijunh/opentitan_sverilog/prim_subreg.v:0: ERROR: Can't find object for defparam `EnableDataIntgGen`!
make: *** [results/sky130hd/opentitan_soc/base/1_1_yosys.v] Error 1

While t

[2021-06-13 20:32] maliberty commented on #54
Can you provide a test case?

[2021-06-13 20:33] maliberty commented on #54
You may also want to ask https://github.com/YosysHQ/yosys

[2021-06-13 20:35] msaligane commented on #54
Yes, I think Peijun was supposed to file an issue there.

[2021-06-13 20:35] #54 closed, assigned to nobody

[2021-06-15 22:33] tspyrou commented on #35
@yashton I think if you fetch the latest code from OpenROAD that the code scan error you see in the CI will disappear.

[2021-06-15 22:44] maliberty commented on #35
I think the security scan problem is actually mine.  I tested the new big
file whitelist on OR but not ORFS.  I'll take a look now.

Matt

On Tue, Jun 15, 2021 at 3:34 PM Tom Spyrou ***@***.***> wrote:

[2021-06-15 22:51] yashton commented on #35
@tspyrou do you mean update the OpenROAD submodule? I see no new changes on master for this repository.

[2021-06-15 22:55] maliberty commented on #35
Fixed

[2021-06-15 23:34] yashton commented on #35
We still need the header files to compile against.

On Tue, Jun 15, 2021, 5:30 PM Matt Liberty ***@***.***> wrote:

[2021-06-16 00:02] maliberty commented on #35
Then you may compile against one set of headers and run against a yosys compiled with a different set.  That sounds like a sure trip to debugging hell.

[2021-06-16 00:47] yashton commented on #35
It would be annoying, but very obvious when the error is "can't find
symbol".
The question is how stable is the yosys plugin API. If they make a breaking
change in the api, we would be in trouble beyond just compatibility between
our projects.

But again, there's no reason we can't build against the other copy of
yosys, which would be easy to detect at compile time changes in API. We
don't specifi

[2021-06-16 03:31] maliberty commented on #35
It won't be obvious if they add one new field to a structure or change the type of a field or any number of other scenarios.  I would prefer to have one version of yosys in the system not two.

[2021-06-16 15:29] maliberty commented on #35
I am holding approval until the two yosys issue is resolved.   I think you should drop the yosys submodule from the plugin and allow it to point to an external version.

[2021-06-16 15:53] yashton commented on #35
Is it still a problem for you if the submodule is still present in our repo if the compilation is done against version in flow?

[2021-06-16 15:57] jjcherry56 commented on #35
I would say yes, the submodule is a problem.
Much to my dismay, freebsd builds openroad tools as a port. Any code that exists as a different port (like yosys) cannot be a submodule of a port. It is just not good software engineering to have multiple versions of repos.

[2021-06-16 17:26] maliberty commented on #35
Does it make sense that https://github.com/The-OpenROAD-Project/LSOracle-Plugin/blob/main/oracle.cc has
Copyright (C) 2012  Clifford Wolf <clifford@clifford.at>
?

[2021-06-16 17:54] yashton commented on #35
This code was originally derived from the abc plugin, so the terms of the MIT license require maintaining the copyright notice above.

[2021-06-16 22:12] yashton commented on #35
@maliberty I've done the refactoring to remove the submodule and everything is building off tools/yosys

[2021-06-16 22:18] maliberty commented on #35
I don't understand how it is resolved.  I still see a dependency on the plugin and it still has a yosys submodule.

[2021-06-16 22:30] yashton commented on #35
My apologies, I ran submodule deinit, but the LSOracle-Plugin is still referenced in .gitmodules. I've removed that. The submodule in tools is now LSOracle rather than LSOracle-Plugin, which contains both the plugin code and the main lsoracle code.

[2021-06-16 22:40] yashton commented on #35
From the logs on jenkins, it also looks like it is not handling the removal of the LSOracle-Plugin submodule.
[code]
 I'm assuming that means it isn't using a clean copy of the repository to build, still has an initialized submodule, and is trying to update it.

[2021-06-16 23:28] maliberty commented on #35
No it is much more mysterious than that.  I can reproduce it myself by cloning your repo.  I'm not clear why it happens though.  @vvbandeira sees the same.

[2021-06-16 23:30] maliberty commented on #35
If you look at https://github.com/lnis-uofu/OpenROAD-flow-scripts/tree/lnis-uofu-lsoracle-integration/tools you'll see the LSOracle-Plugin dir is present for some reason.

[2021-06-16 23:31] maliberty commented on #35
Perhaps you missed a step from https://gist.github.com/myusuf3/7f645819ded92bda6677
Run git rm --cached path_to_submodule (no trailing slash).

[2021-06-17 00:48] jjcherry56 commented on #35
removing submodules is extremely error prone.
this is the recipe I used on openroad
git submodule deinit <path_to_submodule>
git rm <path_to_submodule>
git commit -m "Removed submodule "
rm -rf .git/modules/<path_to_submodule>

[2021-06-17 15:51] yashton commented on #35
I hard reset back a few commits and redid it, that seems to have fixed it.

[2021-06-17 20:34] maliberty commented on #35
@tspyrou I'm satisfied but your request for change is the last thing remaining.  We are pointing directly at lsoracle rather than a fork in OR (it was the other way with the plugin but that went away).  Do you want this changed?

[2021-06-17 20:37] vvbandeira commented on #35
Should the fork above mentioned by Tom be deleted and a new for [LSOracle](https://github.com/lnis-uofu/LSOracle.git) be created and used in the gitmodules for the same reasons?

[2021-06-17 20:38] maliberty commented on #35
We definitely don't need the plugin fork as we aren't using it now.  If @tspyrou wants the same for lsoracle then yes.

[2021-06-26 14:15] naomimotwani98 opened #64 "[Build] Issue while building the latest version of OpenROAD-flow-scripts"
Build Issue

I encountered the following issue while building the latest version of OpenROAD-flow-scripts with LS Oracle integration.

Scanning dependencies of target lsoracle
[ 96%] Building CXX object core/CMakeFiles/lsoracle.dir/lsoracle.cpp.o
[100%] Linking CXX executable lsoracle
CMakeFiles/lsoracle.dir/lsoracle.cpp.o: In function `int alice::show_command<std::shared_ptr<mockturtle::names_vie

[2021-06-26 20:19] maliberty commented on #64
what OS & compiler are you using?

[2021-06-27 06:23] naomimotwani98 commented on #64
This is what I am currently using

Description:	Red Hat Enterprise Linux Server release 6.10 (Santiago)
Release:	6.10
gcc version 4.4.7

[2021-06-28 03:59] maliberty commented on #64
I don't have access to the platform but from the message it seems like you need to link with librt.  Can you try that?

[2021-06-28 04:01] maliberty commented on #64
We do have in our cmake

if (CMAKE_CXX_COMPILER_ID STREQUAL "GNU"
    AND CMAKE_SYSTEM_NAME STREQUAL "Linux")
  find_library(LIBRT rt)
  target_link_libraries(openroad ${LIBRT})
endif()

Perhaps this needs to trigger on your platform too.

[2021-06-28 19:18] gadfort commented on #65
@jjcherry56 it looks like the -private and this repository is out of sync. These three commits just appeared when the pull request was created, are they something to keep, looks like maybe the two just got out of step somehow?

[2021-06-28 20:59] jjcherry56 commented on #65
they don't matter; it only updated the openroad commit. I messed up and merged to private instead of public

[2021-06-28 21:46] maliberty commented on #65
I think it is fine to let those extras go through with this PR as we need them to be public anyways.

[2021-06-29 00:29] gadfort opened #66 "[Flow] LSoracle integration appears incomplete"
**Describe the bug**
When using the LSORACLE, there are 2 issues.
1. lsoarcle in yosys is excepting some arguments, but the command inserted into the synth.tcl script does not include them so the it generates this message:
[code]
Which does not describe the missing / required arguments what are invalid.

2. When arguments are added to the lsoracle fails with the following message (this issue may b

[2021-06-29 03:23] maliberty commented on #66
@yashton would you take a look at this?

[2021-06-29 03:25] yashton commented on #66
I'll look into it first thing.

On Mon, Jun 28, 2021, 9:23 PM Matt Liberty ***@***.***> wrote:

[2021-06-30 16:06] naomimotwani98 commented on #64
Hi! Sorry for the late response, I didn't get where this should be located.
do you mean in one of the .cmake in OpenROAD-flow-scripts/tools/LSOracle?

[2021-06-30 19:57] rovinski commented on #64
Yes, that seems right. If you get it to work, submit a pull request or open an issue in the [LSOracle source repository](https://github.com/lnis-uofu/LSOracle). We will eventually upstream the changes here.

[2021-06-30 20:18] maliberty commented on #64
I am guessing but in LSOracle/CMakeLists.txt you need to add the above with openroad changed to lsoracle

[2021-06-30 22:18] ibrahimkhairy commented on #66
I have the same issue at my end.

It seems the installed LSOracle source files have a dependency over a hardcoded tool config file;  this hardcoded dependency is located at the following script:
https://github.com/The-OpenROAD-Project-private/LSOracle/blob/master/core/commands/optimization/oracle.hpp

at the following line:
`      std::string config_file{"/usr/local/share/lsoracle/test.ini"}; `

[2021-07-02 17:47] yashton commented on #67
Rerunning the tests, there was some http network error.

[2021-07-02 22:52] #66 closed, assigned to nobody

[2021-07-03 12:55] naomimotwani98 commented on #64
Hi! Unfortunately that did not work - I added the following in LSOracle/CMakeLists.txt -

if (CMAKE_CXX_COMPILER_ID STREQUAL "GNU"
AND CMAKE_SYSTEM_NAME STREQUAL "Linux")
find_library(LIBRT rt)
target_link_libraries(lsoracle ${LIBRT})
endif()

I still got the same error
is there any other workaround?

[2021-07-03 15:02] maliberty commented on #64
do you see -lrt being added to the link invocation?

[2021-07-03 19:17] naomimotwani98 commented on #64
Hey adding the following lines to tools/LSOracle/core/CMakeLists.txt seems to work, It did not throw any error

if (CMAKE_CXX_COMPILER_ID STREQUAL "GNU"
AND CMAKE_SYSTEM_NAME STREQUAL "Linux")
find_library(LIBRT rt)
target_link_libraries(lsoracle ${LIBRT})
endif()

[2021-07-03 19:17] #64 closed, assigned to nobody

[2021-07-12 20:56] peijunh opened #78 "Difference between "CELL_PAD_IN_SITES_GLOBAL_PLACEMENT", "CELL_PAD_IN_SITES_DETAIL_PLACEMENT""
Hello, I am writing to ask about the difference between this two commands:  "CELL_PAD_IN_SITES_GLOBAL_PLACEMENT", and "CELL_PAD_IN_SITES_DETAIL_PLACEMENT"

This two commands are from ./OpenROAD-flow-scripts/flow/designs/$(platform)/$(design)/config.mk

I know they are to keep distance between standard cell but what is their exact difference? Like, are they just happen in different stages in APR?

[2021-07-12 22:14] maliberty commented on #78
They are for different stages as the names imply: global placement and detailed placement.   The general idea is to allow the detailed placer to use a smaller value gives it more room to work with.  In principle they can both be equal though that will make detailed placement more challenging.

[2021-07-13 18:22] peijunh commented on #78
Thanks a lot, I will use CELL_PAD_IN_SITES_GLOBAL_PLACEMENT then!

[2021-07-13 18:22] #78 closed, assigned to nobody

[2021-07-15 11:09] ravi-varadarajan commented on #82
This is the config changes for the small non-macro gallery designs -- aes,  ibex, jpeg

core utilization is ratcheted to 40pct
place_density ratcheted upto around 70pct

I have not changed the constraints.sdc  as that will require all ok files to be updated. Will do that separately.
All secure CI is passing. So this should be ready to merge

[2021-07-15 21:07] ravi-varadarajan commented on #82
deleted all old settings values that were previously commented out.
constraint_ppa.sdc is also removed from config.mk files -- will switch over to the constraint_ppa.sdc in a separate PR which will require all golden files to be changed

[2021-07-20 14:27] nmoroze opened #89 "[Flow] PDN error building coyote_tc sky130hd example"
**Describe the bug**

When building the coyote_tc example for sky130hd (by uncommenting `DESIGN_CONFIG=./designs/sky130hd/coyote_tc/config.mk` in the Makefile and running `make`), I get the following error during PDN generation:

[code]

**Expected behavior**

I'd expect this example design to build fully. It seems like power and ground pads are part of the design.

**Environment (please complete

[2021-07-21 03:15] maliberty commented on #91
@rovinski FYI

[2021-07-21 03:36] rovinski commented on #91
I am making an actual tapcell which I'll push tonight. You can hold off on this.

[2021-07-21 05:55] rovinski commented on #91
Addressed in #92.

[2021-07-23 23:39] jayantcdsouza opened #100 "or_floorplan.tcl script has incorrect switch "-tracks" in it."
When running the openlane flow for design "spm" (and other designs). I see the following:

[ERROR STA-0402] initialize_floorplan -tracks is not a known keyword or flag.
Error: or_floorplan.tcl, 90 STA-0402
child process exited abnormally

The or_floorplan.tcl script has the following in it:
  initialize_floorplan \
    -die_area $::env(DIE_AREA) \
    -core_area $::env(CORE_AREA) \
    -tracks $::

[2021-07-23 23:43] jayantcdsouza commented on #100
should have been posted under openlane.

[2021-07-23 23:43] #100 closed, assigned to nobody

[2021-07-28 11:53] andreaskuster opened #106 "Prequisites/dependency handling"
| Info | |
| --- | --- |
| OS | Ubuntu 20.04 LTS |
| OpenROAD-flow-scripts version | master (006e657571460a89492b0138d57c9118f2a20261) |
| Build option | --local |

**Is your feature request related to a problem? Please describe.**
Local installation using the `build_openroad.sh` script is more tedious than it has to be, if external dependencies (i.e. tcl-dev, libreadline-dev, ..) would either aut

[2021-07-28 11:56] maliberty commented on #106
Use etc/DependencyInstaller.sh to install all required dependencies for a local build.

[2021-07-28 11:56] maliberty commented on #106
@vvbandeira @dralabeing please make this clear in the docs.

[2021-07-28 12:12] andreaskuster commented on #106
Thanks for the swift response. I can confirm that it works with `etc/DependencyInstaller.sh`. It would be great to add this to the README section `Building from Source`

[2021-07-28 16:35] dralabeing commented on #106
Will take care of this

[2021-07-29 04:16] rovinski commented on #108
I am thoroughly confused about this. ORFS is separate from OpenROAD. Where is the readthedocs source coming from? Is the OpenROAD repo going to have documentation on ORFS or vice versa?

This PR deletes a info about the flow that I don't see replicated in the other PR. Is this just going away?

[2021-07-29 04:42] rovinski commented on #106
The README does specify where to find the list of dependencies, but yes, a pointer to `tc/DependencyInstaller.sh` would be useful.

[2021-07-29 11:46] vvbandeira commented on #108
@rovinski we are trying to centralize the documentation to avoid having duplicated text, instructions and guidelines. The goal is to have the project documentation (OR + ORFS) integrated into readthedocs. Indeed that means that the source code for the readthedocs will live in the OR repo, but the goal of keeping everything centralized is to reduce the work to maintain documentation.

The goal was

[2021-07-30 03:02] rovinski commented on #108
Ok that could be a bit confusing, but I can see how that makes sense. I would advise structuring the readthedocs so that OR and ORFS usage instructions are completely separate. Ideally it would probably be broken into 3 main sections: 1) Users who just want to run their design through ORFS with minimal effort 2) Experienced users who want to change ORFS and use the OR API 3) Developers who want to

[2021-07-30 03:27] vvbandeira commented on #108
Yes, we are trying to keep them well separated. If you look at [this temporary webpage ](https://openroad-test.readthedocs.io/en/latest/) that includes the proposed changes. On the left side bar we are keeping OR and ORFS separated, but at the same time we include the Getting Involved, Developer Guide, FAQs outside them as they tend to be related to the "big picture". As always, suggestions are mo

[2021-07-30 06:05] rovinski commented on #108
I see now. Looks fantastic 👍

[2021-08-19 07:54] vijayank88 opened #124 "Not able to run new design"
Its basic question. I ran new designs by adding into container path ./designs/sky130hd/newdesign last week. After git pull latest update, if I run new design by copying file to docker container its fail with  error;
If I create source file manually its working fine. Only if I copied files from local to container, its throwing below error
**bash-4.2$ make DESIGN_CONFIG=./designs/nangate45/eth_top/c

[2021-08-19 16:59] vvbandeira commented on #124
@vijayank88 could you provide as many as possible of the following:

- Test case (design source if public and `config.mk`) either a tarball or link to GitHub repository
- Git hash you are using
- Step-by-step to reproduce the error
- Complete log/commands output

Also, you first mentions `sky130hd` and the error mentions `nangate45`, possibly the issue is with your `config.mk`

[2021-08-19 19:16] macd opened #125 "Add reporting of Fmax after only synthesis to Jenkins reports"
Currently, the Jenkins metrics comparison per design shows the instance stdcell count as well as instance stdcell area.  It would be great to also track the Fmax of the initial design produced by the scripts driving  Yosys / ABC.  This would mean adding a step in the flow (I think) that runs OpenSTA on the 1_synth.v netlist.

[2021-08-20 05:09] vijayank88 commented on #124
@vvbandeira  my problem is completely different.
OpenRoad inbuilt example working fine. Even if I create new project and src file within docker container able to proceed without any issue.
Only if I copy source file directory (RTL Codes) from local system to Docker I'm facing above error message.

[2021-08-20 06:03] vijayank88 commented on #124
Just found it default shell is csh.. I switched to bash mode and used docker cp and there is no such error. Thanks

[2021-08-20 06:03] #124 closed, assigned to vvbandeira

[2021-09-02 09:22] vijayank88 opened #146 "depenndency installer failing"
I am trying to install open road flow locally. Trying to install dependencies for Centos7 with below command:
sudo ./etc/DependencyInstaller.sh -run
Got below error message:
No packages marked for update
Loaded plugins: fastestmirror, langpacks
epel-release-latest-7.noarch.rpm

[2021-09-02 14:48] vvbandeira commented on #146
Try to comment out the line that installs [epel](https://github.com/The-OpenROAD-Project/OpenROAD/blob/4d956498152d921d73c06ca161f90356d7bba3a5/etc/DependencyInstaller.sh#L152), looks like you already have it on your system. Then run the script again. Repeat if it complains about any other `rpm` package like [these](https://github.com/The-OpenROAD-Project/OpenROAD/blob/4d956498152d921d73c06ca161f9

[2021-09-03 13:29] vijayank88 commented on #146
@vvbandeira  thanks for the update, able to install all dev packages successfully.
I used #./build_openroad.sh --local after 94% completion of installation got below error:

[ 94%] ABC: `` Building binary: abc-341db25
make[1]: Leaving directory `/home/vijayan/OPEN_ROAD_FLOW/ORFS_LOCALL/OpenROAD-flow-scripts/tools/yosys/abc'
[100%] Building yosys-abc
mkdir -p /home/vijayan/OPEN_ROAD_FLOW/ORFS_LOCAL

[2021-09-03 14:35] maliberty commented on #146
This is an ancient version:
  The CXX compiler identification is GNU 4.8.5

you'll need something more recent.  You may need to do:

source scl_source enable devtoolset-8

before running cmake.

[2021-09-04 06:55] vijayank88 commented on #146
@maliberty  @vvbandeira  thanks for the help. Installed successfully after few tweaking. Also below things can be updated in README.md helpful for new user if they install locally. (Optional Info user allowed to edit)
If user gets error message "Error: Nothing to do" skip those lines from ./etc/DependencyInstaller.sh and continue run.
source below files at the time of running installation.
source

[2021-09-04 06:55] #146 closed, assigned to vvbandeira

[2021-09-07 02:44] maliberty commented on #119
@rovinski do you object to include $(UTILS_DIR)/utils.mk ?  Its the same and has been there since Tutu added it in 1/20.

[2021-09-07 11:48] bkoppelmann opened #147 "[yosys] ERROR: Abort in passes/techmap/extract_fa.cc"
**Describe the bug**
When running the design 'riscv32i' for sky130hd like this
[code]
then yosys fails with the following error message:
[code]
I used a locally built yosys using:
[code]

**Expected behavior**
yosys should produce a synthesized netlist for riscv32i with the sky130 pdk

**Environment (please complete the following information):**
Please only report issues for supported OSs.
 - OS:

[2021-09-07 13:25] maliberty commented on #147
This looks to be a yosys bug and should be reported to https://github.com/YosysHQ/yosys/issues

[2021-09-07 13:25] #147 closed, assigned to nobody

[2021-09-07 20:39] rovinski commented on #119
Mildly, but at least it's not unbounded fragmentation. The rule of thumb has been anything that's directly involved with making/verifying the GDS goes in the main Makefile and everything else is a utility. When Makefiles start getting added for every tool and you have to start searching 3+ Makefile `include`s to figure out the relationship between Makefiles is where it starts getting frustrating f

[2021-09-09 01:22] maliberty commented on #119
passes secure ci & public ci

[2021-09-10 18:36] paulgutwin opened #150 "Unable to create a local build on CentOS7"
**Describe the bug**
I am unable to successfully complete a local build. After running the dependency installer with the -dev option, I then run "./build_openroad.sh --local" but run into an issue with CMAKE including pthreads. I am not familiar with CMAKE and unable to debug the problem further.

As an aside, I am able to successfully build from the OpenROAD repo.

**Expected behavior**
Successfu

[2021-09-10 18:56] rovinski commented on #150
Your compiler is identified as GCC 4 whereas 7+ is required. See https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/146#issuecomment-912586947.

[2021-09-10 19:35] paulgutwin commented on #150
Hello Austin - thank you very much for the pointer.  I (stupidly) overlooked the need to enable GCC 8 and CLANG 7.  My build is now successful.

[2021-09-10 19:35] #150 closed, assigned to nobody

[2021-09-11 05:32] vvbandeira commented on #150
@paulgutwin, happy to know that you were able to build. Out of curiosity, during your first try, did you ever got to our [Getting Started](https://openroad.readthedocs.io/en/latest/user/GettingStarted.html) docs page and was it clear? Just asking to know if there's anything we can clarify in the docs to make things better. Thanks.

[2021-09-11 07:22] rovinski commented on #150
It is possible to give better error messages with something like
[code]
But that is not as robust as `CXX_STANDARD_REQUIRED` which we currently use.

[2021-09-13 10:35] vvbandeira commented on #150
@rovinski can we use both? check first for the version then for std. req.?

[2021-09-13 12:21] paulgutwin commented on #150
@vvbandeira  yes, I was using the [Getting Started](https://openroad.readthedocs.io/en/latest/user/GettingStarted.html) instructions. However, just before the warning regarding enabling GCC-8/CLANG-7, there is a link [Build from sources locally](https://openroad.readthedocs.io/en/latest/user/BuildLocally.html) which of course I followed. Since that page also has instructions regarding verifying th

[2021-09-20 18:58] peijunh opened #161 "Cannot run a sample design coyote_tc in docker"
**Describe the bug**
A clear and concise description of what the bug is. Please include any tags that apply to this issue:
I try to run the sample design sky130hd/coyote_tc in OpenROAD-flow-scripts inside docker. But I get an error at the beginning of floorplan.

* [Design] for example design issues (i.e. the design does not pass functional validation, etc.)

**Expected behavior**
The design pass

[2021-09-20 19:00] maliberty commented on #161
Would you try it with:

./build_openroad.sh --latest

[2021-09-20 19:07] vvbandeira commented on #161
I don't think this design was fully ported into ORFS for public PKDs. There are two stale branches (one from Colin and one I tried to rebase his into master) on the private org, neither work last time I checked.

[2021-09-20 19:55] peijunh commented on #161
@maliberty Thanks! I tried this before I run another flow of OpenROAD-flow-scripts. I got the same floorplan error. @vvbandeira is there a branch where this design work?

[2021-09-20 20:03] vvbandeira commented on #161
@peijunh not that I am aware. If someone wants to try to make the design work and have access to the private org, take a look at branches: coyote-tc-nightly and sky130_coyote_tc.

[2021-09-20 20:12] msaligane commented on #161
@peijunh Let's switch focus on other designs that works first then we could loop back to this one.

[2021-09-25 06:58] vijayank88 opened #164 "chameleon_hier struck at GRT stage"
**Describe the bug**
chameleon_hier I'm trying to run in OpenRoad-flow-scripts using sky130hd tech and enabling  DESIGN_CONFIG=./designs/sky130hd/chameleon_hier/config.mk in Makefile using make command in terminal.
But its got stop at global routing stage with below message:
 [ERROR GRT-0118] Routing congestion too high.
Error: global_route.tcl, 42 GRT-0118

Its in-built example donot know why its

[2021-09-25 10:57] dralabeing commented on #106
This is resolved.

[2021-09-25 10:57] #106 closed, assigned to vvbandeira

[2021-09-25 18:16] akashpatil98 opened #165 "Unable to build from sources using docker"
**Describe the bug**
I'm trying to follow the steps mentioned in the [OpenROAD documentation](https://openroad.readthedocs.io/en/latest/user/BuildWithDocker.html) for **Building from sources using docker** option.

I was able to successfully follow the steps mentioned in the guide till **Clone and Build** option.
In the final step: **Verify Installation**
I'm get an unexpected output when I run th

[2021-09-26 01:05] vvbandeira commented on #165
@akashpatil98 are you using the latest master? Also, what is the output of `./build_openroad.sh`?

[2021-09-26 06:08] akashpatil98 commented on #165
@vvbandeira Yes, I'm using the latest master. The commit is 858f67d1e2509a04e9d2f085cebf6017446bee8c
To reconfirm that I'm using the latest master, I also checked `git status -uno` and this is the output:
[code]
**Output of ./build_openroad.sh**
Please find the complete console output below:

P.S. - I've added the complete output thinking it might be easier to debug. I apologize if I wasn't suppos

[2021-09-26 07:33] vvbandeira commented on #165
@akashpatil98 please try:
[code]

[2021-09-26 09:02] akashpatil98 commented on #165
@vvbandeira Thank you very much! It worked.

I was able to complete the remaining steps mentioned in the [documentation](https://openroad.readthedocs.io/en/latest/user/BuildWithDocker.html)

**Solved: Console output after running the command successfully**
[code]

[2021-09-26 09:02] #165 closed, assigned to vvbandeira

[2021-09-27 23:01] eder-matheus commented on #164
I've tested the failing DEF file with a commercial global router, and the comm tool also reports congestion. I think we need to update the placement configurations to make it pass in GR.

[2021-09-29 09:13] vijayank88 commented on #161
I'm also tried. Problem comes during initialize floor plan with reading site lef file.
Error message as follows with latest OR commit.

[INFO IFP-0001] Added 1535 rows of 10390 sites.
[ERROR PAD-0181] Library cell reference vssio_lvc_ground_pad missing type attribute.
Error: floorplan.tcl, 59 PAD-0181
Command exited with non-zero status 1
Elapsed time: 0:28.44[h:]min:sec. Average CPU: 68%. Peak me

[2021-09-29 15:29] maliberty commented on #161
This design got missed from our all designs list and so was not being tested.  We will take a look at fixing it but I suggest you try another for now.  Sorry for the bother.

[2021-10-01 02:15] workdesk96 opened #172 "--"

[2021-10-01 02:15] #172 closed, assigned to nobody

[2021-10-01 02:19] lakshmi-sathi opened #173 "'Routing Congestion too high' error at Global Routing step"
**Describe the bug**
The flow fails for this BlackParrot front-end design ([bp_fe](https://github.com/bsg-idea/bsg_sky130_designs/tree/test_sky130/designs)) at the Global Routing step with "Routing congestion too high" error. This issue is despite providing a large core area of 11020x8120um.
It is using fakerams generated using [bsg_fakeram generator](https://github.com/bespoke-silicon-group/bsg_f

[2021-10-01 02:26] lakshmi-sathi opened #174 "routing congestion too high error"
**Describe the bug**
The flow fails for these designs - a serv processor design and a tinyRocket processor design ([tinyRocket & serv_fr](https://github.com/bsg-idea/bsg_sky130_designs/tree/test_sky130/designs)) with an error 'no ap for w_mask_in[0] terminate called after throwing an instance of 'std::runtime_error' ' during the detailed routing step.
They are using fakerams generated using [bsg_f

[2021-10-01 02:29] lakshmi-sathi opened #175 "SRAM macro not getting picked up by the flow"
**Describe the bug**
The flow just doesn't seem to pick up the SRAM macro for this manycore tile compute mesh design ([bsg_manycore_tile_compute_mesh_real](https://github.com/bsg-idea/bsg_sky130_designs/tree/test_sky130/designs)).
It is hacking up and using an existing SRAM macro for the SRAM configurations that it requires.
In the log for the macro placement step, this message is noted - 'No macr

[2021-10-01 04:36] maliberty commented on #175
@rovinski do you have time to take a look at this?

[2021-10-01 04:38] maliberty commented on #173
When you have macros you can still have congestion issues in the channels no matter the core size.    Have you tested increasing MACRO_PLACE_HALO and MACRO_PLACE_CHANNEL?

[2021-10-01 19:13] tspyrou commented on #173
@lakshmi-sathi please try Matt's suggestion and close if it works or assign to @eder-matheus  if it doesn't.

[2021-10-01 19:15] tspyrou commented on #175
@rovinski assign to me if you don't have time to look at it.

[2021-10-01 19:17] tspyrou commented on #89
@ibrahimkhairy since this is sky130 can you take a look at it while Colin is busy on other issues?

[2021-10-01 19:27] ibrahimkhairy commented on #89
Yes, sure. I'll have a look.

[2021-10-02 17:40] lakshmi-sathi commented on #173
@maliberty Thanks for that pointer. I tried it out.
Originally the values were:
[code]
I changed it to (I am editing directly in the platform/sky130hd/config.mk):
[code]
Now for some reason it appears to do worse (the overflow values seem larger) and then it terminates with this error:

![image](https://user-images.githubusercontent.com/58559090/135726752-8a8d46e8-f2a6-40b3-8aab-5e59e36acb7d.png)

[2021-10-04 19:24] Stephanommg commented on #174
@lakshmi-sathi I ran tinyRocket with master branch of OpenROAD-flow-scripts and master branch of OpenROAD and it didnt get past macro place.

[2021-10-04 20:48] lakshmi-sathi commented on #174
@Stephanommg  What was the error faced?
For me, if you see my logs, it completed Global Route: https://github.com/bsg-idea/bsg_sky130_designs/blob/test_sky130/designs/tinyRocket/logs/5_1_fastroute.log ,
and in detailed routing step it fails.
Could you get some clue as to what could be causing the flow to fail on it?

[2021-10-04 21:05] Stephanommg commented on #174
@lakshmi-sathi first there were some warnings:

[INFO ODB-0226] Finished LEF file:  ./platforms/sky130hd/lef/sky130_fd_sc_hd_merged.lef
[INFO ODB-0222] Reading LEF file: ./designs/sky130hd/tinyRocket/sram_1024x32.lef
[WARNING ODB-0176] error: undefined layer (OVERLAP) referenced
[INFO ODB-0225]     Created 1 library cells
[INFO ODB-0226] Finished LEF file:  ./designs/sky130hd/tinyRocket/sram_1024x

[2021-10-05 10:34] vijayank88 commented on #173
@lakshmi-sathi Its seems you just copied nangate45 tech example and trying to use sky130nm technology for GDSII generation.
Have you modified configuration file accordingly?

[2021-10-05 16:42] lakshmi-sathi commented on #173
@vijayank88 Yes I am modifying the configuration file but I could use some pointers regarding any variables/options I need to pay attention to.
Might you know maybe, of any options that I could try modifying to tackle
this congestion issue? ( I have tried density, area, cell pad sites, macro
place halo and macro place channel.)

[2021-10-05 20:04] Stephanommg commented on #174
@lakshmi-sathi you can also do

make detail_route_issue

to pack your synthesis result prior to detailed routing so that I can start detailed routing (for debugging) from the same point of you.

[2021-10-05 20:30] taylor-bsg commented on #173
Hi Lakshmi,

If you have any fixes, can you be sure to update in the repo so others can
work off of the latest?

M

On Tue, Oct 5, 2021 at 9:42 AM lakshmi-sathi ***@***.***>
wrote:

[2021-10-05 23:10] lakshmi-sathi commented on #173
Yes Prof., I will keep the designs in the repo upto date with the changes
that I make, and if I am able to get an improved result, I will update the
issue with the same.

On Wed, 6 Oct, 2021, 2:01 am taylor-bsg, ***@***.***> wrote:

[2021-10-06 18:01] lakshmi-sathi commented on #174
@Stephanommg I tried running the tinyRocket with the latest master (of OR and ORFS) like you had suggested and I can confirm that I am getting a similar error like you have mentioned (It's erroring out at PDN)
![image](https://user-images.githubusercontent.com/58559090/136239373-09692adc-7727-4d07-82b2-f11171bb8004.png)

However, with the latest master of OR and 'd1c7001' of ORFS (the default one)

[2021-10-06 21:56] Stephanommg commented on #174
@maliberty can you help here?

[2021-10-06 22:17] maliberty commented on #174
I'll try to see if I can reproduce it.  @lakshmi-sathi it would be a lot simpler if you just ran "make detail_route_issue" in your work area as requested rather than point at git repos.

[2021-10-06 22:20] maliberty commented on #174
This comment makes little sense:

latest master of OR and 'd1c7001' of ORFS (the default one), the design goes through till routing.

I guess you meant

latest master of ORFS and 'd1c7001' of OR (the default one), the design goes through till routing.

Please clarify as d1c7001 is an OR commit.

[2021-10-06 22:24] Stephanommg commented on #174
@maliberty I think @lakshmi-sathi needs more explanation on how to use "make detail_route_issue".

[2021-10-06 23:11] maliberty commented on #174
Just as you would run 'make' in ORFS to run the flow 'make detail_route_issue' will package the test case.  You would run it after the tool has failed and the files are all present.  Any relevant envars should be set as if you were running the tool.

[2021-10-07 03:14] vvbandeira commented on #125
@macd could you check the code and discussion on #168? Mainly, how do Cherry's and Tom's comments affect your request?

[2021-10-07 05:12] macd commented on #125
Hey Vitor,
Sure thing, will take a look at this tomorrow.
Don

On Wed, Oct 6, 2021 at 8:15 PM Vitor Bandeira ***@***.***>
wrote:

[2021-10-07 08:27] lakshmi-sathi commented on #174
@maliberty  Sorry about the confusion, I meant "latest master of ORFS and 'd1c7001' of OR"

Thanks for the pointer!
I have collected the results using 'make detail_route_issue' (on latest master of ORFS and 'd1c7001' of OR'):
[tinyRocket](https://drive.google.com/file/d/1ecu0hiZ9z1J89I1idD6pBEHqi-YKdNWS/view?usp=sharing)
[Serv ](https://drive.google.com/file/d/1iPV30ZZ1wUQF1Evv9CchytA6PvI7s-Os/vie

[2021-10-07 13:31] maliberty commented on #174
I downloaded tinyRocket and unpacked it.  In detail_route_tinyRocket_sky130hd_base_2021-10-07_03-00/logs/sky130hd/tinyRocket/base/5_2_TritonRoute.log there is no error and the flow completes.  This doesn't demonstrate the 'no ap ...' error.

[2021-10-07 13:41] maliberty commented on #174
I downloaded serv but it shows:

[ERROR GRT-0118] Routing congestion too high.

this reproduces the global route issue not the detail route issue reported here.  Please provide an issue file for the 'no ap' problem.

[2021-10-07 14:17] Stephanommg commented on #174
@maliberty I think you missed (at least part of) a [comment ](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/174#issuecomment-936805575) from @lakshmi-sathi. He said that the no ap error is gone, but a "routing congestion too high" appeared. So the error is not the aps anymore. That is part of why I called you.

[2021-10-07 15:53] maliberty commented on #174
It would have been better to close this and open a different issue as it was assigned to @Stephanommg for detailed routing and not global routing.  I've retitled it.

serv is a tiny design embedded in a huge amount of empty space (1500 nets but 1.3M instance most of which are fillter/tapcells).  It makes debugging slower to deal with so much useless space.   I'll try to recreate it in a smaller fo

[2021-10-07 18:20] maliberty commented on #174
I haven't had luck with making a smaller version and don't want to keep fighting it.  Please produce a version with reasonable utilization (currently 0.02%).  You can use 'make global_route_issue' when you have one.

[2021-10-08 03:13] lakshmi-sathi commented on #174
To produce a smaller version I kept a smaller core area of 2280x1680um and ran the flow. Now the utilisation is 5% for serv and it fails at global routing with 'routing congestion too high' error.

Attaching the packed result collected for serv using 'make global_route_issue':
[global_route_serv_frs_sky130hd_base_2021-10-07_22-07.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-script

[2021-10-08 11:14] vijayank88 opened #183 "Flow not able to pass global placement stage"
**Describe the bug**
I'm trying to run dcache module with latest OR commit but failing at global placement. 3_1_place_gp.log with below message.

[INFO GRT-0017] Processing 335 blockages on layer met4.
[INFO GRT-0017] Processing 334 blockages on layer met5.

[INFO GRT-0053] Routing resources analysis:
          Routing      Original      Derated      Resource
Layer     Direction    Resources     R

[2021-10-09 03:49] maliberty commented on #183
I ran with the commit specified and your zip file but I get:

[InitialPlace]  Iter: 20 CG Error: 0.00004177 HPWL: 5835393036
[ERROR GPL-0302] Use a higher -density or re-floorplan with a larger core area.
Given target density: 0.66
Suggested target density: 0.88
Error: global_place.tcl, 63 GPL-0302

I can't reproduce the result you state.  The above shows that the density is too high.

[2021-10-09 04:14] maliberty commented on #174
The problem is that MACRO_PLACE_HALO is too small and there isn't enough space between the standard cells and the ram.  Please try increasing it.  I manually moved the macro 10u east in 4_cts.def and the design routes without trouble.

[2021-10-09 06:50] vijayank88 commented on #183
@maliberty  try below DIE and CORE AREA. You'll get my attached logs.
export DIE_AREA    = 0.0 0.0 4568.875 4579.595
export CORE_AREA   = 5.52 10.88 4563.16 4568.64

[2021-10-11 23:16] maliberty commented on #183
@vijayank88 with those values it runs through without error.  Please package a proper test case.

[2021-10-12 04:56] lakshmi-sathi commented on #174
@maliberty Thanks for that pointer!

I tried increasing MACRO_PLACE_HALO but that strangely seemed to result in a worse overflow during the global routing step. I tried increasing MACRO_PLACE_CHANNEL instead and that reduced the overflow and the Serv design completes the flow.

The max(2*halo, channel) will be the spacing between the macros and between the macros and the boundary am I right? I was

[2021-10-12 05:27] vijayank88 commented on #183
@maliberty Is that able to complete GDSII generation?
May I know your latest OR using and system configuration?

Still I'm facing Command terminated by signal 9. What its point?

[2021-10-12 06:03] lakshmi-sathi commented on #173
@eder-matheus , Hi
  Two other designs from issue #174 could get through the flow by adjusting the MACRO_PLACE_CHANNEL variable so I tried adjusting the MACRO_PLACE_HALO and MACRO_PLACE_CHANNEL variables some more and I was trying to make sense of what I observed:
  Increasing the MACRO_PLACE_HALO or MACRO_PLACE_CHANNEL variables reduces the congestion but increasing beyond a point strangely only

[2021-10-12 21:13] eder-matheus commented on #173
Hi, @lakshmi-sathi. Here is the congestion map of your design after the congestion error:
![image](https://user-images.githubusercontent.com/43450810/137029900-2f24f136-228b-4867-bea0-3fa94bdddf50.png)
The red regions are the ones with overflow, and they are all over the macros. Is it possible that you have unreachable pins on these macros?

[2021-10-12 21:44] maliberty commented on #173
@eder-matheus the macros themselves will likely have blockages producing the red color.  The red around the edges of the macros is more interesting.

[2021-10-12 21:55] rovinski commented on #173
Looks to me like one of three cases:
1) The macros are strongly connected to the core and not the I/O pins. In this case, it seems like the macros are simply oriented the wrong way and should have their pins facing inwards.

2) The macros are connected strongly to both the I/O and core, but there is room to route over the macros. In this case, the router needs to be allowed to route over the macro

[2021-10-12 22:25] maliberty commented on #183
Yes it goes all the way through to gds.
OR: ab532069fb9d60c9e0fa7fa72fa65a311eb55bd9
ORFS: 6e4164b077ca7dbb51673aca2b201f5d53f90ae3

Are you running inside docker?  We have seen cases where hitting the memory limit causes a process to be killed.

[2021-10-12 22:30] maliberty commented on #183
![image](https://user-images.githubusercontent.com/761514/137037607-a45b369e-5dd7-46ab-aab7-5dfffdb9cfc6.png)

[2021-10-13 04:01] lakshmi-sathi commented on #173
@eder-matheus Thanks for generating that congestion map!

And, thanks all for the responses.

About the macros, they are having all their pins on their left side and each pin is having a width of 900nm and the spacing between the pins is 1900nm or more. Also, they have vertical power stripes on metal 4.

The macro LEFs (fakerams) are made of metal layers 1,2,3 and 4 so the router should be able to

[2021-10-13 04:25] rovinski commented on #173
Only if the macro cell power grid does not block a significant number of routes on M5, and M5 is a horizontal layer. If not, then that's a good question.

Regardless of if it's _possible_, if the connectivity is much stronger to the core than the I/O, it is much more beneficial to have the macro flipped in order to reduce wirelength.

[2021-10-13 05:19] lakshmi-sathi commented on #173
The macro just has vertical metal 4 power stripes for both VDD and VSS (alternate vertical metal 4 stripes), the macro LEF does not use metal 5. Do you think there might be something else that could be preventing the routing from happening over the macros?

Regarding specifying the orientation for the macro. Is this how to specify it in the macro placement config?
`<macro instance name> R<rotation

[2021-10-13 07:31] rovinski commented on #173
The macro cell grid is the power grid structure created by PDNgen. The macro has stripes on M4, of course, but the PDN has to connect to it by creating a grid on top of that in M5 and connecting with vias. Those straps on M5 will block some routing resources, although a grid of reasonable density would not.

[2021-10-13 09:01] lakshmi-sathi commented on #173
Thanks for pointing that out, that makes sense. I will then try rotating the macros on the left so that the pins are all inwards.

[2021-10-13 11:56] muhammadusman7 commented on #173
@eder-matheus  Hello.. I was reading your chat here because i am also getting error of Congestion... I would like to know that how did you open the congestion map? As i am only seeing LEF files in directory but not any MAG file.

[2021-10-13 12:03] eder-matheus commented on #173
Hi, @muhammadusman7. You can run the OpenROAD with the GUI enabled. In the `.tar.gz` file sent by @lakshmi-sathi, you can add the flag `-gui` when running openroad. In the GUI, you'll see the "Congestion Map" option, as well as the Congestion Setup. Check the figure below:
![Screen Shot 2021-10-13 at 09 02 46](https://user-images.githubusercontent.com/43450810/137128819-1c144a0b-c26b-4bd2-ab4a-c83

[2021-10-13 18:46] dralabeing commented on #183
@vijayank88 Please re-test without docker. Also attach a fully-contained tarball when submitting issues to help reproduce easily and correctly. Thanks

[2021-10-14 14:17] maliberty commented on #173
@eder-matheus it remains odd that increasing the halo worsens the congestion.  It should be at most neutral.  Any thoughts?

[2021-10-14 14:24] eder-matheus commented on #173
Maybe the placement gets worse when increasing the halo, resulting in more congestion. AFAIK, we don't have many designs with macros in sky130 platforms, so I don't know how our placement behaves with different macro configurations.

[2021-10-14 14:52] eder-matheus commented on #173
Another comment, not related to the macro halo, but even a commercial tool cannot generate a global routing result without overflow in the test case attached by @lakshmi-sathi.

[2021-10-15 19:45] taylor-bsg commented on #173
@eder-matheus What is the issue in the commercial tool? Are there too many pins on the periphery of the design, too many pins on the RAM, .. or?  If M5 is free, then it seems like the ram itself should not present a significant blockage.

[2021-10-15 19:46] taylor-bsg commented on #175
@tspyrou Seems like Austin may be busy

[2021-10-15 19:47] taylor-bsg commented on #174
@maliberty any thoughts on Lakshmi's questions?

[2021-10-15 23:00] rovinski commented on #175
Hi @lakshmi-sathi this just got lost in my notifications. It looks like you aren't reading in the memory lib. You need to add the line:
[code]
Blackbox verilog files have not been used for quite a while; OpenROAD requires a lib file for all macros, so you should remove the `VERILOG_FILES_BLACKBOX` line.

If this is a real RAM, you will need to include the GDS file under `ADDITIONAL_GDS` as well, o

[2021-10-16 08:33] vijayank88 commented on #183
@dralabeing @maliberty thanks. I tried with latest OR commit. Still flow got terminated by signal 9. I've installed ORFS locally and tried with 16GB RAM and 80GB free space available. Its Single core processor. If its related to memory we can close this issue as you're able to generate GDSII. I will attach my tarball for your reference.

[2021-10-17 06:32] rovinski commented on #183
@vijayank88 On my machine it uses a peak of 48 GB for global place.

The main problem is your design is instantiating 8 KB of synthesized RAM. You should be using a memory compiler to generate these RAMs.

The memory and runtime of the flow is related to the number of instances created (as well as the total area). Your design is using over 700k instances, which is, relatively speaking, a very larg

[2021-10-17 06:36] #183 closed, assigned to nobody

[2021-10-18 05:10] vijayank88 commented on #183
@rovinski thanks for the pointing the memory compiler issue. Can you help how to install/use memory compiler to resolve such issues on OL?

[2021-10-18 06:44] rovinski commented on #183
No, not really. I focus on OpenROAD and OpenROAD-flow-scripts. I believe most people are using [OpenRAM](https://github.com/VLSIDA/OpenRAM) for Sky130/OpenLane. You should ask in the Sky130 Slack or the OpenLane repo.

[2021-10-18 12:36] lakshmi-sathi commented on #175
@rovinski I had previously tried with ADDITIONAL_LIBS but it wasn't working for me. I tried again just like you mentioned and here is what I get in the macro placement log:
[code]

It still seems to skip the macro placement.
Here is the config I am giving (I have removed `VERILOG_FILES_BLACKBOX` and I have added `ADDITIONAL_LIBS`, I am yet to add the GDS, just thought to see if it'll pick up the m

[2021-10-18 14:27] maliberty commented on #175
Your problem is:

[WARNING ODB-0205] The LEF UNITS DATABASE MICRON convert factor (2000) is greater than the database units per micron (1000) of the current technology.

this really should be an error as we disallow the ram cell on this basis.

[2021-10-18 16:59] lakshmi-sathi commented on #175
I'm using the pre-built SRAM configuration made available via this repo:
https://github.com/efabless/sky130_sram_macros/tree/main/sky130_sram_1kbyte_1rw1r_8x1024_8

Is this an issue with how the SRAMs were generated? These SRAMs seem to be developed for use with RTL2GDS flows for sky130, am I right?

[2021-10-18 17:29] maliberty commented on #175
This is an issue for efabless to fix.  Please open an issue with that repo.  I'll keep this issue just for the warning vs error update.

[2021-10-18 20:36] eder-matheus commented on #173
@taylor-bsg The global routing ends with congestion, and the detailed routing ends with almost 200 violations (shorts and min area). All the violations occur in the macros, specifically the ones at the bottom of the core area.

[2021-10-18 21:31] maliberty commented on #175
Fixed with https://github.com/The-OpenROAD-Project/OpenROAD/pull/1214

[2021-10-18 21:31] #175 closed, assigned to rovinski

[2021-10-19 09:01] lakshmi-sathi commented on #173
@eder-matheus So by min area violations does it hint that there isn't enough spacing between the pins of the macro? (Currently, the spacing between the pins is 1900nm or more, does that sound fine?)

[2021-10-19 23:37] lakshmi-sathi commented on #173
@eder-matheus @rovinski I tried manually specifying the macro locations and orientations via a macro placement config file with the following lines:
[code]
 Since the macro pins are all on the left side of the macros, I'm orienting the macros such that the pins are all always facing inwards of the die (macros on the left side are rotated 180 degrees).

There is still an overflow (more than before)

[2021-10-20 16:56] taylor-bsg commented on #175
@mguthaus there seems to be a problem with interfacing the Sky130 SRAM LEFs to OpenRoad?

[2021-10-20 17:40] maliberty commented on #175
@mguthaus the LEF needs to be in 1000 dbu/uu in skywater

[2021-10-20 17:44] mguthaus commented on #175
HI @maliberty, where is that specified? I've been using 2000 in multiple tape outs through OpenLane.

[2021-10-20 17:53] maliberty commented on #175
@mguthaus https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd/blob/ac7fb61f06e6470b94e8afdf7c25268f62fbd7b1/tech/sky130_fd_sc_hd.tlef#L26

[2021-10-20 18:00] mguthaus commented on #175
Actually, the 2000 is not correct. It should be 1000. It must be that OpenLane just ignores this. My other technologies used 2000 and didn't expose that this was hard coded.

[2021-10-20 18:13] mguthaus commented on #175
Also, the actual numbers are assuming it was 1000, so just modifying that line should be fine!

[2021-10-20 18:28] maliberty commented on #175
It is not ignored (hence the warn/error above), it is wrong: https://github.com/efabless/sky130_sram_macros/blob/a4066fe72816cb8554303cb1faef6abf1377cb28/sky130_sram_1kbyte_1rw1r_8x1024_8/sky130_sram_1kbyte_1rw1r_8x1024_8.lef#L6

[2021-10-20 18:34] mguthaus commented on #175
I went through the OpenLane flow and my design passed DRC, LVS, and other checks, so *shrug*

[2021-10-20 18:35] maliberty commented on #175
@mguthaus sorry I just mean it is wrong as is.  If just modifying to line is enough then that is great.  Can you file a PR to that repo to fix it?

[2021-10-20 18:36] maliberty commented on #175
and all the other rams

[2021-10-20 18:37] mguthaus commented on #175
Yes, it is fixed.

[2021-10-20 21:32] taylor-bsg commented on #175
Thanks Matt!

On Wed, Oct 20, 2021 at 11:37 AM Matt Guthaus ***@***.***>
wrote:

[2021-10-25 14:25] lakshmi-sathi commented on #173
Attaching packed result of one more design facing the same error:
[global_route_bsg_manycore_tile_compute_mesh_real_sky130hd_base_2021-10-25_19-28.tar.gz](https://drive.google.com/file/d/1jj8lXkX_l6Umwu_Lusu_jIrK_fpfNdii/view?usp=sharing)

This design is using a real SRAM macro instead of fakerams. The real SRAM macro has pins on all sides, unlike the fakerams which have pins only on the left side

[2021-10-27 13:16] vijayank88 opened #202 "DFFLEAGALIZE failed with ASAP7 technology"
**Describe the bug**
A given verilog code passing DFFLEAGLIZE with sky130A/Nangate45 technology, but fail if I use ASAP7 technology.
* [Toolname] for runtime issues yosys synthesis
* [Design] for example design issues DFFLEGALIZE failed
Error follows:
[code]

**Expected behavior**
Need to pass synthesis stage with ASAP7

**Environment (please complete the following information):**
Please only repo

[2021-10-27 18:23] mi-and-core commented on #202
dffs with async set or reset are not supported. To overcome with this add

`export DFF_LIB_FILE = $($(CORNER)_DFF_LIB_FILE)`

to your config.mk .

[2021-10-28 06:14] vijayank88 commented on #202
@mi-and-core thanks for the update. Its passed synthesis stage.
Normally user will copy config.mk from other projects and edit die size and design name only.
Being automated flow default add this "export DFF_LIB_FILE = $($(CORNER)_DFF_LIB_FILE)" in all asap7 built-in config.mk file. User will not face this issue in future again.

[2021-10-29 15:17] simonwaid opened #206 "Yosys does not comile on Ubuntu 21.10"
Running ./build_openroad.sh --local fails on Ubuntu 21.10. The reason is that the version of yosys used by open road is outdated and does not compile.

Newer version of yosys (e.g. 0.10) compile on Ubuntu 21.10. Version 0.8 and older don't

Also, new features such as support for struct have been added to yosys, so upgrading would also make sense from that perspective.

A workaround:
- Call ./build

[2021-10-29 19:07] maliberty commented on #206
@rovinski do you have time to look into a yosys upgrade?

[2021-11-01 06:36] rovinski commented on #206
@maliberty that depends, is this a scenario where I should update Yosys regardless of the impact on QoR, or can I update it only if it improves QoR? The last time we tried this, the update got rejected because it worsened QoR.

[2021-11-01 15:48] maliberty commented on #206
@rovinski I don't recall what happened last time but we can't avoid updating forever.  Would you try it and let's see what the results are.   If the degradation is minor we can go ahead.   If it is major then Andy can probably help; otherwise we can file issues with yosyshq.

[2021-11-01 16:56] dralabeing commented on #202
@vijayank88 please open a pr to add this into the config.mk for asap7

[2021-11-01 17:09] rovinski commented on #206
@maliberty Ok I'll do that in the background over the next few days.

[2021-11-02 00:41] tspyrou commented on #89
@ibrahimkhairy did you find anything?

[2021-11-06 12:09] vijayank88 commented on #202
@vvbandeira
export DFF_LIB_FILE = $($(CORNER)_DFF_LIB_FILE)
Is above varaible should be used only with Async Reset signal only or by default library we can use it?
As I see timing violations more at CTS stage if Iuse DFF_LIB_FILE by default, even I don't have any Async reset signal in my RTL file.
wo_DFF.png aes design default run metadata file.
with_DFF.png included DFF and seen changes in CTS ti

[2021-11-06 15:52] vvbandeira commented on #202
@maliberty @rovinski any thoughts? I am not sure who brought up ASAP7 initially ...

[2021-11-08 17:45] dralabeing commented on #202
@vijayank88 As discussed, export DFF_LIB_FILE = $($(CORNER)_DFF_LIB_FILE) should be documented as a workaround for asynchronous signals and hence not a gating issue.
@vvbandeira - This is a metadata update issue now. Please confirm .
This issue can be closed thereafter

[2021-11-08 17:58] vvbandeira commented on #202
@dralabeing if we are keeping the workaround the metrics should not be an issue. As I understand the metrics start failing when we remove the DFF_LIB_FILE export.

[2021-11-08 18:05] dralabeing commented on #202
@vvbandeira No I believe the metrics fail with the DFF_LIB_FILE- @vijayank88 please reconfirm this.

[2021-11-08 18:49] dralabeing opened #216 "Cleanup config.mk for asap7 platform"
Change platform specific configuration once and then design specific additions or changes that may be required.

[2021-11-08 18:50] dralabeing commented on #202
@vijayank88 Please update the metadata in json for any failing design to close the loop of test.

[2021-11-09 10:51] vijayank88 commented on #202
@dralabeing  I've reverted back my changes to gcd and aes design config.mk. i.e., removed export DFF_LIB_FILE = $($(CORNER)_DFF_LIB_FILE) as these designs don't have Asynchronous signal. Now CI passed.

NOTE: only if our design has Asynchronous signal include "export DFF_LIB_FILE = $($(CORNER)_DFF_LIB_FILE)" in config.mk otherwise don't use this.

[2021-11-09 11:19] vijayank88 commented on #216
@dralabeing https://docs.google.com/spreadsheets/d/1u9JCNgLUV6LCRtO-gCgRIooH1K5IbUACjhXtZRW5Zlc/edit#gid=1778776042 refer Platform_Existing_config sheet for platform/asap7/config.mk. Added my comments about variable defined and not used, incorrect path.
Updated changes in sheet Platform_Updated_config. Check **Waiting for Approval** tab with **"info need"** whether these files can be added in futu

[2021-11-09 19:19] dralabeing commented on #202
@vijayank88 Since a workaround was identified , closing this issue. Note, add this in the documentation to handle async signals.

[2021-11-09 19:19] #202 closed, assigned to vijayank88

[2021-11-10 22:50] eder-matheus commented on #173
@lakshmi-sathi Sorry for my delay on it. Could you try removing the line `set_macro_extension 1` in file `platforms/sky130hd/fastroute.tcl`? It is creating extra blockages around the macros that makes impossible for the router to access the pins. This workaround works for Issue https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/174 too.

[2021-11-14 17:48] jjcherry56 opened #224 "clean up fakeram liberty/lef libraries"
I do not know how the fakeram liberty files were generated but they have a number of significant errors that should be
corrected. It may be easier to track down the script that wrote them an rerun it with reasonable inputs than to fix the
existing libraries.

There are duplicate copies of the liberty and lef files for the nangate45 fakerams.
For example:
./designs/nangate45/black_parrot/fakeram45_

[2021-11-14 21:22] maliberty commented on #224
@rovinski do you know how they fakeram libs were generated?  It looks like Tutu checked them in long ago.

[2021-11-15 18:23] dralabeing opened #225 "ASAP7-6T Support in ORFS"
Review the newly defined asap6 design kit and add it to ORFS

[2021-11-15 18:30] dralabeing opened #226 "Add test cases to asap7 for better coverage"
Add designs like black_parrot, jpeg to uncover specific issues to uncover issues

[2021-11-16 18:46] eder-matheus commented on #173
@lakshmi-sathi The PR https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/220 should fix the issue you're facing when running the flow. Could you try it?

[2021-11-18 18:08] jjcherry56 opened #230 "make issue issues"
The make issue target fails to include setRC.tcl

source $::env(PLATFORM_DIR)/setRC.tcl
[ERROR STA-0511] cannot open './platforms/asap7/setRC.tcl'.
Error: cts.tcl, 30 STA-0511

The TIME_CMD variable value is not portable and generates a syntax error
Error: vars-jpeg-asap7-base.tcl, 6 invalid command name "h:"

set env(TIME_CMD) "/usr/bin/time -f 'Elapsed time: %E[h:]min:sec. CPU time: user %U sys

[2021-11-18 18:53] dralabeing opened #231 "Standardize on default CORNER variable definition for platforms"
Currently, there is no specific definition/selection for default CORNER in the platform config.mk. This is random for current PDKS including skywater130, nangate45, asap7 etc.

This should be clarified in the documentation as well.

[2021-11-18 18:55] dralabeing commented on #231
@maliberty Please re-assign to the appropriate team member if needed

[2021-11-18 19:06] maliberty commented on #231
@tspyrou @louiic @abk-openroad @rovinski  please comment on what you think the default corner should be.

We are currently inconsistent on our default corner, e.g.:
gf12: BC
tsmc65lp: WC

[2021-11-18 22:38] JayjeetAtGithub opened #233 "error in running a synthesis with make"
## Issue
I am trying to run a basic synthesis with by doing `make` from the command line and I am getting this error.

[code]

Does anyone know how to fix this?

## Steps

[code]

[2021-11-18 22:47] rovinski commented on #231
The reasoning for gf12 BC was that BC + margin = best chance of getting functional chips due to being extra cautious about hold slack.

Is multi-corner optimization in OR yet? Is it possible that the answer should be "both" and we add multi-corner support?

[2021-11-18 22:52] maliberty commented on #231
@rovinski if we had multi-corner I wouldn't have to ask....

[2021-11-19 04:38] rovinski commented on #233
This is actually an error because KLayout is not found in your environment. The command is supposed to be the following:
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/5cd66291c0dd8bbf0dd7e07b8550567bc65d7cb8/flow/Makefile#L625-L633

Where `$(KLAYOUT_CMD)` is set here:
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/5cd66291c0dd8bbf0dd7e07b8550567bc65d7cb8/fl

[2021-11-19 04:54] vijayank88 commented on #230
@jjcherry56
set below variable in design config.mk
export SET_RC_TCL              = $(PLATFORM_DIR)/setRC.tcl

Else override this variable in platforms/asap7/config.mk have incorrect path.

[2021-11-19 05:53] rovinski commented on #231
Just checking ¯\\\_(ツ)\_/¯
I would stick with BC.

[2021-11-19 06:08] rovinski commented on #230
@vijayank88 that's not the problem. This is completely separate. `make *_issue` is supposed to package a complete test case and it is missing files required to make the testcase run.

[2021-11-19 08:25] vijayank88 commented on #231
@maliberty For ASAP7 we will stick to BC. I'm facing issue with TC for DFF library read.

[2021-11-19 15:43] tspyrou commented on #231
The OpenROAD app itself supports multi corner optimization in the flow.
Unit tests like https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/test/gcd_sky130hd_fast_slow.tcl test it.
This feature needs to be propagated up to the flow scripts. The default can then be BC and WC with users able to add more corners as needed.

[2021-11-19 23:15] rovinski commented on #224
This was discussed in the Monday meeting, but I'll add my comments here for visibility.

The fake RAMs were generated from [bsg_fakeram](https://github.com/bespoke-silicon-group/bsg_fakeram). It is a very generic generator that was originally designed (IIRC) in the course of 3 days as a stopgap to fill the need of not having memory generators for PDKs but needing them for EDA development. It has b

[2021-11-20 05:17] jjcherry56 commented on #224
The generators are just a bunch of print statements so it is trivial to change the liberty files to use a more reasonable output transition times. I don't see the json used to drive the bsg_fakeram generators anywhere in the ORFS hierarachy. Did they get saved someplace outside the repo? If we can't find them it shouldn't be that hard to reverse engineer them from the file names (and save them thi

[2021-11-20 19:52] jjcherry56 commented on #224
I found the nangate45 json file [here](https://github.com/bespoke-silicon-group/bsg_fakeram/blob/master/example_cfgs/freepdk45.cfg).

[2021-11-21 09:34] JayjeetAtGithub commented on #233
Thanks a lot for the clarification.

[2021-11-21 09:34] #233 closed, assigned to nobody

[2021-11-22 21:29] maliberty opened #235 "(fake)rams for asap7"
This is to follow up on the ram discussion in https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/210

Real or fake rams are needed for asap7.

[2021-11-23 15:43] gadfort commented on #231
This is how we handle corners at the moment in our flow: https://github.com/The-OpenROAD-Project-private/OpenROAD-flow-scripts/tree/flow-corners I can open a PR if this is of interest to incorporate

[2021-11-23 17:38] tspyrou commented on #231
@arlpetergadfort please do make a PR and thanks for doing the work of integrating the new feature up to ORFS.

[2021-11-23 19:09] gadfort commented on #231
@tspyrou I opened #237

[2021-11-24 01:13] maliberty commented on #173
@lakshmi-sathi have you tried it?

[2021-11-24 01:51] lakshmi-sathi commented on #173
Sorry about the delay. I missed the previous comment. I was collecting together the different designs with which I had faced this issue.
I verified this with 4 different designs (includes designs with fakerams, realrams and synthesized rams) that were facing this issue previously and I can confirm that removing `set_macro_extension 1` is solving this congestion issue. Could you share what exactly

[2021-11-24 04:04] maliberty commented on #173
Macro extension is mostly used on more advanced nodes to avoid routing too close to macros where restrictive rules can make routing difficult.  It wasn't used on sky130 until recently we added it due to a poor RAM LEF in the Chameleon design.  Once we realized the issue we moved it from the platform level to that specific design.  I'm glad things are much better now.

Is there anything further to

[2021-11-25 12:10] vijayank88 commented on #224
@jjcherry56 @rovinski
in bsg fake ram generator the default value in scripts/utils/cacti_config.py
capacitance and dynamic power set in class_memory.py. Also units are wrong as per FreePDK45 technology.
[code]
based on above look up table fake ram is generated. So we need right values for below variables to come up with good library setup.
[code]
Based on above variable attached json data created.

[2021-11-27 02:14] lakshmi-sathi commented on #173
Nothing further to resolve in this issue. I have linked this issue with #240, so that it will get closed automatically.

[2021-11-27 02:23] lakshmi-sathi commented on #174
Does this make sense in the context that this issue was happening due to the `set_macro_extension` option?

[2021-11-28 07:16] maliberty commented on #206
@rovinski any update?

[2021-11-29 17:23] maliberty commented on #174
@eder-matheus any thoughts on the above question?

[2021-11-29 17:27] eder-matheus commented on #174
@lakshmi-sathi @maliberty A larger MACRO_PLACE_CHANNEL could result in gcells with more resources near the macro pins, so it makes sense the reduced overflow in this case. I'm not so sure about the MACRO_PLACE_HALO though.

[2021-11-29 22:04] dralabeing commented on #235
@vijayank88 Please update the test status with the changes proposed to the lib values.

[2021-12-07 07:19] vijayank88 opened #248 "[ERROR DRT-0073] No ap for wishbone.bd_ram.spram_32_256/din0[0]"
**Describe the bug**
During detail routing am facing below issue
[code]
I'm trying to use spram_32_256_asap7.lef, spram_32_256_asap7_TT_1p0V_25C.lib files as hard macro for eth_spram_256x32. LEF/LIB files I derived from nangate45 technology, as ASAP7 not yet supported by SRAM generator.

**Expected behavior**
Successfully complete flow.

**Environment (please complete the following information):**

[2021-12-07 13:26] vvbandeira commented on #230
@jjcherry56 can you check the tar files generated by the #249 to see if it fixes the issue?
You can find them here: https://jenkins.openroad.tools/blue/organizations/jenkins/OpenROAD-flow-script-Public%2Fpublic_tests_all-pr/detail/PR-249-head/1/artifacts

[2021-12-07 14:23] maliberty commented on #248
When I run your test case I get:
[ERROR ORD-0001] ./designs/asap7/ethwish/spram_32_256_asap7.lef does not exist.

it appears the packaging missed at least one file.

[2021-12-08 04:11] maliberty commented on #224
I don't know what the next step is here and who is responsible for it.  @vijayank88 last comment seems open ended.

[2021-12-08 05:14] vijayank88 commented on #248
@maliberty  shared in google drive missing LEF file

[2021-12-08 05:24] maliberty commented on #248
Your ram is in the wrong orientation.  M4 pins on the south which is an H layer and M3 pins on the west which is a V layer.

[2021-12-08 05:35] maliberty commented on #248
" I derived from nangate45 technology, as ASAP7 not yet supported by SRAM generator." is your problem as the layer stack doesn't align between these processes.

[2021-12-08 12:48] vijayank88 commented on #248
@maliberty is manually derived lib and lef won't be acceptable?
We need help from bsg_fakeram or OpenRAM to support ASAP7/ ASAP7-6T

[2021-12-08 16:21] maliberty commented on #248
@vijayank88  It isn't acceptable if it makes no sense.   You need the pins on the right layers.  The tool doesn't care how it was derived.  Since this is fake data you can just swap the pin layers to be correct for asap7.

[2021-12-08 17:40] jjcherry56 commented on #224
OR PR 1382 where I fixed them for the OR flow tests using a forked version of the generator https://github.com/jjcherry56/bsg_fakeram. Unfortunately the results are 7x the area of the ones we have been using and I am still trying to figure out why before committing them there or here because all hell broke lose in the OR regressions when I changed them.

[2021-12-08 22:24] QuantamHD commented on #248
@maliberty is there something we could do to improve the error message for pin access. Not everyone will be familiar with terms like ap and DRT-0073. Making this more user friendly would help the community solve their issues more quickly.

[2021-12-08 22:38] maliberty commented on #248
@QuantamHD do you have a suggestion as a what we might say?

[2021-12-08 23:38] QuantamHD commented on #248
Instead of
[code]

I would say this might be more clear

[code]

[2021-12-08 23:58] maliberty commented on #248
I like it.  You are in charge of user messages :)

On Wed, Dec 8, 2021 at 3:38 PM Ethan Mahintorabi ***@***.***>
wrote:

[2021-12-09 01:58] rovinski commented on #248
In commercial tools, they often leave a short error message in the log and provide a more detailed message if you use `help [error code]` or `man [error code]`. It would be great if we eventually had a similar structure.

So in this example the message could stay as is and then `help DRT-0073` could provide a message similar to what @QuantamHD wrote.

[2021-12-09 07:04] vijayank88 commented on #224
@jjcherry56
I just cloned your repo and checked. You made changes in library unit, not changed any values wrt., design look up table values.(I've done same work by changing units in script not helped after seeing above conversation)
I have checked with @tspyrou if library have mix of units STA will handle it.
As we need proper library values like power, rise/fall transition, capacitance and area i

[2021-12-09 11:42] vijayank88 commented on #248
@rovinski  I agree with your suggestion.
This is also part of documentation work which already discussed with @dralabeing.
This should be collaborative effort from designer message and Developer Error code

[2021-12-09 11:45] vijayank88 commented on #248
@maliberty Even numbers are Horizontal layer, Odd number are vertical layers in ASAP7.
But in sky130 and nangate45 its inverse. Updated my LEF file, configuration and issue got fixed.

[2021-12-09 15:35] QuantamHD commented on #248
@rovinski

I disagree that it should be a separate tool for a couple of reasons.

1. We don't want to break the flow of our users. Asking them to run a separate command breaks their flow, and may lead to getting distracted, or forgetting what they were trying to do.
2. If messages exist separate from the codebase they're documenting they're likely to go out of date.
3. We need to teach users that

[2021-12-09 15:39] mithro commented on #248
clang having developer friendly error messages (for things like C++ template errors) is one of the reasons people started switching away from GCC. I would *highly* recommend looking into them.

See https://clang.llvm.org/diagnostics.html https://gcc.gnu.org/wiki/ClangDiagnosticsComparison and https://blogs.gnome.org/mortenw/2014/01/27/gcc-vs-clang-for-error-messages/

David Malcolm at RedHat has s

[2021-12-09 15:47] mithro commented on #248
It is *good* to have short error codes associated with error messages.

It is **bad** to require a seperate tool to make those error codes useful for all the reasons @QuantamHD points out.

[2021-12-09 15:49] mithro commented on #248
FYI - Short error codes tend to be mostly useful for toolchain developers, not end users.

[2021-12-09 15:54] mithro commented on #248
I recommend also reading the "Not just for humans" section in the https://developers.redhat.com/blog/2019/03/08/usability-improvements-in-gcc-9 blog post.

[2021-12-09 16:00] mithro commented on #248
FYI - All open source projects should support localization (l10n) and internationalization (i18n). Please just use gettext so you can integrate into various translation tooling and efforts. See;
 - https://www.gnu.org/software/gettext/manual/gettext.html
 - https://en.wikipedia.org/wiki/Gettext

[2021-12-09 16:58] tspyrou commented on #224
@vijayank88 this issue has already been resolved and the files updated. There is no need to look at it further.

[2021-12-09 22:06] rovinski commented on #248
One reason I disagree with the disagreement is because putting full messages with tips, etc. can easily clog up the log and make things more difficult to parse. If the same error happens on 2000 items, then all of a sudden the same help message is printed to the log 2000 times and can make it more difficult to parse. Hardware designs are different from software because often problems do not origin

[2021-12-09 22:10] maliberty commented on #248
@rovinski you should distinguish warnings from errors.  Errors stop the flow so you won't get more than one unless you explicitly catch the exception

[2021-12-09 22:15] rovinski commented on #248
Do we enforce that now? I recall several instances where the flow would push through with errors.

[2021-12-09 22:21] maliberty commented on #248
@rovinski when the logger's error() is called it always throws an exception (see https://github.com/The-OpenROAD-Project/OpenROAD/blob/33aaefeb2f9d9a80bfafec464c338040b9b65f17/src/utl/include/utl/Logger.h#L152)

So unless someone catches it, the execution will stop.  We do have code to propagate the exception from c++ to tcl in the swig wrappers.

[2021-12-09 22:26] maliberty commented on #248
In all the clang/gcc examples the error message itself is one line long and the remaining lines are annotated source code.  None are as verbose as what @QuantamHD proposes.

[2021-12-09 22:26] rovinski commented on #248
If true, then there could be detailed messages (such as https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/248#issuecomment-989315060) for errors and short messages with "Use help [warn code]" for warnings? I'd be okay with that.

The other issue that brings up is where to put the long messages. Putting it right in the code like we do now seems like a hassle and breaks code flow.

[2021-12-09 22:28] maliberty commented on #248
@mithro @QuantamHD Internationalization is a huge project that I don't see the resources for.  We haven't even fully completed the logger conversion after more than six months.

[2021-12-09 22:30] rovinski commented on #248
One other thing to consider is how to bring warnings and errors together to give the developer a better picture. If the flow errors out with over 100% utilization, there could be a million reasons for it and previous context is necessary. I think it would be borderline impossible to cover all or even most of the bases in one error message. But if there were previous warnings about bad constraints,

[2021-12-09 22:40] maliberty commented on #248
@vijayank88 is there anything further to do here on your original issue?

[2021-12-09 23:29] mithro commented on #248
gcc / llvm error messages have gotten a lot better but they are far from perfect.

Error messages (+ logging) are like documentation and testing in that there is **always** more work to do and they can **always** be improved. Like documentation and testing they are also frequently neglected and not enough effort is put into them.

If you want we can put together a set of principles and style guide

[2021-12-09 23:36] mithro commented on #248
BTW EDA tools are **famously** bad at logging, warnings and error best practices. It is not uncommon for things that have no effect ending up as "critical warnings" and messages about critical design failures being "info messages". To make things worse they also have huge issues with excessive logging to the point that the log files associated with a design run start to compare to the output GDS f

[2021-12-09 23:48] maliberty commented on #248
@mithro that's quite true but it is also true that users have vastly different expectations.  Some want to check every little detail and others don't care if the tool catches fire so long as they get a result.

[2021-12-10 00:07] QuantamHD commented on #248
Our goal isn't only "a result" though, it's a brand new way to build things for an audience that's much larger than the existing market. We want people to be proud of the tools they use, and to be excited by what comes next rather than discouraged by cruft

@maliberty I think that's the difference between this project, and a commercial vendors.

[2021-12-10 00:23] maliberty commented on #248
@QuantamHD nobody is arguing for bad error messages.  I am just pointing out that among just the few people on this list we don't even have agreement as to what a good message is.  We currently have >3k messages and curating them all is a big job (in fact we just did a pass to fix grammar and especially bad ones).

In the spirit of open source I encourage people to jump in and make things better r

[2021-12-10 00:46] QuantamHD commented on #248
Totally understood Matt. I don't expect you, or anyone on the core team to do this work, nor was I implying anyone wants bad error message. I'd be happy to help contribute these small changes myself. I think what this discussion has turned into though probably deserves a different title, and is really trying to get to the heart of what the best user experience is. I definitely get your and @rovins

[2021-12-10 05:21] vijayank88 commented on #248
@maliberty
end up with below error
[code]

[2021-12-10 05:41] rovinski commented on #248
@vijayank88 where did you get the spram GDS from?

[2021-12-10 05:52] vijayank88 commented on #248
@rovinski  I've used wrong GDS file for spram. Updated makefile and able to complete the flow successfully.

[2021-12-10 11:33] #248 closed, assigned to maliberty

[2021-12-13 05:15] vijayank88 commented on #235
@dralabeing
I've manually derived LIB/LEF able to complete flow, but 216 DRC violations left after detailed routing. But its should not be acceptable right for PR?

[2021-12-13 05:18] maliberty commented on #235
I would be good to understand why there are so many drc

[2021-12-13 05:25] vijayank88 commented on #235
@maliberty  shall I share tar file for reference?
DRC violations due to library that I created manually for SRAM memory

[2021-12-13 15:00] maliberty commented on #235
If you don't see a clear problem then do share it.

[2021-12-13 20:43] #230 closed, assigned to vvbandeira

[2021-12-13 22:29] rovinski commented on #235
Does ASAP7 have unidirectional routing? I wonder if it's related to off-grid pins on the macros because gf12 macros are wrapped but these are not.

[2021-12-13 22:31] maliberty commented on #235
Yes

[2021-12-13 23:51] vvbandeira commented on #164
@vijayank88 can you test again with the latest code?

[2021-12-14 05:33] vijayank88 commented on #164
@vvbandeira With latest update congestion issue gone. But during final report generation got below error message
[code]

[2021-12-14 05:57] maliberty commented on #164
This was recently fixed - are you using the latest OR?

[2021-12-20 05:54] vijayank88 commented on #164
OpenROAD v2.0-1978-gc1af9a878
The above Openroad flow scripts tag able to complete the flow. Closing this issue.

[2021-12-20 05:54] #164 closed, assigned to eder-matheus

[2021-12-28 01:57] yurivict opened #285 "All designs fail: Error: 2_floorplan.sdc, 1 invalid command name ������������µRˎÂ0""
Error:
[code]

Revision: 791e2920ad5edccfb0541cf0507e4e05f449adbf
OpenRoad revision: 719c6dc61

[2021-12-28 05:54] maliberty commented on #285
This problem was fixed earlier and passes in the current CI.  It is unclear what you are doing differently to trigger the issue.

[2021-12-29 01:20] QuantamHD opened #288 "Tracks.tcl documentation request"
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/f801b4b8b321a6ea8ba4ffa84c939b6d1d8f658f/flow/platforms/asap7/openRoad/make_tracks.tcl#L16-L22

In the above snippet for ASAP7 there are multiple track definitions for M2. What is the purpose of these repeat definitions? I also got a question inside Google about why the tracks need to be defined manually. Can this information be pi

[2021-12-29 03:59] lakshmi-sathi opened #289 "Detail Route Issue on BlackParrot design: 'no ap for <pin>'"
**Describe**
BlackParrot processor design not able to pass Detailed Routing.
Error Message:
[code]
Different MACRO_PLACE_HALO and MACRO_PLACE_CHANNEL have been tried (20 to 400 & 200 to 500 respectively), different place densities and areas have been tried, and also the congestion map indicates very low congestion but still running into the same detailed routing error.

**Expected behavior**
The d

[2021-12-29 04:07] maliberty commented on #288
@louiic is the expert on this so I hope he will comment.  LEF does not give you a track pattern directly.

[2021-12-29 04:10] lakshmi-sathi commented on #174
@maliberty @eder-matheus Thanks for the reply! It helps.

As the original congestion error is fixed (#220) , I am closing this issue.

[2021-12-29 04:10] #174 closed, assigned to maliberty, eder-matheus

[2021-12-29 06:38] maliberty commented on #288
I recall now that in asap7 the row height is 7.5 M2 tracks.  So if you used the pitch you would get irregular track patterns.   If you look at the pattern:
![image](https://user-images.githubusercontent.com/761514/147634013-9783ec21-c699-4ed6-8a4d-70f57320ffde.png)
There are six useable tracks per row and they are spaced at min pitch inside the power stripes.

[2021-12-29 11:09] vijayank88 opened #290 "Can't find instance if use ABC_CLOCK_PERIOD_IN_PS for sky130hd chameleon"
**Describe the bug**
* [Toolname] for runtime issues (e.g. Macro placement [mpl]])
For ORFS sky130hd chameleon design passes successfully all flow stages without
[code]
If we use above variables failed to complete placement stage

Here is my findings:

    Without ABC_CLOCK_PERIOD_IN_PS:
[code]
    With ABC_CLOCK_PERIOD_IN_PS:
[code]
There was issue with ```ord::get_db_block```
Is there any fix to

[2021-12-29 18:23] yurivict commented on #285
What commit fixed this problem? Because I am still seeing it with the current OpenRoad and ORFS revisions.

[2021-12-29 19:22] rovinski commented on #290
@vijayank88 this is because the way chameleon is set up is very brittle. `_3252_` is an auto-generated instance name from yosys. The creator(s) of this design ran synthesis to get the auto-generated instance names of the macro(s), then put those names in the config file.

By changing `ABC_CLOCK_PERIOD_IN_PS`, you are causing a perturbation in yosys which causes the instance name of the macro to be

[2021-12-29 20:00] maliberty commented on #285
https://github.com/The-OpenROAD-Project/OpenROAD/commit/95ffbc5f8aefb66b197525f2098e4bed443e0199

[2021-12-29 21:29] maliberty commented on #290
Why is platforms/sky130hd/chameleon in the platform and not in the design?  Why does this design need a manual macro placement at all?

[2021-12-29 21:50] rovinski commented on #290
Same issue as in https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/217#issuecomment-964659932. Macro placer does not do a good job and leads to failures.

[2021-12-29 22:08] maliberty commented on #290
That PR is danglig with "@rovinski what remains to do here?"  The chameleon issue had been resolved.

[2021-12-29 22:18] QuantamHD commented on #288
What control the track configuration for a given technology? Is it encoded by the standard cell layout indirectly?

[2021-12-29 22:27] maliberty commented on #288
The LEF has some syntax to express a track pattern (OFFSET and PITCH).  However in asap7 that is insufficient due to the above issue and so we have to manually define the pattern.  In other PDKs the LEF is sufficient and you will not see a MAKE_TRACKS setting in the platform config.mk.

In this case, which is common, the issue is the cell height and the power rails create the need for a particular

[2021-12-29 22:40] QuantamHD commented on #288
Could I write some thing that could auto detect a track pattern from a standard cell, or would that not be generally applicable?

[2021-12-29 22:42] maliberty commented on #288
I suspect there are more corner cases that @louiic could comment on.   However making something that can automate the known PDKs would be nice.

[2021-12-30 04:34] yurivict commented on #285
For me 2_floorplan.sdc is written gzipped but it is read as cleartext - this causes the failure.

[2021-12-31 00:22] taylor-bsg commented on #289
@tspyrou

[2022-01-01 18:34] tuohangzeng opened #298 "GDS generated with unmapped layers in klayout for sky130hd"
**Describe the bug**

* [Flow] The flow script can successfully generate the results (including the gds) with all the routings. But when the gds is imported into klayout, the metal layers (e.g. met2 drawing) become empty with the [lyp](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/platforms/sky130hd/sky130hd.lyp) file loaded. Screenshots for klayout before and afte

[2022-01-02 05:19] rovinski commented on #298
The `.lyp` file doesn't change any properties of the GDS; it only changes the way it is rendered in the viewer (layers, colors, labels, etc.). That being said, it definitely looks like some layers aren't being mapped correctly by the `.lyt` file.

[2022-01-02 07:31] maliberty commented on #298
@rovinski yes and I can't reproduce the problem @ ucsd.  I am guessing an old version of klayout at Michigan but I don't know.  m2 is being mapped to 7/0 which is wrong and not in the lyt.

[2022-01-02 15:39] tuohangzeng commented on #298
Thank you, @rovinski and @maliberty! It was indeed related to the .lyt file. After doing a diff with OpenLane and making a few changes, all layer mappings are correct.

[2022-01-02 15:39] #298 closed, assigned to maliberty

[2022-01-02 18:36] msaligane commented on #298
@tuohangzeng Please remember to send a PR to update this .lyt file in orfs as well.

[2022-01-02 19:18] maliberty commented on #298
What did you change?  I don't see any errors when I run ORFS with the current file.

[2022-01-03 16:40] dralabeing commented on #289
@vijayank88 Can you re-run this test to reproduce this issue and track the origin? this doesn't seem to be a problem with congestion-

[2022-01-03 17:08] maliberty commented on #289
Pin access issues don't relate to congestion so much as off grid or blocked pins.  Its more helpful to include a zoom in of the pin in question.  I'll take a quick look at the pin.

[2022-01-03 19:14] maliberty commented on #289
In your fakeram130_64x7.lef you have two pins on top of eachother:
[code]
This is unroutable.

[2022-01-03 19:17] #289 closed, assigned to vijayank88

[2022-01-03 21:09] lakshmi-sathi commented on #289
@maliberty Thanks for taking a look and pointing this out.
I had faced this pin overlap once and had taken steps to handle it, so I wasn't expecting it to come up again and hence hadn't thought in that direction.

[2022-01-04 06:00] vijayank88 commented on #89
@tspyrou @ibrahimkhairy
config.tcl
[code]

./designs/$(PLATFORM)/coyote_tc/coyote_tc.package.strategy
[code]
By updating above two files able to complete the flow. Please do confirm if that works at your end to make PR.

[2022-01-04 07:33] vijayank88 commented on #285
@yurivict
Is this issue still open?
If yes provide reproducible tar file with below command
[code]

[2022-01-05 23:09] tuohangzeng opened #303 "Power Strip connections (met4 met5) not correctly mapped in GDS"
**Describe the bug**
* [Flow] Power stripes that were on met4 and met5 are mapped to layers cldntm.mask and rdlcon.drawing in GDS. There are also layers 5/0 and 236/0 that do not have mappings. The flow is running on the latest commit.

**Expected behavior**
The power stripes should be mapped onto met4 and met5 respectfully.

**Screenshots**
In OpenRoad -gui, the metals show up on met4 and met5:
!

[2022-01-05 23:45] maliberty commented on #303
Will you check in https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/299 fixes this problem?

[2022-01-05 23:51] tuohangzeng commented on #303
Actually, this is likely a klayout bug. I just checked their release note and noticed that 0.27.6 fixed a bug in 0.27.5:

Bugfix: [#942](https://github.com/KLayout/klayout/issues/942) Technology file routing suffix string typo

I will update klayout and rerun the gds generation part of the flow and update my results here. Thank you very much!

[2022-01-06 06:28] tuohangzeng commented on #303
Yes, it was indeed a klayout issue. It is now working after updating klayout.

[2022-01-06 06:28] #303 closed, assigned to nobody

[2022-01-09 13:16] maliberty commented on #224
Before this issue is closed could we document how the fakerams were generated for future reference (eg asap7)?

[2022-01-09 18:30] dralabeing commented on #224
Yes @maliberty will do once @vijayank88 wraps up testing with the updates made

[2022-01-10 10:53] fabrizioferrandi opened #305 "asap7 flow: make all seems to be broken"
Dears,
I'm experimenting with the single script run_all.tcl.
The flow can be activated by a simple `make all` for what I've understood.

In case asap7 design flows are considered,  `make all` stops after a while because merged.lib is missing.
To reproduce the issue, I've removed all the generated files from directories: results, logs, reports, and objects.
The issue could be easily fixed by adding

[2022-01-10 17:36] maliberty commented on #305
Are you using the latest OR?  It passed in last night's CI.

[2022-01-10 19:06] fabrizioferrandi commented on #305
I'm using `OpenROAD v2.0-2568-ge6d5e2d7d`on an Ubuntu 20.04.

[2022-01-10 22:42] maliberty commented on #305
That build is from Dec 18 - can you try the current master?

[2022-01-11 06:48] fabrizioferrandi commented on #305
The problem is still there even with `OpenROAD v2.0-2631-gcd7a2f497`.

[2022-01-12 01:14] AndreKuru opened #307 "Unable to build with docker"
**Describe the bug**
I'm trying to follow the steps mentioned in the [OpenROAD documentation](https://openroad.readthedocs.io/en/latest/user/BuildWithDocker.html) for Building from sources using docker option, but the script build_openroad.sh is failling.

**Expected behavior**
Finish build_openroad.sh without errors.

**Environment:**
 - OS: ArchLinux
 - OpenROAD-flow commit a24a0607146bfd217a192

[2022-01-12 10:09] vijayank88 opened #308 "ABC_AREA Synthesis strategies not optimizing the final area"
**Describe the bug**
* [Toolname] for runtime issues (Yosys ABC)
* [Design] for example design issues (ibex design)

**Expected behavior**
As per ABC_AREA synthesis strategies should generate better area optimization compare to ABC_SPEED. But for ibex design number of cells and area increased with ABC_AREA. Expecting better area optimization by flow.

**Environment (please complete the following i

[2022-01-12 10:47] vijayank88 commented on #308
With Ubuntu 20.04 and OpenROAD v2.0-2318-gfed16d7ea
For ABC_AREA and ABC_SPEED generating same results:
synthesis statistics:
[code]
Design area:
[code]
Is Operating system will affect Openroad flow design results? Or I have any setup issues at my end?

[2022-01-12 16:14] maliberty commented on #305
I'll fix this issue but in general the 'all' target is somewhat experimental and not our standard flow.  Is there a reason you need to use it?  I guess you'll find more issues.

[2022-01-12 16:24] maliberty commented on #305
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/310

[2022-01-12 17:06] fabrizioferrandi commented on #305
Thank you very much for looking into the issue.
I'm trying to integrate OpenRoad into the High-level synthesis tool Bambu. It's easier for us to call a single bash script where openroad is called once with a script similar to run_all.tcl. Bambu interacts with the RTL synthesis backends through scripts generated starting from XML templates. Here you may see a draft example of the OpenRoad XML templ

[2022-01-12 17:09] maliberty commented on #305
I fear your approach may be brittle as we make changes to ORFS.  Why not just call make (or wrap that in a bash script)?

[2022-01-12 18:37] vvbandeira commented on #307
@AndreKuru could you provide the output of `docker info`?
Please wrap the output here with triple backticks to get correct formatting.
Example:
[code]
And also `git status` to make sure your workdir is clean.

[2022-01-12 18:44] tspyrou commented on #308
Hi @vijayank88,
For ABC_AREA vs ABC_SPEED, the measurement should be made at the end of the floorplan step.
To see the benefit of ABC_AREA to the end of the flow, you need to remove the .sdc or make it very loose.
Otherwise the repair design command will increase the area to meet timing regardless of the netlist produced earlier.

Can you measure the area in the floorplan step and close if the are

[2022-01-12 21:28] maliberty commented on #305
#310 is merged so this particular problem is resolved though others may remain.

[2022-01-12 21:28] #305 closed, assigned to maliberty

[2022-01-12 22:15] AndreKuru commented on #307
@vvbandeira, Sure. `Docker info`:

[code]

`git status`:
[code]

[2022-01-13 17:28] vijayank88 commented on #308
@tspyrou
Yes able to achieve better area if do relaxation in sdc file.
export ABC_AREA=1
Without .sdc file :
At floorplan: ```Design area 140231 u^2 19% utilization.```
End of the flow :```Design area 178306 u^2 24% utilization.```
2X value of clock_period :
At floorplan: ```Design area 140231 u^2 19% utilization.```
End of the flow: ```Design area 187482 u^2 26% utilization.```

export ABC_SPEED=

[2022-01-18 17:08] vvbandeira commented on #307
Thanks @AndreKuru.
Can you also try to clean the workspace before building?
[code]

[2022-01-19 22:59] AndreKuru commented on #307
@vvbandeira, Thank you. I builded successfully after the clean.

[2022-01-19 22:59] #307 closed, assigned to vvbandeira

[2022-01-24 05:37] antonblanchard opened #323 "Add option for synthesis fan out"
During synthesis we use `abc` to limit fan out. At the moment we just use the defaults, which is 10. This may not be ideal for some technologies, so it might make sense to have a `config.mk` variable to change the default via the abc script: `buffer -N [FAN_OUT]`. This is what Openlane does.

[2022-01-24 22:34] maliberty commented on #323
The direction is to move towards replacing ORFS with OL.  Do you have a need for this in ORFS or it more of a general note?  If the later I would be inclined to table this.

[2022-01-25 08:13] antonblanchard commented on #323
@maliberty thanks, I didn't realise that was the plan. Tabling it sounds fine.

There's a couple of reasons I like debugging in ORFS, such as being able to restart from an arbitrary place in the flow, eg `make clean_route; make` as well as it doing a reasonable job of dependency tracking for incremental rebuilds. I'll work to open a couple of issues against Openlane, unless it's already in plan.

[2022-01-25 14:51] maliberty commented on #323
OL does have -from/-to though it isn't as automatic as ORFS.  It will in the same session save to CURRENT_STEP where it left off in case of a failure.  @donn this is an area where OL might be improved.

[2022-01-26 16:36] dralabeing commented on #308
Looks like this is resolved.

[2022-01-26 16:36] #308 closed, assigned to vijayank88

[2022-02-07 06:13] mousaq92 commented on #173
I have the same issue, except I am not using any macros in my design. Routing congestion too high.

[2022-02-14 16:27] maliberty commented on #173
@mousaq92 that sounds like an unrelated issue then and should have a separate issue with a reproducer.

[2022-02-25 15:45] jjcherry56 opened #365 "make issue tarfile errors"
untaring this issue file:

https://jenkins.openroad.tools/job/OpenROAD-flow-scripts-Nightly-Public/1283/artifact/flow/final_report_bp_multi_nangate45_base_2022-02-23_22-58.tar.gz

produces 2 errors:
x final_report_bp_multi_nangate45_base_2022-02-23_22-58/./platforms/nangate45/fastroute.tcl: Can't create 'final_report_bp_multi_nangate45_base_2022-02-23_22-58/platforms/nangate45/fastroute.tcl'

x fi

[2022-02-26 01:06] maliberty commented on #365
This must be a mac issue as it untar for me just fine.  I guess the /./ might be the trigger, though many other files seem to have that pattern.

[2022-03-02 17:20] AnikBalo opened #371 "Detailed placement failed on _208263_"
I was trying to implement a 200000+ instance count design in OpenROAD flow with skywater130hd PDK but every time the flow got terminated in detail routing stage. I have tried with different utilization, aspect ratio and place density, but it failed in detail placement stage.
![image](https://user-images.githubusercontent.com/96606368/157001634-145a396a-99ad-47ba-b641-f839da126ce6.png)

Here is my

[2022-03-02 19:40] agostini01 opened #372 "Clarification of power unit during terminal output"
Hi,

First, thank you for your amazing work.

This is more of a question than an issue.

I would like to clarify what are the power units reported during the flow execution.

In the beginning of the flow, this is printed:

[code]

Then, as the flow proceeds, we can see the following report cards.
[code]

Is this design estimated to consume  5.75e-02 nW?

What is the default switching activity assu

[2022-03-03 06:38] vijayank88 commented on #371
![Screenshot from 2022-03-03 12-01-49](https://user-images.githubusercontent.com/85787913/156511090-fb1db257-ee96-427e-b673-aec579dce2ff.png)

Check the placement density. Its too high.
Update the following in config.mk and re-try:
[code]
Try with different density and make sure no red dots in placement density. If still facing issue share `VERILOG_FILES`.

[2022-03-03 13:58] vijayank88 commented on #371
@AnikBalo Check the above and update me

[2022-03-03 14:19] AnikBalo commented on #371
@vijayank88 Yes. I am trying with different density. Currently, I am trying with export PLACE_DENSITY = 0.50. I got this:
![image](https://user-images.githubusercontent.com/96606368/156582476-8ee5b503-10c0-4823-a72b-f44bd275ca4a.png)
![image](https://user-images.githubusercontent.com/96606368/156582602-de035d0b-9952-4c11-96ca-ea7374e90b4c.png)
Now, I am running this with  PLACE_DENSITY = 0.40.
I w

[2022-03-04 05:25] AnikBalo commented on #371
Here I tried with different place density but failed to complete full run.
####Setting Place Density: 0.3
Flow terminal:

![image](https://user-images.githubusercontent.com/96606368/156704233-a31a33dd-8b99-41d5-b867-0e282b5ac565.png)

Placement Density:

![image](https://user-images.githubusercontent.com/96606368/156704252-b4822edc-8779-4d2f-8f93-4114d697a37a.png)

####Setting Place Density: 0.2
F

[2022-03-04 05:27] vijayank88 commented on #371
@AnikBalo
I will check and update you.

[2022-03-04 07:25] vijayank88 commented on #371
@AnikBalo
What is your system configuration?
System RAM?

[2022-03-04 08:22] AnikBalo commented on #371
@vijayank88 I am using it on two place. One is my vmware with 8GB ram and 70 GB storage and in another pc with 8GB ram with 150GB storage.  both have ubuntu 20.04 OS

[2022-03-04 08:54] vijayank88 commented on #371
@AnikBalo
Terminated by signal 9 is not have enough system resource to run I think. That's why when its reaches 7.25GB its got terminated. Is possible to increase your system RAM and re-try?
CORE_UTIL=20 will work for your design.

[2022-03-04 08:59] AnikBalo commented on #371
@vijayank88 I was also thinking about that. I am trying to increase my resources. If I could manage, then I will let you know what happened.
Thanks a lot @vijayank88  for guiding.

[2022-03-04 11:46] AnikBalo commented on #371
I have just increased my resources. Now Ram = 16 GB, 8 core. Still this happened:
PLACE_DENSITY = 0.6
![image](https://user-images.githubusercontent.com/96606368/156757505-c5f38964-dc8f-4e4d-8d26-48cc9a09ab0e.png)

The Def:
![image](https://user-images.githubusercontent.com/96606368/156757571-60bdb66b-e73c-4b64-889e-c3cbe2105047.png)

Now I am started implementing with PLACE_DENSITY = 0.5.
I will

[2022-03-04 11:53] vijayank88 commented on #371
@AnikBalo Check the peak memory when its fail. Again terminated by signal 9 with 15GB RAM. Still its looks more resource?
Let me test in cloud server and update you tomorrow.

[2022-03-04 12:00] vijayank88 commented on #371
@AnikBalo
Other way try to do macro hardening and implement the flow. So that it will not require much memory during routing.

[2022-03-04 13:21] AnikBalo commented on #371
@vijayank88 ok

[2022-03-04 17:25] vijayank88 commented on #371
@AnikBalo With attached test case https://drive.google.com/file/d/1f-v3DRlYhyvd93hU1n7uEpONAmWhVBjw/view?usp=sharing itself able to run routing in my cloud server without any issues.
Few updates you can do is increase your routing core number(You've mentioned 8 cores have currently). Update following in `config.mk`
[code]

See my logs:
Running cloud server with 128GB RAM and 32 CORE machine.
[code

[2022-03-05 05:51] vijayank88 commented on #371
@AnikBalo
I confirm that with shared test case able to complete routing without any violations. see log below:

[code]
Its require 44GB Peak memory to run without any issue. Else you will see child killed signal always.

So there is no issue related tool.

[2022-03-07 02:43] AnikBalo commented on #371
Ok thanks @vijayank88.

[2022-03-08 10:45] simonwaid commented on #206
@rovinski Any update?

[2022-03-08 10:54] simonwaid opened #380 "git clone not working in the docker container."
Let's start the flow scripts docker container:

`docker run -it -u $(id -u ${USER}):$(id -g ${USER}) -v $(pwd)/flow/platforms:/OpenROAD-flow-scripts/flow/platforms:ro openroad/flow-scripts`

Now it would be nice to transfer data in and out from the docker container. So let's use git for that:

`git clone https://github.com/efabless/caravel_user_project.git`

An here is what we get:

`Cloning into

[2022-03-08 14:15] vvbandeira commented on #380
@Unkraut3, you can use your local machine to clone the repository and mount additional docker volumes. This should allow you to continue using ORFS.

[code]

We use the latest git version available from the OS. We do have plans to update to newer OSes, but I cannot give you a timeline just yet.

As for Yosys, we are currently a couple of months away from the HEAD, if you want you can use the lates

[2022-03-10 11:27] vvbandeira commented on #380
@Unkraut3 were you able to get the code in/out from the docker container with the above?

[2022-03-11 16:19] simonwaid commented on #380
No, I'm trying to compile things locally. Some time ago after [ugrading outdated depencies](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/206) I managed to get the flow scripts to run. I again had the issue I reported [here](https://github.com/The-OpenROAD-Project/OpenROAD/issues/1186). This time on both Ubuntu and Debian systems. Also ABC does not compile out of the box, as

[2022-03-14 03:55] AnikBalo commented on #371
Successfully Completed run with 44GB ram. Thanks a lot @vijayank88

[2022-03-14 03:55] #371 closed, assigned to vijayank88

[2022-03-14 12:46] vvbandeira commented on #380
@Unkraut3 I think we are getting off-topic, the Issue title states a docker problem. I can understand your concerns with outdated OS/SW and we can try to address these concerns, please file additional issues for each problem.

Regarding the original issue, i.e., "[...] transfer data in and out from the docker container. [...]". Did you try my proposed solution of mounting additional folders into t

[2022-03-15 04:35] #365 closed, assigned to nobody

[2022-03-18 02:48] rovinski commented on #206
Yosys was updated in #325. If it doesn't compile then it's not related to the version.

[2022-03-23 05:28] AnikBalo commented on #372
The unit is in Watt. I found this in OpenSTA documentation.
![image](https://user-images.githubusercontent.com/96606368/159630206-7a5a7700-e729-416d-8d3c-41c49fa74112.png)

[2022-03-27 16:34] #224 closed, assigned to jjcherry56, vijayank88

[2022-04-04 15:53] jjcherry56 commented on #372
I added "Watts" to the report so the units are obvious.

The only switchiing activity will be from clocked register outputs if the documented set_power_activity command is not used to say otherwise.

[2022-04-04 15:53] #372 closed, assigned to nobody

[2022-04-04 16:00] jjcherry56 commented on #285
This issue was triggered by the addition of abc submodule that included the sources of a duplicate conflicting version of zlib. I fixed it by moving abc into its own namespace instead of the global namespace:
7e4667a65 James Cherry 2022-01-17 abc namespace

[2022-04-04 16:00] #285 closed, assigned to nobody

[2022-04-11 23:58] gkamendje opened #420 "Local build of latest master fails on Ubuntu 18.04 GCC 8.4.0"
[Build]
Local build of latest master  commit [fb489f5eebaec2908ccf33d95db94d249411ea31] fails on Ubuntu 18.04 with GCC 8.4.0
 `./build_openroad.sh --clean-force --local 2>&1 | tee build.local.log`
[code]

**Expected behavior**
The build should have completed.

**Environment:**
 - OS: Ubuntu 18.04
 - OpenROAD-flow commit [fb489f5eebaec2908ccf33d95db94d249411ea31]
 - GCC 8.4.0
 - A full log of the b

[2022-04-12 01:11] vvbandeira commented on #420
@gkamendje I see on your log file:
[code]

Please install a newer version. The recommended and tested version is `1.8.1`. You can see [here](https://github.com/The-OpenROAD-Project/OpenROAD/blob/8fea3787ff4338fe4c77ab67dd7a44ca2774fe69/etc/DependencyInstaller.sh#L85-L91) for reference.

Also, there are some things that look unusual, not sure about the impact, but mixing compilers is not tested.
[c

[2022-04-12 03:08] gkamendje commented on #420
@vvbandeira
Thanks for the hint. Installing spdlog: 1.9.2 fixed the issue.

[2022-04-12 03:08] #420 closed, assigned to vvbandeira

[2022-04-19 09:03] vijayank88 opened #433 "read_db not working for .odb file format with OpenROAD v2.0-3394-gd19162e82"
**Describe the bug**
This issue comes with bp_be,bp_fe designs with Nangate45 platform. `make gui_final` failed to load GUI.

* [Toolname] for runtime issues: openroad
* Today I've updated ORFS repo. Earlier `read_db 6_final.odb` works fine and able to load it directly to GUI with `OpenROAD v2.0-3236-ge9d9ebe5f `. But with latest `OpenROAD v2.0-3394-gd19162e82 ` its getting failed with below logs:

[2022-04-19 11:31] vijayank88 commented on #433
I think its backward compatibility issue. After re-run the flow with latest version `make gui_final` works fine.
If its known issue mean please close this.
Thanks...

[2022-04-19 23:15] maliberty commented on #433
This was already fixed with https://github.com/The-OpenROAD-Project/OpenROAD/pull/1790

[2022-04-19 23:15] #433 closed, assigned to nobody

[2022-04-24 11:14] mistryalok opened #440 "/bin/sh: 0: Illegal option -o pipefail : While running example design"
I am hitting below error while running example design,

[INFO][FLOW] Using platform directory ./platforms/nangate45
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0:

[2022-04-24 13:51] vvbandeira commented on #440
Some other users had similar problems. We were not able to track down the root cause, but we suspect is due to some local configuration in the user's environment. You can read the discussion here: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/discussions/330. I will mark it as closed since the discussion ended with an Answer, please feel free to comment further on the discussion or

[2022-04-24 13:53] #440 closed, assigned to nobody

[2022-04-30 04:22] RajehsDattaUTD opened #446 "Makefile:655: *** KLayout not found in PATH"
I am a new user and just installed the tool.  When I am running the 'make' command  to run an example  I am getting this error :

``Makefile:655: *** KLayout not found in PATH.  Stop.``

It is not getting the klayout in the path.  I can see the following two lines in the makefile script:

KLAYOUT_CMD             ?= $(shell command -v klayout)
KLAYOUT_FOUND            = $(if $(KLAYOUT_CMD),,$(error

[2022-04-30 06:21] vijayank88 commented on #446
@RajeshDattaSiu
Have you installed klayout?

[2022-04-30 17:39] RajehsDattaUTD commented on #446
Ya it was the klayout issue. I was able to solve it. Thanks..

[2022-04-30 17:39] #446 closed, assigned to nobody

[2022-05-09 16:04] vijayank88 opened #449 "AutoTuner failing in distributed mode run"
**Describe the bug**
I have tried AutoTuner feature in single mode machine locally its working fine.

With recent update, I tried to run AutoTuner in distributed mode using following command:
`python3.7 distributed.py --design fuserisc_v1 --platform sky130hd --config ../designs/sky130hd/fuserisc_v1/autotuner.json --jobs 2000 --server localhost tune --samples 200`
But flow failed to complete:

Log:

[2022-05-10 19:50] ripudamank2 opened #451 "problem in installing openroad"
-- Boost  found.
CMake Error at /usr/local/share/cmake-3.14/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  **Could NOT find Python3 (missing: Python3_LIBRARY Python3_INCLUDE_DIR
  Development)
Call Stack (most re**cent call first):
  /usr/local/share/cmake-3.14/Modules/FindPackageHandleStandardArgs.cmake:378 (_FPHSA_FAILURE_MESSAGE)
  /usr/local/share/cmake-3.14/Modules/FindPython/Su

[2022-05-10 22:47] vvbandeira commented on #451
@ripudamank2 how are you trying to install OpenROAD? Are you using `build_openroad.sh --local`?
Also, did you follow the instructions [here](https://openroad.readthedocs.io/en/latest/user/GettingStarted.html#building-and-installing-the-software)?

[2022-05-16 13:07] ashkanr65 opened #455 "Make issue"
Hi,When I try to make OpenROAD-flow-script I get this error:
user@ubuntu:~/OpenROAD-flow-scripts/flow$ make
[INFO][FLOW] Using platform directory ./platforms/nangate45
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefail
/bin/sh: 0: Illegal option -o pipefai

[2022-05-16 13:34] vvbandeira commented on #455
See https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/discussions/330 for how to fix the issue.

[2022-05-16 13:34] #455 closed, assigned to nobody

[2022-05-24 23:50] GabbedT opened #463 "Error during merge GDS using Klayout"
After running `make DESIGN_CONFIG=./designs/sky130hd/ibex/config.mk` everything is fine, until the GDS merge phase.
This is the error:
[code]

Makefile:
[code]
Can you help me?

[2022-05-25 00:10] maliberty commented on #463
You need to install klayout ("KLayout not found in PATH").

[2022-05-25 08:07] GabbedT commented on #463
@maliberty I already have KLayout installed. If i run the command 'klayout' in the terminal, the GUI will show.

[2022-05-25 12:03] vijayank88 commented on #463
@GabbedT
`which klayout` ?

[2022-05-25 13:31] GabbedT commented on #463
@vijayank88 I installed klayout a couple days ago, so the last version

[2022-05-25 15:10] maliberty commented on #463
you can echo $PATH right before it calls klayout to see if it is in the path or not.

[2022-05-25 20:19] GabbedT commented on #463
@maliberty Not sure if this is right:
[code]

[2022-05-25 20:50] maliberty commented on #463
I meant in the Makefile (Makefile:653)

[2022-05-25 21:09] GabbedT commented on #463
@maliberty Sorry but I never worked on Makefile and i'm really new in the linux environment.
I did this:
[code]
And the output is:
[code]
I'm pretty sure that i did something wrong.

[2022-05-25 21:14] maliberty commented on #463
Put it on its own line so it executes first:
[code]

[2022-05-25 21:14] maliberty commented on #463
Be sure to use tabs and not spaces at the line start - make is finicky about it.

[2022-05-25 21:43] maliberty commented on #463
This is hard to do remotely.  With the original makefile would you try 'make versions.txt' and then post the contents of the generated file.

[2022-05-25 21:44] maliberty commented on #463
Also at your unix prompt do "command -v klayout" and post the results

[2022-05-25 21:45] GabbedT commented on #463
@maliberty I adjusted the Makefile, everything is highlighted so it should be correct, the output however is still:
[code]

[2022-05-25 21:45] GabbedT commented on #463
Prompt: command -v klayout
Output: /usr/bin/klayout

[2022-05-25 21:51] GabbedT commented on #463
Prompt: make -version.txt
Output:
[code]

[2022-05-25 21:54] maliberty commented on #463
not "make -version.txt" but "make version.txt"

[2022-05-25 22:00] GabbedT commented on #463
If you mean into the prompt this is the output:
[code]

[2022-05-25 22:35] maliberty commented on #463
Sorry "make version**s**.txt"

[2022-05-25 23:49] GabbedT commented on #463
@maliberty
[code]

File generated:
[versions.txt](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/8775208/versions.txt)

[2022-05-26 00:02] maliberty commented on #463
What OS are you using?  What shell?

You might be better off using a docker container because something seems very wrong with your environment and I can't really understand it remotely.

[2022-05-26 08:24] GabbedT commented on #463
OS: Ubuntu 20.04
Shell:
[code]
[code]
[code]
Should I build the OpenROAD flow with docker? So this guide: https://openroad.readthedocs.io/en/latest/user/BuildWithDocker.html

[2022-05-26 09:27] vijayank88 commented on #463
@GabbedT
Have you installed required development packages? https://github.com/The-OpenROAD-Project/OpenROAD#install-dependencies

[2022-05-26 18:20] GabbedT commented on #463
@vijayank88 Yes, i did everything step by step

[2022-05-26 18:24] maliberty commented on #463
I think it is worth a try in docker to see if you have similar issues or not.

[2022-05-27 09:16] GabbedT commented on #463
@maliberty Yes! The test flow now works, thanks for helping me!

[2022-05-27 09:16] #463 closed, assigned to nobody

[2022-05-27 10:21] GabbedT opened #467 "No rule to make target `gui_6_final.odb'"
Hi, first of all this is my second issue report in two days, so i'm sorry if i'm opening too many.
I'm currently learning the OpenROAD flow and following this guide: https://openroad.readthedocs.io/en/latest/tutorials/FlowTutorial.html
I have all the dependencies installed, the environment set up and I'm running OpenROAD with Docker.

The design synthesis after running this command: `make DESIGN_C

[2022-05-27 17:04] dpsiddons opened #468 "setting tcl include directory"
Op Ubuntu 22.04, building failes because it looks for /usr/include/tcl.h and friends, but it is all in /usr/include/tcl8.6/tcl.h etc. I'm guessing that this is defined somewhere globally, but I can't find where. It is possible, but extremely tedious to go through and find and edit all the relevant #include statements, but there must surely be a better way.

[2022-05-27 18:01] maliberty commented on #467
try: make DESIGN_CONFIG=./designs/sky130hd/ibex/config.mk gui_final

[2022-05-28 08:56] GabbedT commented on #467
@maliberty
Now the pdk changes but the error is still the same.
[code]
Also, when I ran the synthesis, this message showed up, which means that no errors occurred if I'm not wrong:
[code]

[2022-05-28 14:05] maliberty commented on #468
I just upgraded to 22.04 and I see during cmake
-- TCL header: /usr/include/tcl/tcl.h

What do you see?

[2022-05-28 14:44] dpsiddons commented on #468
Hi Matt,
   The programs all expected that, but in my installation, tcl.h is in /usr/lib/tcl8.6. I just realized that all of the offending code is in tools/OpenROAD, and its README.md gives a cmake parameter to set TCL_HEADER and TCL_LIBRARY. I'll try that and see if it fixes things. Is there a log of the cmake output?
Pete.

________________________________
From: Matt Liberty ***@***.***>
Sent: S

[2022-05-28 15:44] maliberty commented on #468
Do you have a non-standard install?  Why would a header be in /usr/lib?  I see
/usr/include/tcl/tcl.h  /usr/include/tcl8.6/tcl.h

[2022-05-29 18:30] minghunghw opened #469 "Cannot run floorpan for ibex implementation"
**Describe the bug**
I build the tool locally and can run the tutorial design successfully.
Then when I try to import my ibex implementation, it stuck at macro placement if manual macro cfg file is not given.
But it should run the automatic macro placement by default.
* [Toolname] stuck at macro placement (`mpl`)
* [Flow] 2_4_floorplan_macro
* [Design] ibex RISC-V system with sky130 sram

**Expect

[2022-05-29 18:40] minghunghw commented on #469
@mithro @msaligane I am facing floorpan issue when macro cfg is not provided.

[2022-05-30 04:29] maliberty commented on #468
@vvbandeira would you test this in a fresh docker container to see what the issue is (if any)

[2022-05-30 11:08] vijayank88 commented on #469
@minghungumich
The right way to attach the test case for macro placement stage fail issue is,
`make macro_place_issue`

[2022-05-30 13:42] dpsiddons commented on #468
....Just to be clear, I built locally, using the "build_openroad.sh" script, so I didn't explicitly run cmake.
Pete.

________________________________
From: Matt Liberty ***@***.***>
Sent: Monday, May 30, 2022 12:29 AM
To: The-OpenROAD-Project/OpenROAD-flow-scripts ***@***.***>
Cc: Siddons, David ***@***.***>; Author ***@***.***>
Subject: Re: [The-OpenROAD-Project/OpenROAD-flow-scripts] setting tc

[2022-05-30 15:05] minghunghw commented on #469
@vijayank88 The testcases is updated and I have confirmed I can reproduce the same log by running the provided shell script. [Macro Place Testcase](https://github.com/minghungumich/Testcase/blob/main/macro_place_pulpino_sky130hd_base_2022-05-30_14-58.tar.gz)

[2022-05-31 03:05] maliberty commented on #467
Do you actually have a final odb file to open?

[2022-05-31 09:06] GabbedT commented on #467
@maliberty Doesn't the synthesis generate automatically that file? If not how can I do it?

[2022-06-01 07:52] vijayank88 commented on #469
@maliberty
Issue confirmed. Can you please have a look into that or please assign to right people?

[2022-06-02 01:40] ravi-varadarajan commented on #469
@vijayank88  Vijayan What do I do to reproduce the issue locally. I see two tar files when I click on the link above? Do I need both?
thanks
-ravi

[2022-06-02 01:42] minghunghw commented on #469
@ravi-varadarajan This one should be reproducible. [Macro Place Testcase](https://github.com/minghungumich/Testcase/blob/main/macro_place_pulpino_sky130hd_base_2022-05-30_14-58.tar.gz)

[2022-06-02 10:26] vijayank88 commented on #467
@GabbedT
Other way just remove `#` from `Makefile` for ibex and keep `#` behind other `DESIGN_CONFIG`
Do `make clean_all` and run again with `make`
Then try `make gui_final`

[2022-06-02 19:05] Sinbiosis opened #472 "Boost Serialization Version conflict"
**Describe the bug**
Running `./build_openroad.sh --local` results in issue with configuration of boost_serialization. Instead I get the following

[code]

**Expected behavior**
Running above compiles openroad locally.

**Screenshots**
N/A

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04.4 LTS
 - OpenROAD-flow commit a9135b34ffdaa0c04b18a4423d038cd98cc8827f

**File

[2022-06-02 19:47] Sinbiosis commented on #472
Running the following from [here](https://github.com/phylo42/rappas2/issues/4) worked for me:

`sudo apt install build-essential cmake libboost-dev libboost-serialization-dev libboost-filesystem-dev libboost-iostreams-dev libboost-program-options-dev zlib1g-dev rapidjson-dev libquadmath0`

[2022-06-02 20:30] Sinbiosis opened #473 "[Build] Issues building OpenROAD Locally"
**Describe the bug**
Running `./build_openroad.sh --local` results in issue during build. It is difficult to diagnose issue from logs. I'm seeing errors about  no matching function call:

[code]

This issue popped up after fixing the issue I listed [here (Boost Serialization Version conflict)](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/472)

**Expected behavior**
Build co

[2022-06-02 23:11] vvbandeira commented on #472
@Sinbiosis did you follow the installation guide? We build and test with Ubuntu 20.04 using docker, so I suspect it is something with your environment.
https://openroad.readthedocs.io/en/latest/user/BuildLocally.html

[2022-06-02 23:41] GabbedT commented on #467
@vijayank88 When i run `make clean_all` i get this:
[code]
I also already left the `DESIGN_CONFIG` for ibex.

[2022-06-02 23:50] vvbandeira commented on #467
@GabbedT see https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/discussions/330 for a solution

[2022-06-02 23:52] GabbedT commented on #467
@vvbandeira My bad i didn't start the docker.

[2022-06-03 00:13] GabbedT commented on #467
@vijayank88  Now the output is:
[code]

[2022-06-04 09:46] vijayank88 commented on #467
@GabbedT
Have you updated packages as per https://openroad.readthedocs.io/en/latest/user/BuildLocally.html#prerequisites?

[2022-06-04 11:41] GabbedT commented on #467
@vijayank88 Yes, everything is updated to the most recent version.

[2022-06-04 12:07] vijayank88 commented on #467
`git --version` ?

[2022-06-04 15:31] GabbedT commented on #467
@vijayank88 2.25.1

Edit: I updated git to 2.36.1 and ran again the synthesis, the output is still the same

[2022-06-04 22:38] vvbandeira commented on #467
These messages look ok if you are running inside docker. Do you have any error messages or problems completing the flow?

[2022-06-05 00:03] GabbedT commented on #467
@vvbandeira The flow should have been completed without any relevant problem/error as far as I know. 
[code]

Those are the last messages that appeared before the end of the flow, which correspond to the documentation one.
Also i checked the directory where all the output files are stored and it seemed complete and coherent with the documentation.

[2022-06-05 16:57] minghunghw opened #477 "PDN breaks after defining global connect for macro pg pins"
**Describe the bug**
I build the tool locally and can run the tutorial design successfully.
Then when I try to import my ibex implementation, it stuck at macro placement if manual macro cfg file is not given.
But it should run the automatic macro placement by default.
* [Toolname] wrong functionality at pdngen (`pdn`)
* [Flow] 2_6_floorplan_pdn
* [Design] ibex RISC-V system with sky130 sram

**Exp

[2022-06-05 16:59] minghunghw commented on #477
@mithro @msaligane I am facing pdn issue when manual pdn cfg is defined.

[2022-06-05 19:51] gadfort commented on #477
@minghungumich is the issue that there are no straps on met4 over the macro? That would be because PDNGEN will not add straps on layers that the macro has metal in (since the highest pins are in met4, the only metal that can connect is on met5).

[2022-06-05 21:20] vvbandeira commented on #467
@GabbedT so can we close the issue or did I miss something?

[2022-06-05 21:54] AyaseErii opened #478 "Cannot run a gcd sample design: Error 2"
**Describe the bug**
I am new to OpenROAD flow. I followed the tutorial to install the openroad flow locally. However, I cannot even run the sample gcd design after I remove the comment sign of the design. An error shows as below:

    [INFO][FLOW] Using platform directory ./platforms/nangate45
    /bin/sh: 0: Illegal option -o pipefail
    /bin/sh: 0: Illegal option -o pipefail
    /bin/sh: 0: Il

[2022-06-05 21:57] vvbandeira commented on #478
Please see https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/discussions/330 for a possible solution.

[2022-06-05 22:32] AyaseErii commented on #478
Thanks for your help! Here is a one-sentence summary of solving this issue: remove the `?` in line 102 of the MakeFile. Just in case someone meets with the same problem.

[2022-06-05 22:38] #478 closed, assigned to nobody

[2022-06-06 00:36] minghunghw commented on #477
@arlpetergadfort I know there are blockages in macro.lef so PDNGEN will not add the strap over it. I think the main issue is after I add extra global connect for macro pg pins, the connection should be a little difference with first figure (default setting). There are only vias and no straps in the second figure (manual setting). Maybe it is my klayout displaying error, but I did find there are lo

[2022-06-06 00:43] gadfort commented on #477
When I ran it, the straps were present after the pdn step (with the run script in the issue you uploaded). You may want to check the layout in OpenROAD to see when the straps disappear.

Global connect doesn't add or remove anything physical it just tells the database what net to connect to what pins.

[2022-06-06 00:46] minghunghw commented on #477
@arlpetergadfort Could you share your screenshot with straps present? If that, this might be my klayout problem. Because as you said, it should make no difference with default setting.

[2022-06-06 01:00] gadfort commented on #477
Here is the screenshot of the upper left corner.
![corner](https://user-images.githubusercontent.com/46405338/172078313-b98f4cdc-eb0e-4c76-b893-2bc9e239c249.png)

You can see the straps on met4 and met5. There are vias connected the memory to the nets on met5 (not visible in this image).

[2022-06-06 01:49] #477 closed, assigned to nobody

[2022-06-06 01:50] minghunghw commented on #477
Thanks! It looks like my klayout displaying problem. I can see those straps in openroad gui.

[2022-06-06 12:40] GabbedT commented on #467
@vvbandeira The problem is that i can't visualize the area/timing/power reports with the commands `report_design_area`, `report_worst_slack` etc...

Basically, after the completion of the flow, I run the command: `make DESIGN_CONFIG=./designs/sky130hd/ibex/config.mk gui_final` and this output appears:

[code]

After `loading spef` basically nothing happens when I try to run the reports commands, I

[2022-06-06 13:00] vijayank88 commented on #467
Have you tried above option?

Is that local or using inside docker?

[2022-06-06 13:08] GabbedT commented on #467
@vijayank88 Yes, I already tried that. I'm using docker

[2022-06-06 17:14] vvbandeira commented on #467
@GabbedT how are you starting docker? You will probably need something like:
[code]

[2022-06-06 19:11] GabbedT commented on #467
@vvbandeira Yes! Now the gui opens with the synthetized design, it works fine except the `TCL command` section: I can't really input any command from the keyboard. Should I close the issue and open another related to that problem?

[2022-06-06 19:18] vvbandeira commented on #467
You can probably just close this one. The keyboard issue is known already, you will need to install some extra packages to your docker image. See https://github.com/The-OpenROAD-Project/OpenROAD/issues/1834#issuecomment-1135123666
I have this on my list to update the docs but did not have a chance yet.

[2022-06-06 19:53] GabbedT commented on #467
@vvbandeira Perfect, thank you again

[2022-06-06 19:53] #467 closed, assigned to nobody

[2022-06-10 17:02] AyaseErii opened #480 "Error1 in the step of 3_3_place_gp"
**Describe the bug**
I am trying to use OpenROAD-flow to generate the GDSII of a custom design. The tool stuck on the step `3_3_place_gp` while the step1 yosys synthesis and step2 floorplan look good to me. The error of step3 shows as below:

      [NesterovSolve] Iter: 290 overflow: 0.785725 HPWL: 103478460
      Stack trace:
       0# 0x0000557545D42511 in /home/jun/OpenROAD-flow-scripts/tools/i

[2022-06-10 17:22] vvbandeira commented on #480
Can you try with the latest `tools/OpenROAD`? There was a similar issue fixed upstream recently.

[code]

Or if you are using docker.
[code]

[2022-06-10 17:53] AyaseErii commented on #480
Thanks for your reply, Vitor. I built the tool locally, and I tried the command:
`./build_openroad.sh --local --latest`
It showed another error when it processed 86%. The error message is shown below:

    [ 86%] Built target rcx
    [ 86%] Linking CXX static library gui.a
    cd /home/jun/OpenROAD-flow-scripts/tools/OpenROAD/build/src/gui && /usr/local/bin/cmake -P CMakeFiles/gui.dir/cmake_clean_

[2022-06-10 18:35] vvbandeira commented on #480
The build runs in parallel so the error is probably earlier in the log / terminal stdout.

Did you clean your workspace? Maybe try the following before building again.
[code]

On your next build run the following in case it has an error, then you can upload the build.log for analysis.
[code]

[2022-06-10 19:40] AyaseErii commented on #480
Thank you very much for the help! It did work after following your suggestions! Appreciate it!

[2022-06-10 22:36] vvbandeira commented on #480
No problem.

(I will mark it as closed after I create a PR to update the `tools/OpenROAD` submodule)

[2022-06-12 20:25] #480 closed, assigned to vvbandeira

[2022-06-13 03:55] AyaseErii opened #483 "A routing error of a large design"
**Describe the bug**
Hello, I tried to generate a GDSII for a larger custom design with OpenROAD. Everything went well from 1_yosys synthesis to 4_cts. However, the tool stuck at 5_route with the error (Error137) messages below:

    ==========================================================================
    check_antennas
    --------------------------------------------------------------------

[2022-06-13 05:21] vijayank88 commented on #483
@AyaseErii
Run `make detail_routing_issue` in the `flow` directory and attach issue reproducible test case.

What's system RAM size?

[2022-06-13 13:02] AyaseErii commented on #483
Thanks for the reply. I am trying to re-run the design to repo the log file with `make detail_routing_issue` now.

The system RAM size is 16.0 GB (15.9 GB usable).

[2022-06-13 13:06] AyaseErii commented on #483
I just tried the command you suggested `make detail_routing_issue` under the `flow`. It cannot work and show the error below:

    [INFO][FLOW] Using platform directory ./platforms/sky130hd
    make: *** No rule to make target 'detail_routing_issue'.  Stop.

[2022-06-13 13:14] vijayank88 commented on #483
try to increase swap space and try once.

@vvbandeira `terminated by signal 9` is out of memory kill right?

[2022-06-13 15:31] vvbandeira commented on #483
@vijayank88 not always, but looks this is the case. DRT is using 9.8GB before iteration 0, this number tends to increase.

[2022-06-13 16:59] maliberty commented on #451
@ripudamank2 do you still need help?

[2022-06-14 02:11] AyaseErii commented on #483
Thanks for the explanation. I think it is a memory issue. I checked the the RAM and increased the swap space. Here is the info after increasing the swap space and using `sudo free -h` command to see if the space was increased:

                    total        used        free      shared  buff/cache   available
      Mem:           12Gi       1.0Gi        10Gi       0.0Ki       543Mi        11Gi

[2022-06-14 03:07] vijayank88 commented on #483
@AyaseErii
Yes need to increase your RAM.
Is that Docker or local installation?

[2022-06-14 03:10] AyaseErii commented on #483
I see. That is local installation, not docker.

On Mon, Jun 13, 2022 at 11:07 PM vijayan ***@***.***> wrote:

[2022-06-14 03:16] vijayank88 commented on #483
I don't understan why `make detail_routing_issue` not working to provide the test case.

Try with increased system resource.

[2022-06-14 09:09] vvbandeira commented on #483
I have seen similar things if the system does not have a dedicated GPU, that memory can be allocated to the on-board graphics.

@AyaseErii can you share a reproducible testcase so we can try to run on our servers? Then we can be sure if it is a resource issue and how much you will need.

if you cannot share, I would suggest adding as much swap as you can and running again. Note that using swap wil

[2022-06-15 00:25] AyaseErii commented on #483
I am trying to use a server with a larger memory to re-do the same design. The tool is running now and it is in `cts` stage. I will let you guys know once the flow was done. Thanks!

[2022-06-16 10:31] vijayank88 commented on #483
@AyaseErii
Is memory issue got fixed?

[2022-06-16 14:52] AyaseErii commented on #483
@vijayank88 @vvbandeira
Something unexpected happened on my server side. After I fixed all other issues on my server, the design is under optimization iteration now (it has gone through several iterations and is still working). I think it is a memory issue, and I believe it got fixed by increasing the physical memory. Thank you very much!

[2022-06-16 15:08] vvbandeira commented on #483
That's great @AyaseErii, please let us know if the design finishes the flow without error with the increased memory so we can close the issue.

[2022-06-16 16:25] tspyrou opened #489 "Check Antennas is called in the grt stage but needs to be called in the drt stage"
check_antennas does not work on global routed designs.
It will always return no errors.

[2022-06-16 16:26] tspyrou opened #490 "Add repair_antenna command to the grt flow script"
We implemented repair_antennas some time ago but have not hooked it up to the flow.

[2022-06-16 20:43] AyaseErii commented on #483
Thank you very much for the help. The tool finished the design without error.

[2022-06-16 21:29] #483 closed, assigned to nobody

[2022-06-17 10:57] vijayank88 commented on #469
@ravi-varadarajan
are you able to reproduce the issue with above `Macro Place Testcase`?

[2022-06-17 12:52] GabbedT opened #491 "Directory not found when trying to run the flow"
Hi, i'm trying to synthetize my first custom design. I created two directories: the source files in /src/UART/ and the configuration files in /design/sky130hd/UART.
I also modified the Makefile by adding the following line uncommented: DESIGN_CONFIG=./designs/sky130hd/UART/config.mk.

 Then i tried to run: `make DESIGN_CONFIG=./designs/sky130hd/UART/config.mk` and the following output appeared:
[c

[2022-06-17 13:50] tspyrou commented on #491
I think it best that you use the OpenLane setup for your work on sky130. It is the main design script repo for this PDK.
In the meantime in openroad-flow-scripts you can try running the prepackaged aes design. If that works compare your makefile to the makefile in that design directory.

[2022-06-17 14:16] ravi-varadarajan commented on #469
Apologies for the delay. I will investigate and get back on this

On Fri, Jun 17, 2022 at 3:57 AM vijayan ***@***.***> wrote:

[2022-06-17 15:21] maliberty commented on #491
I guess you config is missing

export PLATFORM    = sky130hd

but you should post it if that doesn't fix the issue.

[2022-06-17 15:27] GabbedT commented on #491
@maliberty This is my config.mk file:
[code]

[2022-06-17 15:30] GabbedT commented on #491
@tspyrou The other designs work perfectly. Also what are the advantages of OpenLane over OpenROAD?

[2022-06-17 15:32] vvbandeira commented on #491
My guess is that you generated the image before adding your design files, and the `--volume` parameters do not account for this use case. Can you try the following?

[code]

[2022-06-17 15:50] GabbedT commented on #491
@vvbandeira Now when i run the flow:
[code]

I noticed that i do not have any `result` directory: `Makefile  designs  objects  platforms  scripts	test  tutorials  util`, this is the  flow directory

[2022-06-17 15:54] vvbandeira commented on #491
[code]
should probably be
[code]

[2022-06-17 16:38] GabbedT commented on #491
@vvbandeira Still got the error unfortunately

[2022-06-17 16:54] vvbandeira commented on #491
@GabbedT can you fork ORFS, add/commit your changes and provide a link? Is very hard to debug make issues without access to all the relevant files.

[2022-06-17 18:55] AyaseErii opened #492 "Feature of hierarchical floor planning"
**Is your feature request related to a problem? Please describe.**
Hello, I am wondering if the OpenROAD has a feature of hierarchical floor planning. For example, I create a single element layout first and then make this element as a top to place the elements in an array, and finally do a routing. Because it takes a long time to perform a global P&R to generate a large GDSII layout, I guess I can

[2022-06-17 20:30] GabbedT commented on #491
@vvbandeira https://github.com/GabbedT/OpenROAD-flow-scripts

[2022-06-18 00:03] vvbandeira commented on #491
I still see this problem [here](https://github.com/GabbedT/OpenROAD-flow-scripts/blob/9db7fa5e1bdea00c7540795cb63e0e1382b1ea1e/flow/designs/sky130hd/UART/config.mk#L5).

Also, there are a couple of commits in your fork deleting essential folders. Example: `tools/` [here](https://github.com/GabbedT/OpenROAD-flow-scripts/commit/6c99926c684a2ceeefdc87d07bc15d11c4e1f36f).

Steps I ran:
- Clone your re

[2022-06-18 02:15] maliberty commented on #492
We have limited support for this.  We have a basic LEF generator and are bringing out a simple timing model generator.   Hierarchical implementation with a flat signoff is what we recommend for now.

[2022-06-18 02:15] maliberty commented on #492
OpenLane has some support for this as well using Magic for LEF generation.

[2022-06-18 08:31] GabbedT commented on #491
@vvbandeira Ok, now my output is the same. When i converted the .sv files into .v the FIFO module was translated into both `receiver.v` and `transmitter.v`. Then I created another file called `sync_FIFO_buffer.v` and deleted the previous redefinitions. Now this is the error:
[code]
This is the updated folder: https://github.com/GabbedT/OpenROAD-flow-scripts/tree/master/flow/designs/src/UART

I sea

[2022-06-18 09:07] vijayank88 commented on #491
@GabbedT
OpenROAD will do floorplan to routing. The other signoff check done by OpenLane flow.
Install OpenLane from here https://github.com/The-OpenROAD-Project/OpenLane
Also with your UART/src file I'm able to complete the GDS generation with OpenLane with default settings. Try and let us know

[2022-06-18 09:16] vijayank88 commented on #492
@AyaseErii
Are you talking about macro hardening?

If yes it may helps https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/hardening_macros.md

[2022-06-18 09:59] GabbedT commented on #491
@vijayank88 I'll try that out. Also, is it possible to visualize the synthetized design with the OpenROAD gui, i found that really helpful for synthesis exploration for the various options like visualizing heat maps, clock trees etc.

[2022-06-18 10:11] vijayank88 commented on #491
@GabbedT
yes you can get all features. OpenLane is an integrated platform of OpenROAD and other open source tools.

[2022-06-18 12:42] AyaseErii commented on #492
@maliberty Thanks for the suggestion! @vijayank88 Yes, it is exactly what I want! I will take a look in depth. Thank you very much!

[2022-06-18 14:49] GabbedT commented on #491
@vijayank88 Thanks, then i'll definitely move to OpenLane flow, can I close the issue?

[2022-06-18 23:30] #491 closed, assigned to nobody

[2022-06-20 05:58] #492 closed, assigned to nobody

[2022-06-26 02:58] jjcherry56 commented on #489
check_antennas has been fixed to work on global routed data.

[2022-06-26 02:59] jjcherry56 commented on #490
blocked by OR 1499

[2022-06-27 21:14] irakobi opened #499 "cannot run the global_route using latest version of OpenROAD"
**bug description**

I was running the flow using the docker with latest version of OpenROAD then on the stage of global_route I'm having the following stack which doesn't really describe the error. actually this flow has been working using the old version of OpenROAD generated in August 2021.

Using that version in fastroute logfile I was expecting to continue with processing the blockages and co

[2022-06-27 21:22] maliberty commented on #499
Please attach a test case that reproduces the issue.

[2022-06-27 21:45] irakobi commented on #499
[global_route.txt](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/8995790/global_route.txt)

[2022-06-27 22:40] irakobi commented on #499
@luis201420  here is the full folder of the testcase
[Temp-sense-gen Test case](https://github.com/irakobi/OpenFASOCtestcase/tree/master/openfasoc/generators/temp-sense-gen)

[2022-06-28 01:13] kalabYibeltal commented on #499
[temp-sense-gen.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/8996734/temp-sense-gen.tar.gz)
Temp-sensor-gen file tarred

[2022-06-28 11:24] vijayank88 commented on #499
@kalabYibeltal
Test case missing `Error: global_route.tcl, 31 couldn't open "./blocks/sky130hd/tempsenseInst_custom_net.txt": no such file or directory`
Is that needed or comment and continue?

[2022-06-28 15:16] kalabYibeltal commented on #499
It is needed. And the file exists in that directory.

[2022-06-29 11:17] vijayank88 commented on #499
@maliberty  @luis201420
Issue confirmed. OpenROAD getting crashed while running `gloabl_route`

[2022-06-29 11:23] vijayank88 commented on #499
https://github.com/irakobi/OpenFASOCtestcase/blob/master/openfasoc/generators/temp-sense-gen/blocks/sky130hd/tempsenseInst_custom_net.txt

[2022-06-29 20:26] luis201420 commented on #499
The fix is on master branch now.

[2022-06-29 20:26] #499 closed, assigned to luis201420

[2022-07-06 19:12] giumaug opened #508 "Unable to build OpenROAD-flow-scripts, missing yosys image"
I'm not able to build OpenROAD-flow-scripts image from master branch (commit 94eaf45a99e07bdd5b6e5a98c19d632216608bff).
The build exits in error because it is not able to find openroad/yosys:latest image on docker.io.

cd OpenROAD-flow-scripts/
[peppe@localhost OpenROAD-flow-scripts]$ podman build .
STEP 1/10: FROM openroad/flow-runtime
STEP 2/10: WORKDIR /OpenROAD-flow-scripts
--> Using cache fc9

[2022-07-12 05:43] vijayank88 commented on #508
@giumaug
Do you followed installation instruction from here: https://openroad.readthedocs.io/en/latest/user/GettingStarted.html?

[2022-07-12 14:00] giumaug commented on #508
Thanks for the reply. I apologize my fault.
I tries to build from the dockerfile instead of using the build script. Initially the script didn't work out because my box has Podman instead of Docker.
After symlinking Docker to Podman I was able to build and run the container successfully.

[2022-07-13 12:49] vijayank88 commented on #508
@giumaug Can we consider its resolved?

[2022-07-13 14:25] giumaug commented on #508
Yes, we can.

Il giorno mer 13 lug 2022 alle ore 14:50 vijayan ***@***.***>
ha scritto:

[2022-07-13 16:02] #508 closed, assigned to vvbandeira

[2022-07-13 18:58] #380 closed, assigned to vvbandeira