[2022-07-14 14:46] Bilel-Manai opened #516 "Issues building OpenROAD Locally"
Running ./build_openroad.sh --local results in issue during build and I am running ubuntu 22.04 as OS
![build_issue_openroad](https://user-images.githubusercontent.com/65779814/179010375-ea0b072a-4ba1-496f-8f0f-9a3f2c63005d.PNG)

[2022-07-14 16:41] maliberty commented on #516
Can you try a clean build?  Also please give the commit id you are building

[2022-07-15 07:42] Bilel-Manai commented on #516
Hello,
Thank you for the response considering the commit id it's the latest (Openroad version :v2.0-4201-g89151c8ae) .What do you mean by a clean build I just cloned Openroad-flow-scripts and did a local build.

[2022-07-15 11:40] Bilel-Manai commented on #516
I did try a clean build and it worked thank you very much

[2022-07-15 11:40] #516 closed, assigned to nobody

[2022-07-18 14:13] Bilel-Manai opened #521 "Error in building Openroad-flow-scripts locally"
Hi all I am trying to build Openroad-flow-scripts locally in a centos7 I get this error meanwhile I have installed it on both ubuntu 20.04 and 22.04 and never seen this error
![openroad](https://user-images.githubusercontent.com/65779814/179530793-78535972-eb34-4506-a5b2-4b7080044e43.PNG)

[2022-07-18 14:17] vvbandeira commented on #521
What was the command you used to compile? Also, could you try with a clean workspace? This looks like the tools/install folder got deleted after you called the build script.

[2022-07-18 14:40] Bilel-Manai commented on #521
I used ./build_openroad.sh --local and I  tried a clean build if that's what you meant by a clean workspace

[2022-07-18 14:51] vvbandeira commented on #521
I am not sure what may be the issue here since we use Centos 7 for our CI and there all is working as expected. Maybe try to clone the repo again or check your bash setup.

[2022-07-18 14:53] Bilel-Manai commented on #521
Okay thank you if I find something out I will let you know

[2022-07-18 17:19] #521 closed, assigned to vvbandeira

[2022-07-18 18:44] Bilel-Manai opened #522 "PDN failes on an sram design"
Hi all , I am trying to use Openroad latest version on an Sram design there is the design rtl and the config file.
[sram_v.txt](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9134466/sram_v.txt)
[design_sdc.txt](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9134467/design_sdc.txt)
[harness_mk.txt](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scri

[2022-07-18 18:45] maliberty commented on #522
Please package a test case at this step in the flow.  Usually the flow does so automatically on failure but if not please use https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md manually

[2022-07-18 18:58] Bilel-Manai commented on #522
Hi
Thank you for the answer , I can't seem to find the script I am supposed to run
![image](https://user-images.githubusercontent.com/65779814/179583577-a3d45b90-974f-40ba-91cd-103a981aeef6.png)

[2022-07-18 19:00] maliberty commented on #522
Sorry I looked to quickly and thought this was in openlane.  With ORFS just use "make pdn_issue" and upload the resulting tar file.

[2022-07-18 19:03] Bilel-Manai commented on #522
[pdn_gcd_nangate45_base_2022-07-18_20-01.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9134621/pdn_gcd_nangate45_base_2022-07-18_20-01.tar.gz)
It's okay thank you for the help !!

[2022-07-18 20:15] maliberty commented on #522
I ran your test case using the same commit and I get no error:
![image](https://user-images.githubusercontent.com/761514/179609402-988508af-0630-4cc7-9466-a3f2998f17f1.png)

Does running the packaged test fail for you?

[2022-07-18 23:10] vvbandeira commented on #522
@Bilel-Manai, if you have a custom `config.mk` file you should run the command below. From the tar file, looks like you attached the issue for `nangate45/gcd` and not your sram design.

[code]

[2022-07-19 10:02] Bilel-Manai commented on #522
@vvbandeira yes you are right i did run it again for sram and there is the result and sorry for the confusion.

[pdn_sram_nangate45_base_2022-07-19_11-00.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9139917/pdn_sram_nangate45_base_2022-07-19_11-00.tar.gz)

[2022-07-19 13:44] maliberty commented on #522
The block is only 11.99 microns wide:
![image](https://user-images.githubusercontent.com/761514/179763986-1774fa7f-5726-450e-8dde-d01b2485c2f1.png)

in the config it specifies
[code]
The default spacing between stripes is half the pitch and so your block is too small to insert two stripes.  You could modify your spacing to make it work.  For example this works:
[code]
which produces
![image](https

[2022-07-19 16:38] Bilel-Manai commented on #522
I see thank you can you help me out with 1 more design it fails at this step and I did some testing and the problem is in
set path_delay [sta::format_time [[[lindex [find_timing_paths -sort_by_slack] 0] path] arrival] 4] in the file OpenROAD-flow-scripts/flow/scripts/report_metrics.tcl not executing properly if you need a tar file for the testcase just tell me the command to make it Thank you once

[2022-07-19 16:44] maliberty commented on #522
The design you sent earlier had nothing in it but a few tapcells.  I guess the issue is that there is nothing to time in this design.  Where is your logic?

[2022-07-19 16:54] Bilel-Manai commented on #522
there is the rtl i am running msbGeneric as my top module
[msbGeneric.tar.GZ](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9143153/msbGeneric.tar.GZ)

[2022-07-19 17:01] maliberty commented on #522
Can't open it
[code]

[2022-07-19 17:34] Bilel-Manai commented on #522
can you try and open this one Please
[msbGeneric.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9143407/msbGeneric.tar.gz)

[2022-07-19 17:39] maliberty commented on #522
you have no clock in your sdc

[2022-07-19 17:54] Bilel-Manai commented on #522
yeah you are right thank you !

[2022-07-19 17:58] maliberty commented on #522
Glad to help.  Can this be closed?

[2022-07-19 18:08] #522 closed, assigned to nobody

[2022-07-28 18:19] proppy opened #540 "global_place_skip_io should reject out of range PLACE_DENSITY"
**Describe the bug**
`global_place_skip_io` currently doesn't reject out of range `PLACE_DENSITY` parameters causing `NesterovSolve` to diverge after 4 hours of iterations and fails with the following error (e.g passing `PLACE_DENSITY` of `80` instead of  `0.8`):
[code]
[RePlAce]

**Expected behavior**
global_place_skip_io (or RePlAce) validate its input parameters and send errors out before attem

[2022-07-28 18:38] maliberty commented on #540
Please package a complete reproducer and not just a log file if possible.  What is the PLACE_DENSITY and what defines it as out of range?

[2022-07-28 18:43] proppy commented on #540
I used `PLACE_DENSITY = 80` instead of `PLACE_DENSITY = 0.8`

Looking at the existing designs it seems that it is expected to be between `0` and `1`:
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/search?q=PLACE_DENSITY+filename%3Aconfig.mk

[2022-07-28 18:44] proppy commented on #540
Is there an ORFS command for this? (I'm not sure how complete this needs to be, are the `config.mk` and `constraint.sdc` enough?)

[2022-07-28 18:52] maliberty commented on #540
`make <step>_issue`

in this case make global_place_issue

[2022-07-29 01:00] #540 closed, assigned to nobody

[2022-07-29 01:13] proppy opened #541 "createGallery should work with odb file"
**Describe the bug**

`createGallery` seems to expect `.def` file to be present in the `results` directory for all steps, see:
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/2c3ed45f6381484ee8fb0501f7c273c91db531eb/flow/util/gallery.json

While the current version of OpenROAD flow only produce `.def` file for a final view:
[code]

Triggering the following error:
[code]

[Flow]

[2022-08-04 17:40] rovinski commented on #541
I think `createGallery.py` has fallen out of favor due to [`save_images.tcl`](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/scripts/save_images.tcl). The former uses KLayout to generate the images, but the latter uses OpenROAD natively.

[2022-08-04 17:49] maliberty commented on #541
@vvbandeira is createGallery.py used by CI?  @ravi-varadarajan ? I thought this was used for something still.

[2022-08-04 18:18] rovinski commented on #541
This script was made before the GUI existed (or at least before image saving). The GUI came along and is basically better in every way (don't need a [dedicated script](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/118e0d5c00a8af5e28ddf4f87e356eb1ae46396a/flow/scripts/deleteNonClkNets.tcl) just to delete non-clock nets to get a view of the clock tree)

The only benefit to KLayo

[2022-08-04 19:01] vvbandeira commented on #541
I don't think `createGallery.py` is used. We have `galleryReport.py`, but that is for the private-tools repo.

[2022-08-04 19:03] maliberty commented on #541
That must have been what I was thinking of.  If it is truly obsolete we should just remove it.

[2022-08-04 20:08] rovinski commented on #541
It might be nice to keep the script just for a single GDS screenshot? The other views can be removed.

[2022-08-04 21:04] ravi-varadarajan commented on #541
Yes we are only using the private_tool_scripts for gallery reports. not
createGallery.py

-ravi

On Thu, Aug 4, 2022 at 12:03 PM Matt Liberty ***@***.***>
wrote:

[2022-08-04 22:03] maliberty commented on #541
If we are only going to keep it for gds snapshots then this issue is moot.

[2022-08-05 08:11] lulu9312 opened #550 "Merging GDS/OAS file error"
Describe the bug
Getting an error at GDS stage during merging GDS/OAS files. The additional files are present in the specified directory. Still it considers only one gds file.

Expected behavior
Should accept all the gds files present.

Screenshots
![gds3_error](https://user-images.githubusercontent.com/61928883/183032577-437def99-22c8-42a8-8941-c48bdd63f3ef.png)

[2022-08-05 08:32] rovinski commented on #550
Please package a test case, it will help to resolve your issue much quicker.

However, all of the cells that are missing are not standard cells. Have you actually set the GDS files in `ADDITIONAL_GDS_FILES`?

[2022-08-05 10:39] lulu9312 commented on #550
@rovinski  Yes I have set the GDS files in ADDITIONAL_GDS_FILES.
Screenshot
![gds_error](https://user-images.githubusercontent.com/61928883/183060128-a76569ec-de01-4217-a67d-307b84f7c1db.png)
Here the export GDS command should take all .gds file gds but it considers only one. Here the standard cells are missing as well.

What do you mean pacakage a test case? Should I attach my config file here?

[2022-08-06 06:44] vijayank88 commented on #550
@lulu9312
ORFS flow don't have built in `sky130_fd_sc_hvl` platforms. Check here: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/tree/master/flow/platforms.
That's why its shows missing gds. Point  right path to `GDS_FILES`.

@vvbandeira why `hvl` library support missing from ORFS flow for sky130? OpenLane flow has support for `hvl` library.

[2022-08-06 06:58] lulu9312 commented on #550
@vijayank88 Yes I  have already added sky130hvl to the platforms. I have also pointed the right path.

![file_sky130hvl](https://user-images.githubusercontent.com/61928883/183238182-d39eeb57-bd5d-4275-b7c3-98c3176686cc.png)

[2022-08-06 09:00] vijayank88 commented on #550
@lulu9312
Can you prefix with `ADDITIONAL_LEFS` `ADDITIONAL_GDS` `ADDITIONAL_LIBS`?

[2022-08-07 03:01] lulu9312 commented on #550
@vijayank88 I tried the above prefix  but no change.

[2022-08-08 10:44] lulu9312 commented on #550
@vijayank88 Got the error resolved by updating Klayout

[2022-08-08 10:44] #550 closed, assigned to nobody

[2022-08-09 23:41] Elon-J opened #553 "About the final CDL file problem"
**Describe the bug**
When I use the OpenRoad script to generate a GDS block from my Verilog design, I find that in the 6_final.cdl file, there are some pins unconnected so that I can't pass the LVS, but I have checked the GDS file and do the post simulation for the GDS block generated by this flow, Its pins connect well and the post-simulation waveform is right. So I suspend that there are some pr

[2022-08-10 13:25] ChrisLuck opened #555 "Autotuner treating successful runs as failed (minimum 9999999999900.0)"
The root cause of this is that `power__total` is missing in the metrics.json file because commit 3700520d26a556c16c95131ac6447a31d59f6c8f removed the code for that (and a lot more, probably by accident?)

How to reproduce:
`python3 distributed.py --design gcd --platform sky130hd --config designs/sky130hd/gcd/autotuner.json`

[2022-08-10 14:59] ravi-varadarajan commented on #555
Will look into it now

[2022-08-11 13:55] vijayank88 commented on #553
@Elon-J
Seems the commits what you're used is old.
Can you try with latest commit and confirm if same issue repeats?

Unable to reproduce issue to debug due to incompatible version
[code]

[2022-08-11 17:08] Elon-J commented on #553
@vijayank88  OK, let me transfer into the newest flow version and try it again. Thanks!

[2022-08-13 08:12] lulu9312 opened #556 "Detailed Placement checks failed"
Describe the bug
I have done manual macro placement and also created a voltage domain.Getting error at detailed placement stage

Expected behavior
Should pass the detailed placement stage

Screenshots
![error_1](https://user-images.githubusercontent.com/61928883/184475961-298052c2-f7c0-4a96-a821-3f5c2d87b6ef.png)
![error_2](https://user-images.githubusercontent.com/61928883/184475964-1823c9af-417d

[2022-08-13 09:06] vijayank88 commented on #556
@lulu9312
Run following command and attach the test case generated by flow script.
`make detail_place_issue`

[2022-08-13 10:26] lulu9312 commented on #556
@vijayank88 here's the generated test case. I have updated CELL_PAD_IN_SITES variable but the error looks same
[detail_place_ldo_sky130hvl_base_2022-08-13_15-53.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9331228/detail_place_ldo_sky130hvl_base_2022-08-13_15-53.tar.gz)

[2022-08-13 14:52] maliberty commented on #556
The problem is that the placement rows around the voltage domain are malformed.  The fix is initial_floorplan to correctly setup the rows.
![image](https://user-images.githubusercontent.com/761514/184499401-1d6586b6-20dc-4e74-9222-d84b12a38eac.png)

[2022-08-13 15:44] #556 closed, assigned to nobody

[2022-08-16 06:12] Ali-Sabir2 commented on #173
Hi!
I am facing routing congestion issue.
Can anyone help me ?
How to solve this problem?
Thanks

[2022-08-16 06:12] Ali-Sabir2 commented on #173
![Screenshot from 2022-08-16 10-50-58](https://user-images.githubusercontent.com/104711127/184810065-e84f2187-78ec-4656-9aea-a49932231388.png)

[2022-08-16 06:32] vijayank88 commented on #173
@Ali-Sabir2
Please open your issue here: https://github.com/The-OpenROAD-Project/OpenLane/issues
With `issue_reproducible` generated through flow or  Please package a standalone test case with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

From the screenshot its looks like out of memory kill. Please increase your swap space and run the flow again.

[2022-08-18 03:25] proppy opened #561 "Unable to create reproducible w/ platform files"
**Describe the bug**

As discussed in https://github.com/The-OpenROAD-Project/OpenROAD/issues/2163#issuecomment-1218925961 creating an issue using `make *_issue` fails with the following error:
[code]
Passing `EXCLUDE_PLATFORM=1` does allow the reproducible creation to complete:
[code]

[Flow]

**Expected behavior**

`make *_issue` create a tarball with the reproducible including the platform file

[2022-08-18 11:37] lulu9312 opened #562 "OpenROAD-flow-scripts does not update OpenROAD to latest version"
Describe the bug
I recently updated ORFS but the OpenROAD under tools folder does not seem to be updated

Expected behavior
OpenROAD under tools folder should be updated to latest version

Screenshots
Attaching a file that's updated in OpenROAD but not in ORFS
![or_update](https://user-images.githubusercontent.com/61928883/185385747-b97a5490-1326-4c1c-a85e-724e8461ae4b.png)

[2022-08-18 12:00] vvbandeira commented on #562
OpenROAD-flow-scripts always point to a version of OpenROAD that is "known as good/stable" for the designs in ORFS, so is expected that most of the time it stays behind OpenROAD/master. In other words, updating ORFS to the latest master does not guarantee that (and is not expected to) have the latest OpenROAD.

You can use `--latest` flag with `./build_openroad.sh` to force ORFS to use OpenROAD/ma

[2022-08-18 12:00] #562 closed, assigned to nobody

[2022-08-19 03:19] proppy opened #563 "Add support for new ASAP7 7.5T version (28)"
It looks like a new version of the 7.5T ASAP7 library is available here:
https://github.com/The-OpenROAD-Project/asap7/tree/master/asap7sc7p5t_28

Should support be added as a separate platform or should  it simply replace the previous version?

[2022-08-19 03:52] maliberty commented on #563
It should simply replace it.   The asap7 maintainers are not sophisticated git users and just copy everything rather than using branches or tags.

[2022-08-23 02:40] msaligane commented on #550
which klayout version have you used? @lulu9312

[2022-08-23 12:37] lulu9312 commented on #550
@msaligane Right now I am on version 0.27.10 Previously, I was on version 0.26.2

[2022-09-01 23:54] tspyrou opened #572 "Add check_setup opensta command to synthesis and final report scripts"

[2022-09-08 10:59] vijayank88 opened #576 "[ERROR GPL-0305] RePlAce diverged at newStepLength"
**Describe the bug**
A clear and concise description of what the bug is. Please include any tags that apply to this issue:
* [RePlace] for runtime issues
I'm trying to implement small designs like `digital_pll` and `sar_adc` with less than 100x100 size and failed to complete global placement stage with `absolute` or `relative` size as well.

**Expected behavior**
Complete all stages of the flow.

[2022-09-08 18:04] joennlae commented on #576
@vijayank88 I assume it is a small design. Try to add:

[code]
to `config.mk`

[2022-09-09 06:22] vijayank88 commented on #576
@joennlae
Thanks. Its resolved the issue.
Where that variable documented?

[2022-09-09 07:28] vijayank88 commented on #576
Also IO pins placed and bottom pins left open. Is that expected?
![Screenshot from 2022-09-09 11-45-25](https://user-images.githubusercontent.com/85787913/189286054-b31faddf-5e88-4d11-892e-f69158fa3b2e.png)

[2022-09-09 14:34] joennlae commented on #576
Nowhere. I had to same issue and found out that this is a possible fix for small designs as the solver only works for a certain design size and this option skips the initial placement.

[2022-09-09 14:35] joennlae commented on #576
This should be normal as it places IO per default. If I am not mistaken.

[2022-09-09 21:50] maliberty commented on #576
This is more of a work around than a proper solution.  If the placer diverges we should investigate why.

[2022-09-09 22:05] maliberty commented on #576
@ramezmoussa the utilization reported here is
[code]

Something seems different between how we are computing over
so this should converge easily.  However the overflow stalls
[code]
Something seems off between overflow and utilization/density.  Would you look into how they are both computed?

[2022-09-10 15:10] ramezmoussa commented on #576
@maliberty  The overall overflow is computed as: $$\sum_i overflow_i \over  \sum standard\textunderscore cell\textunderscore area \_ j + \sum (macro\textunderscore  area \_ j \times targetDensity) $$

where $overflow_i$ is the overflow in bin $i$.  $$overflow_i = \sum \text{(overlap of placable instances with bin i + overlap of fixed instances with bin i)}  - bin\textunderscore area \times targetD

[2022-09-14 20:03] maliberty commented on #576
I'm curious why there are there 40 buffers connected in parallel.  While we will fix the placement issue I am wondering if something is wrong with this design.

[2022-09-16 06:53] sharkoo7 opened #585 "error when running a design"
I build orfs in docker. inside docker:I follow the instructions below:
`source ./setup_env.sh`
`yosys -help`
`openroad -help`
`cd flow`
`make`

But I came across this error:
4.24. Executing ABC pass (technology mapping using ABC).
4.24.1. Extracting gate netlist of module `\gcd' to `<abc-temp-dir>/input.blif'..
ERROR: ABC: execution of command "/OpenROAD-flow-scripts/tools/install/yosys/bin/yosys-

[2022-09-16 12:08] vijayank88 commented on #585
@sharkoo7
Have you verified installation as per this [instructions](https://openroad.readthedocs.io/en/latest/user/BuildWithDocker.html)?

[2022-09-16 14:55] sharkoo7 commented on #585
Yes,I did. Here is what I did:

bash-4.2$ source ./setup_env.sh
OPENROAD: /OpenROAD-flow-scripts/tools/OpenROAD
bash-4.2$ yosys -help
[code]
bash-4.2$ openroad -help
[code]
bash-4.2$ cd flow
bash-4.2$ make
[code]

[2022-09-17 09:40] vijayank88 commented on #585
Share following details:
`docker --version`
 OS type:

[2022-09-17 09:52] sharkoo7 commented on #585
I'm using Docker version 20.10.17 and Ubuntu 21.10.
I'm not sure if it's related to yosys-abc,cuz:
[code]
How can I fix it?

[2022-09-17 09:56] vijayank88 commented on #585
https://github.com/The-OpenROAD-Project/OpenROAD#install-dependencies Have you installed these dependencies?

[2022-09-17 11:28] sharkoo7 commented on #585
Yes I did. But `Package 'libtcl' has no installation candidate` so I changed it into libtcl8.6
I tried to run here DependencyInstaller.sh again.Here is the results:
[code]

[2022-09-17 11:30] vijayank88 commented on #585
Its working fine with Ubuntu 20.04.
@vvbandeira any help?

[2022-09-18 06:56] sharkoo7 commented on #585
Thanks a lot for helping me. I deleted the whole directory,cloned and built all over again. It worked fine this time!

[2022-09-18 06:56] #585 closed, assigned to nobody

[2022-09-19 15:40] tspyrou commented on #555
@vvbandeira when you get back can you look at reverting this change. It break the autotuner.

[2022-09-19 15:41] tspyrou opened #586 "Create CI for autotuner"

[2022-09-19 23:44] maliberty commented on #555
@tspyrou that change is from July.  Surely we have run the autotuner since then...

[2022-09-21 08:37] ChrisLuck commented on #555
Hi @maliberty !
Maybe I am doing something wrong but I just checked and the problem still exists. The AutoTuner is running without throwing noticeable errors but the results are not useful.

The metric for power is missing so the AutoTuner cannot calculate a correct score. As a result, some "fake" score is returned in https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/u

[2022-09-21 17:03] maliberty commented on #555
I'm restoring the lost power metrics in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2290 and https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/590

[2022-09-22 11:01] vijayank88 commented on #576
@maliberty
here is source RTL [files](https://github.com/efabless/caravel/blob/main/verilog/rtl/digital_pll.v).

[2022-09-22 16:11] tspyrou commented on #555
@ChrisLuck this is in progress.

[2022-09-26 17:07] maliberty commented on #555
Both PR have been merged so I think this will work now.  @ahmadelrouby would you test that this fixes the autotuner?

[2022-09-26 19:52] rovinski opened #597 "Add Antenna information back to nangate45"
**Is your feature request related to a problem? Please describe.**
Nangate45 has antenna information in the [original LEF](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/bb1bc7d63c268417868c994396f8702a0460b23c/flow/platforms/nangate45/lef/NangateOpenCellLibrary.macro.lef) but it was stripped out when converting the LEF pin shapes from `POLYGON` to `RECT` in [NangateOpenCellLib

[2022-09-26 19:54] rovinski commented on #597
@maliberty Does DRT still have a limitation that it can only read `RECT` pins? Or has the odb integration resolved that? If so, we can delete the modified LEF and go back to using the original with `POLYGON` pins.

[2022-09-26 20:02] maliberty commented on #597
I think it will work - can you give it a try?

[2022-09-27 08:07] sharkoo7 opened #599 "cannot open openroad gui"
After running designs/sky130hd/chameleon, I wanted to view the result with openroad gui. But` make gui_final DESIGN_CONFIG=./designs/sky130hd/chameleon/config.mk` stucked at` loading spef`.  `make gui_floorplan DESIGN_CONFIG=./designs/sky130hd/chameleon/config.mk` didn't work as well. I wonder what's the problem?

[2022-09-27 08:53] rovinski commented on #599
Please use the bug report template. It's there for a reason. Please state:
1. Your OpenROAD-flow-scrips version (git hash)
2. Your OS and version
3. How you are running it (natively or Docker)
4. Attach the full log

[2022-09-30 07:30] sharkoo7 commented on #599
1. c086c4689266038b03334d1198d1e0f0369df87d
2. Ubuntu 22.04.1 LTS
3. I am running it in docker
4. [log.zip](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9681776/log.zip)
5.after completing the flow,` make gui_final DESIGN_CONFIG=./designs/sky130hd/chameleon/config.mk` stucked at` loading spef`.
![image](https://user-images.githubusercontent.com/113168256/193215575-ab40e495-8

[2022-10-02 04:06] maliberty commented on #599
Would you try setting GUI_NO_TIMING=1 and see if the problem persists or not?  That will skip loading the spef.

[2022-10-03 16:20] vvbandeira commented on #451
Closing as stale. Please re-open or file a new issue in case this is still relevant.

[2022-10-03 16:20] #451 closed, assigned to vvbandeira

[2022-10-03 16:21] vvbandeira commented on #472
Closing as stale. Please re-open or file a new issue in case this is still relevant.

[2022-10-03 16:21] #472 closed, assigned to vvbandeira

[2022-10-07 04:13] stevenmburns opened #605 "Flow exiting in CTS stage with an OverflowError"
**Describe the bug**
I have a testcase that fails in the CTS stage returning this error:
[code]
**Expected behavior**
This should run through the flow and produce a layout, or give a description of the input errors.

**Screenshots**
N/A

**Environment (please complete the following information):**
Please only report issues for supported OSs.
 - OS: Centos 7 in an Apptainer container
 - OpenROAD-fl

[2022-10-07 04:30] maliberty commented on #605
I expect this is the same as https://github.com/The-OpenROAD-Project/OpenROAD/issues/2268

The fix was merged but had to be reverted due to other issues.  It is planned to go in again soon.

[2022-10-07 04:32] maliberty commented on #605
You can work around this by disabling clock skew reporting in flow/scripts/report_metrics.tcl

[2022-10-07 05:27] stevenmburns commented on #605
Thanks.

[2022-10-07 05:27] #605 closed, assigned to nobody

[2022-10-07 17:35] vvbandeira commented on #473
@Sinbiosis, apologies for the delay. Do you still see this issue with the latest code?

[2022-10-08 15:32] Sinbiosis commented on #473
I will check once I get back to my main computer.

[2022-10-10 09:06] ChrisLuck commented on #555
I gave it a try and it seems to work without modification now. Thank you very much!

[2022-10-10 13:28] #555 closed, assigned to maliberty

[2022-10-10 15:50] vvbandeira commented on #206
Closing based on the last comment, please reopen if it is still relevant.

[2022-10-10 15:50] #206 closed, assigned to rovinski

[2022-10-10 16:35] #468 closed, assigned to vvbandeira, habibayassin

[2022-10-11 08:55] dpsiddons commented on #468
I'm sorry, my mistake. I meant to type include not lib. My installation does not have /usr/include/tcl/tcl.h, only the 8.6 version. This was an upgrade from 20.04 to 22.04.
Pete.

________________________________
From: Matt Liberty ***@***.***>
Sent: Saturday, May 28, 2022 11:44 AM
To: The-OpenROAD-Project/OpenROAD-flow-scripts ***@***.***>
Cc: Siddons, David ***@***.***>; Author ***@***.***>
Subj

[2022-10-11 16:14] tspyrou opened #608 "Error in floorplan tcl on asap7 gcd regression test"
git clone --recursive git@github.com:The-OpenROAD-Project/OpenROAD-flow-scripts.git
cd OpenROAD-flow-scripts/
 ./build_openroad.sh --local --latest --nice
cd flow
make DESIGN_CONFIG=./designs/asap7/gcd/config.mk

Error: floorplan.tcl, 101 invalid command name "report_power_metric"
Command exited with non-zero status 1
Elapsed time: 0:01.37[h:]min:sec. CPU time: user 1.27 sys 0.09 (99%). Peak memor

[2022-10-11 16:38] tspyrou commented on #608
This is the problem @ravi-varadarajan

tspyrou@DESKTOP-JDHB6MS:~/OpenROAD-flow-scripts/flow$ git diff
diff --git a/flow/scripts/report_metrics.tcl b/flow/scripts/report_metrics.tcl
index b885d9f3..cde7b71a 100644
--- a/flow/scripts/report_metrics.tcl
+++ b/flow/scripts/report_metrics.tcl
@@ -154,12 +154,12 @@ proc report_metrics { when {include_erc true} {include_clock_skew true} } {
     foreach

[2022-10-11 17:31] maliberty commented on #608
Are you using the head of OR?  report_power_metric is defined in Metrics.tcl and is available in OR.

[2022-10-11 18:11] maliberty commented on #608
@tspyrou I did your sequence of steps without any error.

[2022-10-11 18:13] maliberty commented on #608
It also passes in the CI https://jenkins.openroad.tools/job/OpenROAD-flow-scripts-Nightly-Public/1687/execution/node/434/log/?consoleFull

[2022-10-11 18:13] #608 closed, assigned to maliberty, ravi-varadarajan

[2022-10-12 00:13] vvbandeira commented on #468
@dpsiddons we just added support for ubuntu 22 on our DependecyInstaller script and we are able to build on a clean docker and VM running ubuntu 22. My suggestion would be to remove/purge the current install of tcl and re-install. Something along the lines of:

[code]

[2022-10-12 04:01] ravi-varadarajan commented on #608
This was reported by UCSC -- Jignesh Shah.    SO the solution for them is ensure that they are using head of OR.  I also suspected it was OR version issue.

[2022-10-13 09:37] antonblanchard opened #612 "ASAP7 M2 has very large pitch"
I'm debugging an issue where global routing is routing many connections between adjacent cells all the way through M4. I'm testing with `designs/asap7/aes`. In all of these cases detailed routing was able to satisfy it using M2.

Even after changing `set_global_routing_layer_adjustment`:

[code]

I still saw many cases of this issue. M2 capacity is tiny compared to layers above it:

[code]

If I l

[2022-10-13 16:40] maliberty commented on #612
I don't understand you command about pitch - I see m2 having a smaller pitch than m4.   In any case the pitch isn't very useful as we have a custom track pattern for m2 as you note.  m2 does have power rails which will reduce its capacity relative to higher layers but I'll still take a look at what's going on.

[2022-10-13 17:01] maliberty commented on #612
There is a real problem in that GlobalRouter::initRoutingTracks is only getting one grid pattern back
[code]
and not all of them.  There is a strong assumption of a single track pattern which is not right here.  I'll have to think about how best to fix this for a bit.

[2022-10-13 20:03] stevenmburns opened #613 "Question: Are there any examples that use custom cell mappings? (cells_latch.v, cells_adder.v, cells_clkgate.v)"
**Is your feature request related to a problem? Please describe.**
I'm trying to create the correct platform collateral for intel16. I have filled in good candidate cells for the active high and active low transparent latches, good half and full adders, and an integrated clock gating cell.
Is there an existing way to test whether these new cells are being used? I have cases where I can see the add

[2022-10-13 20:09] stevenmburns commented on #613
Here is an attempt to use latches:
[code]
This fails with:
[code]

[2022-10-13 21:06] maliberty commented on #612
Fixed with the above PR

[2022-10-13 21:06] #612 closed, assigned to nobody

[2022-10-13 21:58] maliberty commented on #613
I'm not aware of any designs in our suite using latches.  @louiic @rovinski @ravi-varadarajan do you know of any?

[2022-10-13 22:06] rovinski commented on #613
We generally try to avoid using latches in designs. This is a special use case where it's appropriate.

@stevenmburns could you package a full test case?

[2022-10-14 15:24] stevenmburns commented on #613
[latch_design.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/9787774/latch_design.tar.gz)

I ported the testcase to nangate45.
Here is the error, not recognizing the LATCH primitive, which I don't know how to specify correctly:
[code]

[2022-10-14 15:28] stevenmburns commented on #613
I'm not that interested in latch based designs, I just want to make sure that I have the correct collateral for the new platform I'm trying to setup. `nangate45` specifies cell mappings for latches, full_adder/half_adder, and integrated clock gates, in cells_latch.v, cells_adder.v, and cells_clkgate.v. I want to do the same, but I also want to be able to test that what I did is being consumed corr

[2022-10-14 16:36] rovinski commented on #613
I don't think `cells_latch.v`, `cells_adder.v`, or `cells_clkgate.v` are required unless those cells are explicitly instantiated in the design.
`cells_adder.v` is definitely useful because you can't infer half or full adder cells unless it's specified - yosys will use generic logic instead.
`cells_latch.v` and `cells_clkgate.v` won't be used unless the design calls for it. Generally, latches aren'

[2022-10-14 17:58] stevenmburns commented on #613
To make this design work, I probably only need to know how to make instances of the yosys primitives `$_DLATCH_P_` and `$_DLATCH_N_`.

[2022-10-14 19:48] dpsiddons commented on #468
Hi Vitor,
   Thank you very much. I will give it a try.
Pete.

________________________________
From: Vitor Bandeira ***@***.***>
Sent: Tuesday, October 11, 2022 8:13 PM
To: The-OpenROAD-Project/OpenROAD-flow-scripts ***@***.***>
Cc: Siddons, David ***@***.***>; Mention ***@***.***>
Subject: Re: [The-OpenROAD-Project/OpenROAD-flow-scripts] setting tcl include directory (Issue #468)

@dpsiddons<htt

[2022-10-17 15:47] maliberty commented on #613
You don't directly instantiate the latches but give synthesis input that it maps to latches.  For example:
[code]
gives instances of DLH_X1 in the yosys output.

[2022-10-17 16:38] stevenmburns commented on #613
Thanks, that works. (I tried that originally but I must have done something else wrong because it was propagating `1'b0` to the gated clocks.) The one remaining thing is what is the preferred way to make instances of `OPENROAD_CLKGATE` create a clock gate.
[code]
I've instantiated it above. It doesn't get converted to a clock gate in the `nangate45` platform because the `ifdef` isn't satisfied in

[2022-10-17 17:55] maliberty commented on #613
@tajayi the only usage I see for OPENROAD_CLKGATE is in designs/src/swerv/swerv_wrapper.sv2v.v which you setup.  Do you know the history here?

[2022-10-17 22:35] #561 closed, assigned to vvbandeira, habibayassin

[2022-10-18 02:56] rovinski commented on #613
I think swerv_wrapper uses an architectural clock gate so that was the best strategy for making it portable. I don't know whether yosys supports inferring clock gates from RTL (I don't think it does).

I think there might be something lost along the way because `OPENROAD_CLKGATE` doesn't get defined anywhere in the synth script, so this would always result in evaluating to `assign GCK = CK`.

[2022-10-18 13:16] maliberty commented on #613
The naming style doesn't match what yosys uses so this seems like an ORFS hack from what I can see.    I've tried asking about clock gate inferencing in the yosys slack as I didn't see anything in the manual.  In short I wouldn't worry about this case for now.

[2022-10-18 15:40] maliberty commented on #613
I got confirmation that yosys doesn't generate clock gating so this is not a general feature.

@rovinski is there any reason not to just turn this on in this design and remove it from the scripts?

[2022-10-18 16:07] rovinski commented on #613
Do you mean add the clock gate to this design and then remove it from the platforms? IDK I think 1) it sets a good example for other designs 2) It isn't impacting the flow, but otherwise yeah it could be removed.

[2022-10-18 16:27] maliberty commented on #613
On the flip side it is confusing to anyone bringing up a new PDK as this issue shows.  It makes it seem like a yosys feature which it isn't.  I don't feel strongly one way or the other.

[2022-10-18 16:30] rovinski commented on #613
Another option is to add documentation about it. I could make a quick PR.

[2022-10-18 17:16] stevenmburns commented on #613
My recommendation would be to get rid of the `ifdef` here.
[code]
It is not the same thing to just pass the clock through anyway.
How about this instead?
[code]

Then new platforms could add this or not, but it will be used if the testcase has it.

Feel free to close this issue (or I will if you want.)

[2022-10-19 13:45] #613 closed, assigned to nobody

[2022-11-17 15:48] alybruin commented on #599
Hi @sharkoo7 .  I'm currently having the same issue with "make gui_final" stuck at "loading spef".  Did you ever resolve your issue and if yes, could you share your solution? Thank you very much in advance.

[2022-11-21 16:57] maliberty commented on #599
@alybruin can you try my suggestion and report if it works?

[2022-11-21 17:53] alybruin commented on #599
Hi @maliberty , yes I have tried your suggestion but still same issue with stuck at "loading spef".  In gui.tcl script, the GUI_NO_TIMING param is used to determine design_stage 1 - 6.  If design-stage = 6, it performs "Loading spef".  Else, it performs "Estimate parasitic".  Even when I commented out both loading spef and estimating parasitic, the GUI is still stuck and not opening.

[2022-11-21 17:57] maliberty commented on #599
GUI_NO_TIMING will skip the loading or estimating of any parasitics.  If you have set it you should not get a "Loading spef" message at all.

So the problem is not related to parasitics.  How large is your design?

[2022-11-21 18:04] maliberty commented on #599
Can you provide your .odb file?

[2022-11-21 18:04] maliberty commented on #599
and the version of OR you are using (openroad -version)

[2022-11-21 18:30] alybruin commented on #599
Hi @maliberty .  Sorry for not being clear earlier.  After setting GUI_NO_TIMING, I do not get "Loading spef" message anymore.  However, it's still not opening GUI, just stuck there.

[2022-11-21 18:31] alybruin commented on #599
Hi @maliberty .  I'm running the example ethmac design using asap7 platform.  But same issue with gcd example design.

[2022-11-21 19:25] maliberty commented on #599
@alybruin
What version of OR?
What platform?
Are you using docker?

[2022-11-21 19:44] alybruin commented on #599
@maliberty .  I'm running CentOS7 and using Docker.  As for OR version, I'm still trying to figure that out.  I'm using OR flow scripts, not OpenLane.  The way I tried to open GUI is in Docker, after make successful, I type "make gui-final".  Also, I can navigate to OpenROAD-flow-scripts/tools/install/OpenROAD/bin  and typing "./openroad -version" returns GITDIR-NOTFOUND and "./openroad -gui" retu

[2022-11-21 19:52] maliberty commented on #599
I'm guessing this is a docker issue and not an OR issue.  In OL there is much discussion in https://github.com/The-OpenROAD-Project/OpenLane/issues/1149.  Would you try running docker with --privileged and see if that fixes it.

I can open that design in the gui with timing in <1m outside of docker.

[2022-11-21 22:12] alybruin commented on #599
Hi @maliberty .  I did try adding that "DOCKER_OPTIONS += --privileged" but same issue.  Thank you for confirming that you can open GUI outside of Docker.  That may be a clue.

[2022-11-21 22:20] maliberty commented on #599
You said that you are using ORFS so DOCKER_OPTIONS won't do anything as it is an OpenLane option.  How are you invoking docker in orfs?  You'll need to add the option there directly.

[2022-11-21 22:53] alybruin commented on #599
To invoke Docker, I typed      "docker run --privileged -it -u $(id -u ${1000}):$(id -g ${1000}) -v $(pwd)/flow/platforms:/OpenROAD-flow-scripts/flow/platforms:ro openroad/flow-scripts"    With or without --privileged, same issue.   (For some reason the dollar sign not showing up in the Docker command.)

[2022-11-21 22:56] maliberty commented on #599
https://github.com/The-OpenROAD-Project/OpenLane/blob/ff85171cfb10dc44911db7a62cc2d86f03807756/Makefile#L34 shows all the options that OL uses.  I suspect you need to mount /tmp/.X11-unix too

[2022-11-27 11:40] vvbandeira commented on #473
Closing due to lack of activity. Please open a new issue in case the problem is still relevant and occurring with the latest commit.

[2022-11-27 11:40] #473 closed, assigned to vvbandeira

[2022-11-30 13:06] lulu9312 opened #663 "OpenROAD-flow-scripts build not successful"
### Subject

[Build] for compilation-related issues.

### Describe the bug

I am updating OpenROAD-flow-scripts by using command `./build_openroad.sh --local --latest` but the build is not successful and gives the below error.
As @vijayank88 suggested in the slack thread  I also tried using commands
`sudo git clean -xdf .tools`
`sudo git submodule foreach --recursive git clean -xdf`
but stills the

[2022-11-30 13:44] vvbandeira commented on #663
@lulu9312  Did you run this exactly? There's a typo above (extra period); it should be:
[code]

Or you could use the following, which will do the commands automatically (and also save the log):
[code]

If the problem still persists, please upload a full log of the build. The build happens in parallel, so only the last couple of lines from the screenshot do not show what actually caused the error.

[2022-11-30 15:41] lulu9312 commented on #663
@vvbandeira There was typo while writing the earlier command , I had used sudo git clean -xdf ./tools.
Now I used this command `./build_openroad.sh --local --latest --clean-force 2>&1 | tee ../build.log` and same error persists. Also where does the build.log file get generated could not find it.

[2022-11-30 15:42] rovinski commented on #663
@lulu9312 please also do not take screenshots of the log, you can simply paste the text into the `Relevant log output` field. This makes it easier to read and also allows the log to be indexable in web searches for others who have similar problems.

Beyond that, it is important to include the full log for build errors. The build script is multithreaded so the last text you see does not mean that i

[2022-11-30 16:01] lulu9312 commented on #663
@rovinski Got it.I will keep that in mind.
@vvbandeira Found the log file. Here's the build.log
[build.log](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/files/10124898/build.log)

[2022-11-30 16:10] rovinski commented on #663
Maybe the log file is corrupted but something looks very wrong with your boost headers:
[code]
These should be header files not binary files. Try uninstalling and reinstalling Boost maybe?

[2022-11-30 16:16] rovinski opened #664 "Create build_openroad.sh log automatically"
**Is your feature request related to a problem? Please describe.**
Create a build log for `build_openroad.sh` automatically so that users don't have to follow extra steps when submitting build issues.

**Describe the solution you'd like**
See above

**Describe alternatives you've considered**
N/A

**Additional context**
We could use a solution similar to the one [here](https://stackoverflow.com/qu

[2022-11-30 16:17] rovinski commented on #664
I can work on this when I get a chance or someone else can take over.

[2022-11-30 22:29] maliberty commented on #599
Did this work for you?